﻿@model List<int>

<div class="panel-body">
    @if (Model.Count > 0)
    {
        <div class="row">
            <table class="table table-hover table-bordered" style="max-width: 500px;">
                <tr>
                    <th>@T("NB.Admin.Dispatch.Common.OrderId")</th>
                    <th></th>
                </tr>
                @foreach (var orderId in Model)
                {
                    <tr>
                        <td class="dispatchOrderID">
                            <span>&nbsp;</span>@T("NB.Admin.Dispatch.Common.OrderId") @orderId 
                        </td>
                        <td>
                            <span class="btn btn-default" onclick="loadOrderDetails(@orderId)">Select</span>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="panel panel-default sub-panel" style="text-align:center">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Total: @Model.Count() <em>Orders</em></label>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-md-8">
                <h4>@T("NB.Admin.Dispatch.Orders.Pending.Notfound")</h4>
            </div>
        </div>
    }
</div>
<script>
    function loadOrderDetails(orderId) {
        $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("LoadOrderDetails", "NBDispatchManagement"))",
            data: { orderId: orderId},
                  success: function (data) {
                      if (data) {
                          $("#dispatchOrderDetail").html(data);
                          $("#dispatchOrderDetail").hide();
                          $("#dispatchOrderDetail").fadeIn(2000);
                          //assign orderid to hidden field
                          $("#orderIdForAgent").val(orderId);
                          }
                  },
                  error: function () {
                      alert("Error while retrieving order details!");
                  }
              });
    }
</script>
