﻿@model List<RecivedOrdersModel>
@using Nop.Web.Areas.Admin.Models.NB.DispatchManagement

<script>
    function getTimeDiff(datetimePars, elementid) {

        //get diff in milliseconds
        let diffInMilliSeconds = Math.abs(new Date(datetimePars) - new Date()) / 1000;

        // calculate days
        const days = Math.floor(diffInMilliSeconds / 86400);
        diffInMilliSeconds -= days * 86400;

        // calculate hours
        const hours = Math.floor(diffInMilliSeconds / 3600) % 24;
        diffInMilliSeconds -= hours * 3600;

        // calculate minutes
        const minutes = Math.floor(diffInMilliSeconds / 60) % 60;
        diffInMilliSeconds -= minutes * 60;

        // calculate seconds
        var seconds = Math.floor(diffInMilliSeconds);

        let difference = '';
        if (days > 0) {
            difference += (days === 1) ? `${days} day, ` : `${days} days, `;
        }
        difference += (hours < 10) ? `0${hours}h ` : `${hours}h `;
        difference += (minutes < 10) ? `0${minutes}m ` : `${minutes}m `;
        difference += (seconds < 10) ? `0${seconds}s` : `${seconds}s`;

        //append
        $('#' + elementid).html(difference);
    }
</script>

<div class="panel-body">
    @if (Model.Count > 0)
    {
        <div class="row">
            <table class="table table-hover table-bordered" >
                <tr>
                    <th>@T("NB.Admin.Dispatch.Common.OrderId")</th>
                    <th>@T("NB.Admin.Dispatch.Time")</th>
                </tr>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>
                             @order.RecivedOrderId
                        </td>
                        <td>
                            <span id="od-date-@order.RecivedOrderId"></span>
                            <script>
                                setInterval(function (){
                                    getTimeDiff('@order.OrderCreatedOn','od-date-@order.RecivedOrderId')
                                }, 1000);
                            </script>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="panel panel-default sub-panel" style="text-align:center">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Total: @Model.Count() <em>Orders</em></label>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-md-8">
                <h4>@T("NB.Admin.Dispatch.Orders.Recived.Notfound")</h4>
            </div>
        </div>
    }
</div>

