﻿@model List<int>
<div class="panel-body">
    @if (Model.Count > 0)
    {
        <div class="row">
            <table class="table table-hover table-bordered" style="max-width: 500px;">
                <tr>
                    <th>@T("NB.Admin.Dispatch.Common.OrderId")</th>
                    <th> </th>
                </tr>
                @foreach (var orderId in Model)
                {
                    <tr>
                        <td class="dispatchOrderID">
                            <span>&nbsp;</span> @T("NB.Admin.Dispatch.Common.OrderId") 
                        </td>
                        <td>
                            @orderId
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="panel panel-default sub-panel" style="text-align:center">
            <div class="form-group">
                <div class="col-md-12">
                    <label class="control-label">Total: @Model.Count() <em>Orders</em></label>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">
            <div class="col-md-12">
                <h4>@T("NB.Admin.Dispatch.Orders.Ongoing.Notfound")</h4>
            </div>
        </div>
    }
</div>
