﻿@model PhoneNumberConfirmationModel

@{
    Layout = "";
}

<div class="title">
    <strong>@T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.Title")</strong>
</div>

@if (Model.AvailableCallingCodes != null && Model.AvailableCallingCodes.Count() > 0)
{
    <form class="phonenumber-confirmation-form" method="post">
        <div class="form-fields">
            @await Html.PartialAsync( Constants.CountriesDropdownWithPhoneNumberPartialViewPath, Model)
        </div>

        <div class="buttons">
            <input class="button-1 back-button" type="button" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.Login.Back")" />
            <input class="button-1 phone-confirmation-button" type="submit" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.Login.Next")" />

        </div>
    </form>

    <script>
        Resanehlab.documentReady(function () {
            $(".back-button").click(function () {
                $.ajax({
                    cache: false,
                    url: '@Url.Action("RenderEmailOrPhoneNumberForm", "PhoneAuthenticationCustomer")',
                    data: { EmailOrPhoneNumber: $("#PhoneNumber").val() },
                    type: 'post',
                    beforeSend: function () {
                        $("#PhoneNumber").addClass("loading");
                    },
                    success: function (response) {
                        if (!response.success)
                            validator.showErrors({
                                "PhoneNumber": response.message
                            });
                        else if (response.update_section)
                            $("." + response.update_section.name).html(response.update_section.html);
                    },
                    complete: function () {
                        $("#PhoneNumber").removeClass("loading");
                    },
                    error: function (error) {
                        alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.ErrorNotification")");
                    }
                });
            });

            /* // Forms Validation ___________________________________ */
            jQuery.validator.addMethod("phoneNumberRegexValidation", function (value, element, regexp) {
                var re = new RegExp(regexp);
                return this.optional(element) || re.test(value);
            }, "@T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.Fields.PhoneNumber.WrongFormat")");

            var validator = $(".phonenumber-confirmation-form").validate({
                errorElement: 'p',
                errorClass: 'tip tip-error',

                highlight: function (element) {
                    $(element).removeClass("tip tip-error");
                },

                rules: {
                    PhoneNumber: { required: true, phoneNumberRegexValidation: "@Html.Raw(Model.AvailableCallingCodes.First(model => model.Selected).RegexPattern.Replace(@"\", @"\\"))" }
                },

                // Specify the validation error messages
                messages: {
                    PhoneNumber: {
                        required: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.Fields.PhoneNumber.Required")",
                    }
                },

                submitHandler: function (form) {
                    $.ajax({
                        cache: false,
                        url: '@Url.Action("RenderPhoneNumberConfirmationNextStep", "PhoneAuthenticationCustomer")',
                        data: $(form).serialize(),
                        type: 'post',
                        beforeSend: function () {
                            $("#PhoneNumber").addClass("loading");
                        },
                        success: function (response) {
                            if (!response.success)
                                validator.showErrors({
                                    "PhoneNumber": response.message
                                });
                            else if (response.update_section)
                                $("." + response.update_section.name).html(response.update_section.html);
                        },
                        complete: function () {
                            $("#PhoneNumber").removeClass("loading");
                        },
                        error: function (error) {
                            alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.ErrorNotification")");
                        }
                    });
                }
            });
        });
    </script>
}
else
{
    <div class="form-fields">
        <div class="calling-code-no-data">
            @T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.CallingCodes.NotAvailable")
        </div>
    </div>

    <div class="buttons">
        <input class="button-1 back-button" type="button" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.Login.Back")" />
    </div>

    <script>
        Resanehlab.documentReady(function () {
            $(".back-button").click(function () {
                $.ajax({
                    cache: false,
                    url: '@Url.Action("RenderEmailOrPhoneNumberForm", "PhoneAuthenticationCustomer")',
                    type: 'post',
                    success: function (response) {
                        if (response.success)
                            $("." + response.update_section.name).html(response.update_section.html);
                    },
                    complete: {},
                    error: function (error) {
                        alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.ErrorNotification")");
                    }
                });
            });
        });
    </script>
}
