﻿@model TwoStepVerificationModel

@{
    Layout = "";
}

<form class="twostep-confirm-code signIn-form" method="post">
    <input asp-for="ReturnUrl" type="hidden" />
    <input asp-for="RememberMe" type="hidden" />
    <input asp-for="SelectedCountryTwoLetterIsoCode" type="hidden" />
    <input asp-for="CredentialType" type="hidden" />

    <div class="title">
        <strong>@T("Resanehlab.Plugin.Authentication.PhoneNumber.SignIn.Title")</strong>
    </div>
    <div class="form-fields">
        <div class="previous-step-container">
            <button class="previous-step" type="button">
                <img src="@string.Format(Constants.PluginOutputPathWithoutTilde + Constants.PluginImagesPath + "{0}", "arrow_left.svg")" />
            </button>
            <span class="credential">@Model.Credential</span>
        </div>

        <div class="inputs">
            <label asp-for="Code" asp-postfix=":"></label>
            <input asp-for="Code" class="Code" placeholder="@T("Account.Login.Fields.Code")" />
            <p id="Code-error" class="tip tip-error"></p>
        </div>
    </div>
    <div class="buttons">
        <input class="button-1 signin-button" type="submit" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.Account.VerifyPhoneNumber")" />
        <input type="button" class="button-1 resendCodeButton" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.ResendCodeButton")" />
        <span class="remainingTimeForResendCodeRequest"></span>
    </div>
</form>
<script>
    Resanehlab.documentReady(function () {
        $(".previous-step").click(function () {
            var url = "";
            var data = "";
            if ($("#CredentialType").val() == '@CredentialType.Email') {
                url = '@Url.Action("RenderEmailOrPhoneNumberForm", "PhoneAuthenticationCustomer")';
                data = { EmailOrPhoneNumber: $("#Credential").val() };
            }
            if ($("#CredentialType").val() == '@CredentialType.PhoneNumber') {
                url = '@Url.Action("RenderPhoneNumberConfirmation", "PhoneAuthenticationCustomer")';
                data = { PhoneNumber: $("#Credential").val(), SelectedCountryTwoLetterIsoCode: $("#SelectedCountryTwoLetterIsoCode").val() };
            }
            $.ajax({
                cache: false,
                url: url,
                data: data,
                type: 'post',
                beforeSend: function () {
                    $("#Code").addClass("loading");
                },
                success: function (response) {
                    if (!response.success)
                        showError(response.message);
                    else if (response.update_section)
                        $("." + response.update_section.name).html(response.update_section.html);
                },
                complete: function () {
                    $("#Code").removeClass("loading");
                },
                error: function (error) {
                    alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.ErrorNotification")");
                }
            });
        });

        $('.twostep-confirm-code').on('submit', function (e) {
            e.preventDefault();

            var form = this;
////////////////////////////////////////////////////////////
        });
    });

    function showError(message, captchaString) {
        var elem = $("p.tip-error");
        elem.text(message);
        elem.show();
        setTimeout(function () {
            elem.hide();
        }, 4000);

        @*@if (Model.DisplayCaptcha)
        {
            <text>
                $(".captcha-box").html(captchaString)
            </text>
        }*@
    }

    var count = @Model.WaitingTimeForNextResendCodeRequestInSeconds;
    var counter;

    function timer() {
        count = count - 1;
        if (count <= 0) {
            clearInterval(counter);
            $('.remainingTimeForResendCodeRequest').hide();
            $('.resendCodeButton').show();
            return;
        }
        $('.remainingTimeForResendCodeRequest').text('@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.RequestForResendCode")' + " " + count + " " + '@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Seconds")')
    }

    Resanehlab.documentReady(function () {
        counter = setInterval(timer, 1000);
        $("#Code").trigger("focus");

        $('.resendCodeButton').click(function () {
            var form = $(".twostep-confirm-code");
            $.ajax({
                cache: false,
                url: '@Url.Action("TwoStepVerificationResendVerificationCode", "PhoneAuthenticationCustomer")',
                type: 'get',
                beforeSend: function () {
                    $("#Code").addClass("loading");
                },
                success: function (response) {
                    count = @Model.WaitingTimeForNextResendCodeRequestInSeconds;
                    counter = setInterval(timer, 1000);
                    $('.resendCodeButton').hide();
                    $('.remainingTimeForResendCodeRequest').text('@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.RequestForResendCode")' + " " + count + " " + '@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Seconds")')
                    $('.remainingTimeForResendCodeRequest').show();
                    if (!response.success) {
                        validator.showErrors({
                            "Code": response.message
                        });
                    }
                },
                complete: function () {
                    $("#Code").removeClass("loading");
                },
                error: function (error) {
                    alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.SendingMessage.ErrorNotification")");
                }
            });
        });

        var validator = $(".twostep-confirm-code").validate({
            errorElement: 'p',
            errorClass: 'tip tip-error',

            highlight: function (element) {
                $(element).removeClass("tip tip-error");
            },

            errorPlacement: function (error, element) {
                error.insertAfter(".twostep-confirm-code .required");
            },

            rules: {
                Code: {
                    required: true,
                    minlength: @Constants.SMSVerificationCodeEntity_CodeProperty_MaxLength,
                    maxlength: @Constants.SMSVerificationCodeEntity_CodeProperty_MaxLength,
                    number: true
                }
            },

            // Specify the validation error messages
            messages: {
                Code: {
                    required: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Field.Code.Required")",
                    minlength: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Field.Code.WrongFormat")",
                    maxlength: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Field.Code.WrongFormat")",
                    number: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSCodeVerification.Field.Code.WrongFormat")"
                }
            },

            submitHandler: function (form) {
            $.ajax({
                cache: false,
                url: '@Url.Action("TwoStepVerificationLogin", "PhoneAuthenticationCustomer")',
                data: $(form).serialize(),
                type: 'post',
                beforeSend: function () {
                    $("#Code").addClass("loading");
                },
                success: function (response) {
                    if (!response.success)
                        showError(response.message, response.captcha_string);
                    else if (response.url)
                        window.location.href = response.url;
                    //else if (response.update_section)
                    //    $("." + response.update_section.name).html(response.update_section.html);
                },
                complete: function () {
                    $("#Code").removeClass("loading");
                },
                error: function (error) {
                    alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.ErrorNotification")");
                }
            });
            },
        });
    });
</script>