﻿@model PasswordRecoveryConfirmModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
@using Nop.Web.Models.Customer;

<div class="page password-recovery-page">
    <div class="page-title">
        <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        @if (!Model.DisablePasswordChanging)
        {
            <form asp-route="Resanehlab.Plugin.Authentication.PhoneNumber.PasswordRecoveryByPhoneNumberConfirm" asp-route-code="@Context.Request.Query["code"]" asp-route-phoneNumber="@Context.Request.Query["phoneNumber"]" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            <label asp-for="NewPassword" asp-postfix=":"></label>
                            <input asp-for="NewPassword" />
                            <nop-required />
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="inputs">
                            <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                            <input asp-for="ConfirmNewPassword" />
                            <nop-required />
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="set-password" class="button-1 new-password-button" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                </div>
            </form>
        }
    </div>
</div>