﻿@model PhoneNumberConfirmationModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("Resanehlab.Plugin.Authentication.PhoneNumber.PageTitle.PhoneNumberVerification").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");

    Html.AppendCssFileParts(string.Format(Constants.PluginOutputPath + Constants.PluginCssPath + "{0}", "style.css"));
    Html.AppendCssFileParts(string.Format(Constants.PluginOutputPath + Constants.PluginCssPath + "{0}", "bootstrap.min.css"));

    Html.AppendScriptParts(ResourceLocation.Footer, string.Format(Constants.PluginOutputPath + Constants.PluginScriptsPath + "{0}", "bootstrap.min.js"));
    Html.AppendScriptParts(ResourceLocation.Footer, string.Format(Constants.PluginOutputPath + Constants.PluginScriptsPath + Constants.JqueryValidationScriptsFolder + "/{0}", "additional-methods.min.js"));
    Html.AppendScriptParts(ResourceLocation.Footer, string.Format(Constants.PluginOutputPath + Constants.PluginScriptsPath + Constants.JqueryValidationScriptsFolder + "/{0}", "jquery.validate.min.js"));
}

@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.Info })
}

<div class="page account-page phonenumber-verification-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Resanehlab.Plugin.Authentication.PhoneNumber.PageTitle.PhoneNumberVerification")</h1>
    </div>
    <div class="page-body">
        @if (Model.AvailableCallingCodes != null && Model.AvailableCallingCodes.Count() > 0)
        {
            <form class="phonenumber-verification-form" method="post">
                @Html.AntiForgeryToken()

                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberVerification.Title")</strong>
                    </div>
                    <div class="pha-hint">
                        <strong>@T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberVerification.Hint")</strong>
                    </div>
                    <div class="form-fields">
                        <div class="form-fields">
                            @await Html.PartialAsync(Constants.CountriesDropdownWithPhoneNumberPartialViewPath, Model)
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input class="button-1 phone-verification-button" type="submit" value="@T("Common.Save")" />
                </div>
            </form>

            <script>
                Resanehlab.documentReady(function () {
                    $('div.listbox > ul.list li > a.active').addClass('inactive').removeClass('active');
                    $('div.listbox > ul.list li.customer-phonenumber-verify > a').addClass('active');

                    $("#delete-phonenumber").click(function () {
                        $.ajax({
                            cache: false,
                            url: '@Url.Action("DeletePhoneNumber", "PhoneAuthenticationCustomer")',
                            type: 'post',
                            beforeSend: function () {
                                $("#PhoneNumber").addClass("loading");
                            },
                            success: function (response) {
                                if (!response.success)
                                    validator.showErrors({
                                        "PhoneNumber": response.message
                                    });
                                else if (response.url)
                                    window.location.href = response.url;
                            },
                            complete: function () {
                                $("#PhoneNumber").removeClass("loading");
                            },
                            error: function (error) {
                                alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.ErrorNotification")");
                            }
                        });
                    });

                    /* // Forms Validation ___________________________________ */
                    jQuery.validator.addMethod("phoneNumberRegexValidation", function (value, element, regexp) {
                        var re = new RegExp(regexp);
                        return this.optional(element) || re.test(value);
                    }, "@T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.Fields.PhoneNumber.WrongFormat")");

                    var validator = $(".phonenumber-verification-form").validate({
                        errorElement: 'p',
                        errorClass: 'tip tip-error',

                        @if (Model.HasValidPhoneNumber) {
                            <text>
                        errorPlacement: function (error, element) {
                            error.insertAfter(".btn.btn-danger");
                        },
                            </text>
                        }

                        highlight: function (element) {
                            $(element).removeClass("tip tip-error");
                        },

                        rules: {
                            PhoneNumber: { required: true, phoneNumberRegexValidation: "@Html.Raw(Model.AvailableCallingCodes.First(model => model.Selected).RegexPattern.Replace(@"\", @"\\"))" }
                        },

                        // Specify the validation error messages
                        messages: {
                            PhoneNumber: {
                                required: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.Fields.PhoneNumber.Required")",
                            }
                        },

                        submitHandler: function (form) {
                            $.ajax({
                                cache: false,
                                url: '@Url.Action("RenderSMSCodeVerification", "PhoneAuthenticationCustomer")',
                                data: $(form).serialize(),
                                type: 'post',
                                beforeSend: function () {
                                    $("#PhoneNumber").addClass("loading");
                                },
                                success: function (response) {
                                    if (!response.success)
                                        validator.showErrors({
                                            "PhoneNumber": response.message
                                        });
                                    else if (response.update_section)
                                        $("." + response.update_section.name).html(response.update_section.html);
                                },
                                complete: function () {
                                    $("#PhoneNumber").removeClass("loading");
                                },
                                error: function (error) {
                                    alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.SendingMessage.ErrorNotification")");
                                }
                            });
                        }
                    });
                });
            </script>
        }
        else
        {
            <div class="no-data">
                @T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.CallingCodes.NotAvailable")
            </div>
        }
    </div>
</div>