﻿@model Nop.Web.Areas.Admin.Models.BookingTable.BookingTableTransactionListSearchModel

<div class="bookAtablePopUp">
    <form asp-controller="HomeMerchant" asp-action="SubmitTableDetails" method="post" id="order-form">
        <img src="@ViewBag.Picture" width="500" />
        <div class="row">
            <div class="col-md-4">
                <div class="inputs form-group inputBookingDateIcon">
                    <label class="control-label" for="BookingDate">Date</label>
                    <input type="text" asp-for="DateOfBirthDay" id="inputBookingDate" class="form-control datepicker" click="notify()" placeholder="Booking Date" value="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="inputs form-group halfdiv">
                    <label class="control-label">Time</label>
                    <select asp-for="From" id="ddlTimingsFrom" (change)="getAvailableTables()"><option value="0">--From --</option></select>
                </div>
                <div class="inputs form-group halfdiv">
                    <label class="control-label">&nbsp;</label>
                    <select asp-for="To" id="ddlTimingsTo"><option value="0">--To --</option></select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="inputs form-group">
                    <label class="control-label">Select Table</label>
                    <select asp-for="TableNumber" id="ddlTables"><option value="0">--Select Table --</option></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="inputs form-group">
                    <label class="control-label">Customer Name</label>
                    <nop-editor asp-for="CustomerName" class="form-control" placeholder="Customer Name" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="inputs form-group">
                    <label class="control-label">Customer Mobile Number</label>
                    <nop-editor asp-for="MobileNumber" type="tel" class="form-control" placeholder="e.g. +1 702 123 4567" />

                </div>
            </div>
            <div class="col-md-4">
                <div class="inputs form-group">
                    <label class="control-label">Customer Email</label>
                    <nop-editor asp-for="Email" class="form-control" placeholder="Customer Email" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="inputs form-group">
                    <nop-label asp-for="SpecialNotes" />
                    <nop-editor asp-for="SpecialNotes" class="form-control" placeholder="Special Notes" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="inputs form-group">
                    <nop-label asp-for="SeatingCapacity" />
                    <nop-editor asp-for="SeatingCapacity" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right fancyBtns">
                <button type="button" data-fancybox-close="" class="fancybox-button fancybox-close-small" title="Close">Cancel</button>
                <button type="submit" id="search-products" class="btn btn-primary btn-search">
                    <i class="fa fa-search"></i>
                    @T("Admin.booking.button")
                </button>

            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
       // $(".fancy-text").fancybox();
        $("#ddlTimingsFrom").change(function () {
            var FromTime = $("#ddlTimingsFrom").val();
            if (FromTime != null) {
                $("#ddlTimingsTo").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableToTimings", "HomeMerchant"))",
                data: { "From": FromTime },
                contentType: "application/json",
                success: function (data) {
                    $("#ddlTimingsTo").append($("<option></option>").val("-Select Table-").html("--Select To--"));
                 $.each(data, function (id, option) {
                     $("#ddlTimingsTo").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

        });
        $("#ddlTimingsTo").change(function () {
            $("#ddlTables").empty();
            var FromTime = $("#ddlTimingsFrom").val();
            var ToTime = $("#ddlTimingsTo").val();
            var date = $("#inputBookingDate").val();
            if (FromTime != null && ToTime != null) {
                var bookingModel = {
                    From: "Shyju",
                    To: "Detroit",
                };
            $.ajax({
                url: "@(Url.Action("GetAvailableTables", "HomeMerchant"))",
                type: "Get",
                data: { "From": FromTime, "To": ToTime,"date":date },
                contentType: "application/json",
                success: function (data) {
                    $("#ddlTables").append($("<option></option>").val("-Select Table-").html("--Select Table--"));
                 $.each(data, function (id, option) {
                     $("#ddlTables").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

        });
    });



    function dateChanged(ev) {
        $("#ddlTimingsTo").empty();
        $("#ddlTimingsFrom").empty();
         $.ajax({
                    cache: false,
                    type: "GET",
             url: "@(Url.Action("GetAvailableTimings", "HomeMerchant"))",
             data: { "date": ev.target.value },
             success: function (data) {
                 $("#ddlTimingsFrom").append($("<option></option>").val("-Select From-").html("--Select From--"));
                 $.each(data.AvailableTimings, function (id, option) {
                     $("#ddlTimingsFrom").append($("<option></option>").val(option.Text).html(option.Value));
                     //$("#ddlTimingsTo").append($("<option></option>").val(option.Text).html(option.Value));
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                 });
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
    }
    function getAvailableTables() {
    }
    

</script>


