@model CustomerRoleModel

@{
    //page title
    ViewBag.Title = T("NB.Admin.Configuration.Roles.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("NB Roles");
}

<form asp-controller="NBRole" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.Configuration.Roles.AddNew") 
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("NB.Admin.Configuration.Roles.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @*@await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CustomerRoleDetailsButtons })*@
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>