@model PermissionMappingModel
@inject Nop.Core.IWorkContext workContext;

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.ACL").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Access control list");
}

@{
    var isSuperAdmin = workContext.IsAdminRole;
    var superAdminPermisionsOnly = new List<string>()
    {
        "Admin area. Access order country report",
        "Admin area. HTML Editor. Manage pictures",
        "Admin area. Manage Activity Log",
        "Admin area. Manage Affiliates",
        "Admin area. Manage Blog",
        "Admin area. Manage Campaigns",
        "Admin area. Manage Countries",
        "Admin area. Manage Currencies",
        "Admin area. Manage Current Carts",
        "Admin area. Manage External Authentication Methods",
        "Admin area. Manage Forums",
        "Admin area. Manage Gift Cards",
        "Admin area. Manage Maintenance",
        "Admin area. Manage Manufacturers",
        "Admin area. Manage Message Queue",
        "Admin area. Manage News",
        "Admin area. Manage Newsletter Subscribers",
        "Admin area. Manage Plugins",
        "Admin area. Manage Polls",
        "Admin area. Manage Recurring Payments",
        "Admin area. Manage Return Requests",
        "Admin area. Manage Schedule Tasks",
        "Admin area. Manage Shipping Settings",
        "Admin area. Manage Stores",
        "Admin area. Manage Suppliers",
        "Admin area. Manage System Log",
        "Admin area. Manage Vendors Gallery",
        "Admin Area.ProductCuisine",
        "Admin Area.ProductDishType",
        "Admin area.Setting.Agent Allocation",
        "Change Password",
        "Public store. Access a closed store",
        "Public store. Allow navigation",
        "Public store. Display Prices",
        "Public store. Enable shopping cart",
        "Public store. Enable wishlist",
    };
    superAdminPermisionsOnly = superAdminPermisionsOnly.Select(p => p.Trim()).ToList();
}

<form asp-controller="Security" asp-action="Permissions" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.ACL")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.PermissionListButtons })
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>
                            @T("Admin.Configuration.ACL.Description")
                        </p>
                        @if (Model.AvailablePermissions.Count == 0)
                        {
                            <text>No permissions defined</text>
                        }
                        else if (Model.AvailableCustomerRoles.Count == 0)
                        {
                            <text>No customer roles available</text>
                        }
                        else
                        {
                            <script>
                                $(document).ready(function () {
                                    @foreach (var cr in Model.AvailableCustomerRoles)
                                    {
                                        <text>
                                    $('#selectall-@(cr.Id)').click(function () {
                                        $('.allow_@(cr.Id)').attr('checked', $(this).is(':checked')).change();
                                    });

                                    </text>
                                    }
                                });
                            </script>
                            <div class="scroll-wrapper">
                                <table id="permissionTable" class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <strong>@T("Admin.Configuration.ACL.Permission")</strong>
                                            </th>
                                            @foreach (var cr in Model.AvailableCustomerRoles)
                                            {
                                                <th scope="col">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="selectall-@(cr.Id)" />
                                                            <strong>@cr.Name</strong>
                                                        </label>
                                                    </div>
                                                </th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var pr in Model.AvailablePermissions)
                                        {
                                            <tr @(!isSuperAdmin && superAdminPermisionsOnly.Contains(pr.Name.Trim()) ? Html.Raw("style='display: none;'") : null)>
                                                <td>
                                                    <span>@pr.Name</span>
                                                </td>
                                                @foreach (var cr in Model.AvailableCustomerRoles)
                                                {
                                                    var allowed = Model.Allowed.ContainsKey(pr.SystemName) && Model.Allowed[pr.SystemName][cr.Id];
                                                    <td>
                                                        <input class="allow_@(cr.Id)" type="checkbox" value="@(pr.SystemName)" name="allow_@(cr.Id)" @(allowed ? " checked=checked" : null) />
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>