﻿@model AccountBillingModel
<div class="panel-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "transaction-grid",
        UrlRead = new DataUrl("ListAccountTransaction", "NBAccountsBilling"),
        Length = Model.AccountTransactionSearchModel.PageSize,
        LengthMenu = Model.AccountTransactionSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
        {
              new ColumnProperty(nameof(AccountTransactionModel.Date))
            {
                Title = T("NB.Admin.AccountBillings.AccountTransaction.Field.Date").Text,
                Width = "200",
                Render = new RenderDate()
            },
            new ColumnProperty(nameof(AccountTransactionModel.Description))
            {
                Title = T("NB.Admin.AccountBillings.AccountTransaction.Field.Description").Text,
                Width = "100"
            },
             new ColumnProperty(nameof(AccountTransactionModel.Amount))
            {
                Title = T("NB.Admin.AccountBillings.AccountTransaction.Field.Amount").Text,
                Width = "300",
                Render = new RenderCustom("renderColumnAmount")
            }
        }
    })
    <script>
        function renderColumnAmount(data, type, row, meta) {
            var color = "green";
            if (row.Amount < 0) {
                color = 'red';
            }
            return '<span class="grid-report-item ' + color + '">' + data + '</span >';
        }
    </script>
</div>
