﻿@model AccountPackagePaymentUpdateModel
@using Nop.Web.Areas.Admin.Models.NB.AccountsBilling;
@{
    Layout = "_AdminPopupLayout";
    //title
    Html.AddTitleParts(T("PageTitle.PackagePayment").Text);
}

@if (ViewBag.RefreshPage == true)
{
    <script>
        try {window.opener.document.forms['accountbilling-form']}
        catch (e){}
        window.close();
    </script>
}
else
{
    <form asp-action="UpdatePackagePayment" method="post">
        <div asp-validation-summary="All" class="message-error"></div>
        <input asp-for="CustomerId" type="hidden" />
        <input asp-for="PackageId" type="hidden" />
        <input asp-for="PackagePlanId" type="hidden" />
        <input asp-for="AmountToBePaidPrice" type="hidden" />
        <div class="content-header clearfix">
            <h1 class="pull-left">
                @T("NB.Package.PackagePayment")
            </h1>
            <div class="pull-right">
                &nbsp;
            </div>
        </div>
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default panel-search panel-popup">
                        <div class="panel-body">
                            <div class="row">
                                @*<div class="col-md-12">
            <input type="checkbox" id="UseExistingCard" asp-for="UseExistingCard" />
            <label for="SaveCardDetail">@Model.ExistingCardDetail</label>
        </div>*@
                                <div class="col-md-12">
                                    <table width="100%" cellspacing="2" cellpadding="1" border="0">
                                        <tr>
                                            <td>
                                                <label asp-for="CreditCardTypes">@T("Payment.SelectCreditCard"):</label>
                                            </td>
                                            <td>
                                                <select asp-for="CreditCardType" asp-items="Model.CreditCardTypes" class="dropdownlists"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label asp-for="CardholderName">@T("Payment.CardholderName"):</label>
                                            </td>
                                            <td>
                                                <input type="text" asp-for="CardholderName" style="width:165px;" autocomplete="off" />
                                                <span asp-validation-for="CardholderName"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label asp-for="CardNumber">@T("Payment.CardNumber"):</label>
                                            </td>
                                            <td>
                                                <input type="text" asp-for="CardNumber" style="width:165px;" autocomplete="off" maxlength="22" />
                                                <span asp-validation-for="CardNumber"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label asp-for="ExpireMonth">@T("Payment.ExpirationDate"):</label>
                                            </td>
                                            <td>
                                                <select asp-for="ExpireMonth" asp-items="Model.ExpireMonths"></select>
                                                /
                                                <select asp-for="ExpireYear" asp-items="Model.ExpireYears"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label asp-for="CardCode">@T("Payment.CardCode"):</label>
                                            </td>
                                            <td>
                                                <input type="password" asp-for="CardCode" style="width:60px;" autocomplete="off" maxlength="4" />
                                                <span asp-validation-for="CardCode"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel-footer">
                                        <input type="checkbox" id="SaveCardDetail" asp-for="SaveCardDetail" />
                                        <label for="SaveCardDetail">@T("NB.Package.PackagePayment.Subscribtion.CardSaved.Message")</label>
                                    </div>
                                </div>

                                <div class="buttons">
                                    <input type="submit" class="btn bg-blue" value="@T("NB.Package.PackagePayment.MakePayment")" name="verify-Payment-button" />
                                </div>

                                <div class="buttons">
                                    <input type="button" id="cancel" class="btn bg-blue" value="@T("NB.Package.PackagePayment.Cancel")" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
            <div class="content-header clearfix">
                <h1 class="pull-left">
                    @T("NB.Package.PackagePayment.Subscribtion.SubscribtionTitle")
                </h1>
                <div class="pull-right">
                    &nbsp;
                </div>
            </div>
            <div class="content">
                <div class="form-horizontal">
                    <div class="panel-group">
                        <div class="panel panel-default panel-search panel-popup">
                            <div class="row">
                                <div class="col-md-12">
                                    <table width="100%" cellspacing="2" cellpadding="1" border="0">
                                        <tr>
                                            <td>
                                                <label>@T("NB.Package.PackagePayment.Subscribtion.PackageName"):</label>
                                            </td>
                                            <td>
                                                @Model.PackageName
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>@T("NB.Package.PackagePayment.Subscribtion.PaymentPlan"):</label>
                                            </td>
                                            <td>
                                                @Model.PlanName
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>@T("NB.Package.PackagePayment.Subscribtion.Validity"):</label>
                                            </td>
                                            <td>
                                                @Model.Validity
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>@T("NB.Package.PackagePayment.Subscribtion.AmountAdusted"):</label>
                                            </td>
                                            <td>
                                                @Model.PlanPrice
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label>@T("NB.Package.PackagePayment.Subscribtion.AmountPayed"):</label>
                                            </td>
                                            <td>
                                                @Model.AmountToBePaid
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    <script>
        //$("#cancel").click(function () {
        //    window.location.href = "home"
        //});
    </script>
