﻿@model OTPVerificationModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/js/public.onepagecheckout.js?v=1.0");
}
    <div class="checkout-data">
        <div class="sbuTitleN">
            <h2>@T("nb.otp.verification")</h2>
            <p>@T("nb.otp.sent.phoneandemail")</p>
        </div>
        <div class="formDetails clearfix">
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="fieldBar clearfix">
                            <div class="row">
                                <div class="col-md-12">
                                    <input asp-for="CustomerId" type="hidden" />
                                    <input asp-for="OTP" placeholder="@T("nb.enter.otp")" />
                                    <span asp-validation-for="OTP"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <div asp-validation-summary="All" class="message-error"></div>
                    <input type="button" class="button-1 register-next-step-button" onclick="LoginSignUp.submit('checkout/OpcOTPVerification/')" value="@T("Checkout.LoginSignup.SignUp.Submit.Button")" name="register-button" />
                </div>
        </div>
    </div>
