﻿@model AddressModel
@if (Model != null)
{
<div class="checkout-data">
    <div id="dv-LoginDetails" class="step-title">
        @T("NB.Checkout.Delivery.Address") <img src="/Themes/IndiaExpressV1/Content/img/greenCheckImg1.png">
    </div>
    @{
        var address = Model;
        var addressLine = " ";
        //addressLine += address.FirstName;
        //addressLine += " " + address.LastName;
        var add1 = "";
        var add2 = "";

        var splitAddress = address.Address2.Split(",");
        add1 = splitAddress[0];
        if (splitAddress.Length >= 2)
        {
            add2 = splitAddress[1];
        }
        if (splitAddress.Length >= 3)
        {
            add2 = splitAddress[1] + splitAddress[2];
        }
        if (address.StreetAddressEnabled && !string.IsNullOrEmpty(address.Address2))
        {
            addressLine += "" + add1;
        }
        if (!string.IsNullOrEmpty(address.Address1))
        {
            addressLine += ", " + address.Address1;
        }
        if (!string.IsNullOrEmpty(address.HouseNumber))
        {
            addressLine +=" / " + address.HouseNumber;
        }
        if (!string.IsNullOrEmpty(address.ZipPostalCode))
        {
            addressLine += ", " + address.ZipPostalCode;
        }
        if (!string.IsNullOrEmpty(add2))
        {
            addressLine += ", " + add2;
        }
    @*if (address.CityEnabled && !string.IsNullOrEmpty(address.City))
    {
    addressLine += ", " + address.City;
    }*@
        //if (address.StateProvinceEnabled && !string.IsNullOrEmpty(address.StateProvinceName))
        //{
        //addressLine += ", " + address.StateProvinceName;
        //}
        //if (address.ZipPostalCodeEnabled && !string.IsNullOrEmpty(address.ZipPostalCode))
        //{
        //addressLine += " " + address.ZipPostalCode;
        //}
        //if (address.CountryEnabled && !string.IsNullOrWhiteSpace(address.CountryName))
        //{
        //addressLine += ", " + address.CountryName;
        //}
        //if (!string.IsNullOrWhiteSpace(address.Landmark))
        //{
        //    addressLine += ", " + address.Landmark;
        //}
    <div class="step a-item">
        <div class="changeAdressLink">@T("Checkout.BillingAddress.Change")</div>
        <h5>@address.AddressType</h5>
        <p>@(addressLine)</p>
    </div>
    <script type="text/javascript">
        var addtocartReq = false;
        $('.product-box-add-to-cart-button').bind("click", function () {
            addtocartReq = true;
        });
        $(document).ajaxComplete(function () {
            if (addtocartReq) {
                Billing.selectAddress('@(Model.Id)')
                addtocartReq = false;
            }
        });
    </script>
    }
</div>
}