﻿@model CheckoutBillingAddressModel
<div class="checkout-data">
    <input type="hidden" id="hdbilling_address_id" name="billing_address_id" />
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_billing_address_top" })
    @if (1 == 1)
    {
        <div class="section ship-to-same-address" style="display:none">
            <p class="selector">
                <input asp-for="ShipToSameAddress" />
                <label asp-for="ShipToSameAddress">@T("Checkout.ShipToSameAddress")</label>
            </p>
        </div>
    }
    <div class="section select-billing-address">

        @*<select name="billing_address_id" id="billing-address-select" class="address-select"
            title="" onchange="Billing.newAddress(!this.value)">*@

        <div class="addressBox">
            <div class="addressNTit">@T("Checkout.BillingAddress.AddNewAddress")</div>
            <input type="button" title="@T("Checkout.BillingAddress.AddNew")" class="button-1 new-address-next-step-button" onclick="Billing.selectAddress('')" value="@T("Checkout.BillingAddress.AddNew")" />
        </div>

    </div>


    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_billing_address_middle" })
    <div class="section new-billing-address customNewAddressC" id="billing-new-address-form">
        <div class="opacityBg"></div>
        <div class="newAddressForm">
            <div class="enter-address">
                <span class="close" onclick="Billing.closePopup()">&times;</span>
                <h5> @T("billing.newaddress.text")</h5>

            </div>

            <div class="buttons" id="billing-buttons-container" style="clear:both;">
                <input type="button" id="billing-button-continue" title="@T("Checkout.BillingAddress.SaveAndProceed")" class="button-1 new-address-next-step-button" onclick="GetLocation(true)" value="@T("Checkout.BillingAddress.SaveAndProceed")" />
                <span class="please-wait" id="billing-please-wait" style="display: none;">@T("Common.LoadingNextStep")</span>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = "op_checkout_billing_address_bottom" })
</div>
<script>
    $(function () {

        function checkNewAdVal(yourSeclector, errorSelector, errorMsgTxt) {
            if ($(yourSeclector).val().trim().length === 0) {
                if ($(yourSeclector).next(errorSelector).length === 0) {
                    $(yourSeclector).after('<div class="customeErrorAd">' + errorMsgTxt + '</div>');
                }
            } else {
                $(yourSeclector).next(errorSelector).remove();
            }
        }

        $("#billing-button-continue").click(function () {



            checkNewAdVal("#BillingNewAddress_FirstName", ".customeErrorAd", '@T("nb.Please.enter.first.name")');
            checkNewAdVal("#BillingNewAddress_Email", ".customeErrorAd", '@T("nb.Please.enter.Email")');
            checkNewAdVal("#BillingNewAddress_Address2", ".customeErrorAd", '@T("nb.Please.enter.address")');
            checkNewAdVal("#BillingNewAddress_Address1", ".customeErrorAd", '@T("nb.Please.enter.Door.Flat.No")');
            checkNewAdVal("#BillingNewAddress_Landmark", ".customeErrorAd", '@T("nb.Please.enter.Landmark")');


            if ($(".newAddressForm .customeErrorAd").length > 0) {
                return false;
            }

        });

        $("#BillingNewAddress_FirstName").change(function () {
            checkNewAdVal("#BillingNewAddress_FirstName", ".customeErrorAd", '@T("nb.Please.enter.first.name")');
        })
        $("#BillingNewAddress_Email").change(function () {
            checkNewAdVal("#BillingNewAddress_Email", ".customeErrorAd", '@T("nb.Please.enter.Email")');
        })
        $("#BillingNewAddress_Address2").change(function () {
            checkNewAdVal("#BillingNewAddress_Address2", ".customeErrorAd", '@T("nb.Please.enter.address")');
        })
        $("#BillingNewAddress_Address1").change(function () {
            checkNewAdVal("#BillingNewAddress_Address1", ".customeErrorAd", '@T("nb.Please.enter.Door.Flat.No")');
        })
        $("#BillingNewAddress_Landmark").change(function () {
            checkNewAdVal("#BillingNewAddress_Landmark", ".customeErrorAd", '@T("nb.Please.enter.Landmark")');
        })

    })
</script>