﻿@model RLBaseConfigurationModel
@{
    Layout = "_ConfigurePlugin";
    var body = RenderBody();

    Html.AddCssFileParts($"{Constants.PluginAdminStylesPath}/resanehlab-core-admin.css");
}

<span class="license-key-validation-message @(Model.IsValidLicenseKey ? "valid-license" : "invalid-license")">@Model.Message</span>

<form method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.PluginSettings)
    @Html.HiddenFor(model => model.IsValidLicenseKey)

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Resanehlab.Plugin.Core.Admin.Configuration")
        </h1>
        @if (Model.IsValidLicenseKey)
        {
            <div class="pull-right">
                <button type="submit" name="save" class="btn bg-blue">
                    <i class="fa fa-floppy-o"></i>
                    @T("Admin.Common.Save")
                </button>
            </div>
        }
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="LicenseKey" />
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <nop-editor asp-for="LicenseKey" />
                            <div class="input-group-btn">
                                <button type="submit" name="ChangeLicenseKey" class="btn btn-info">
                                    @T("Resanehlab.Plugin.Core.LicenseKey.Change")
                                </button>
                            </div>
                        </div>
                        <span asp-validation-for="LicenseKey"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @if (Model.IsValidLicenseKey)
    {
        @body
    }

</form>


