﻿@model Nestorbird.Plugin.Api.Model.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="MerchantApi" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantAppWebKey_OverrideForStore" asp-input="MerchantAppWebKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantAppWebKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantAppWebKey" />
                        <span asp-validation-for="MerchantAppWebKey"></span>
                    </div>
                </div>                
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-primary" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>