﻿@model SupplierProductSearchModel

@using Nop.Core.Domain.NB.Suppliers;

@{
    const string hideSearchBlockAttributeName = "BulkEditPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}
<link rel="stylesheet" href="/lib/kendo/2014.1.318/kendo.common.min.css" />
<link rel="stylesheet" href="/lib/kendo/2014.1.318/kendo.default.min.css" />
<link rel="stylesheet" href="/lib/kendo/2014.1.318/kendo.default.mobile.min.css" />
<script src="/lib/kendo/2014.1.318/kendo.grid.min.js"></script>
<script src="/lib/kendo/2014.1.318/kendo.pager.min.js"></script>


   
  @T("Admin.Common.Search")

    <div class="panel panel-default">
        <div class="panel-body">
            <div id="suppliers-grid"></div>

            <script type="text/javascript">
                            $(document).ready(function() {
                                $("#suppliers-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("BulkEditSelect", "NBSupplier"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: additionalData
                                            },
                                            update: {
                                                url: "@Html.Raw(Url.Action("BulkEditUpdate", "NBSupplier"))",
                                                type: "POST",
                                                dataType: "json"
                                            },

                                            parameterMap: function (data, operation) {
                                                if (operation != "read") {
                                                    var result = {};
                                                    for (var i = 0; i < data.models.length; i++) {
                                                        var entity = data.models[i];

                                                        for (var member in entity) {
                                                            result["products[" + i + "]." + member] = entity[member];
                                                        }
                                                    }

                                                    addAntiForgeryToken(result);
                                                    return result;
                                                } else {
                                                    addAntiForgeryToken(data);
                                                    return data;
                                                }
                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors",
                                            model: {
                                                id: "Id",
                                                fields: {

                                                    ProductName: { editable: false, type: "string" },
                                                            ProductId: { editable: false, type: "number" },
                                                            Sku: { editable: false, type: "string" },
                                                    Price: { editable: true, type: "number" },
                                                            Id: { editable: false, type: "number" }

                                                    }
                                            }
                                        },
                                        requestEnd: function (e) {
                                            if (e.type == "update") {
                                                this.read();
                                            }
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        //bulk editing
                                        batch: true,
                                        pageSize: @(Model.PageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: false
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(Model.AvailablePageSizes)]
                                    },
                                    toolbar: ["save", "cancel"],
                                    editable: {
                                        confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                        //bulk editing
                                        mode: "incell"
                                    },
                                    scrollable: false,
                                    columns: [
                                        {
                                            field: "ProductName",
                                        title: "@T("Admin.Supplier.BulkEdit.Fields.Name")",
                                        width: 200
                                    },
                                        {
                                            field: "Price",
                                            title: "@T("Admin.Supplier.BulkEdit.Fields.Price")",
                                            width: 150,
                                            //if not a grouped product, then display
                                            @*template: "# if(ProductTypeId != @((int) ProductType.GroupedProduct)) {# #:Price# #}  #"*@
                                        },

                                    ]
                                } );
                            });
            </script>

               <script type="text/javascript">
                            $(document).ready(function () {
                               
                                $("#@Html.IdFor(model => model.ProductName)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#btnsearchsuppliers").click();
                                        return false;
                                    }
                                });
                            });


                            function additionalData() {
                                var data = {
                                    SearchProductName: $('#@Html.IdFor(model => model.ProductName)').val(),
                                    SearchPrice: $('#@Html.IdFor(model => model.Price)').val(),
                                    SearchSupplierId: @(Model.SupplierId),
                                    Length: $(".k-dropdown").find("select").val(),
                                    PageSize: $(".k-dropdown").find("select").val()
                                };
                                addAntiForgeryToken(data);
                                return data;
                }
               </script>
        </div>
    </div>
    @*</div>
            </div>
        </div>*@
    @if (Model.SupplierId > 0)
    {
        <div class="panel-footer">
            <button type="submit" id="btnAddNewProduct"
                    onclick="javascript:OpenWindow('@(Url.Action("ProductAddPopup", "NBSupplier", new { SupplierId = Model.SupplierId, btnId = "btnsearchsuppliers", formId = "supplier-form" }))', 800, 800, true); return false;"
                    class="btn btn-primary">
                @T("Admin.Supplier.Products.AddNew")
            </button>
            <input type="button" id="btnsearchsuppliers" style="display: none" />
            <script>
                $(document).ready(function () {
                    $('#btnsearchsuppliers').click(function () {
                        var grid = $('#suppliers-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        //grid.dataSource.read(); we already loaded the grid above using "page" function
                        return false;
                    });

                });
            </script>
        </div>
    }
    else
    {
        <div class="panel-body">
            @T("Admin.Supplier.SaveBeforeEdit")
        </div>
    }
