﻿@model SupplierModel

<div class="panel-body">
    <div class="sub-panel">
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="FixedOrDynamic" />
            </div>
            <div class="col-md-8 fixedordynamic">
                <span class="fixed">
                    <input type="radio" asp-for="FixedOrDynamic" value="f" checked="@(Model.FixedOrDynamic == "f")" id="fixedordynamic-fixed" />
                    <label class="forcheckbox" for="fixedordynamic-fixed">@T("NB.Supplier.Fields.FixedOrDynamic.Fixed")</label>
                </span>
                <span class="dynamic">
                    <input type="radio" asp-for="FixedOrDynamic" value="d" checked="@(Model.FixedOrDynamic == "d")" id="fixedordynamic-dynamic" />
                    <label class="forcheckbox" for="fixedordynamic-dynamic">@T("NB.Supplier.Fields.FixedOrDynamic.Dynamic")</label>
                </span>
            </div>
        </div>

        <div class="fixedordynamic-fixed-fields">
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="DeliveryFee" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="DeliveryFee" />
                 
                </div>
            </div>
        </div>

        <div class="fixedordynamic-dynamic-fields">
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="KmOrMilesForDynamic" />
                </div>
                <div class="col-md-8 kmormilesfordynamic">
                    <span class="km">
                        <input type="radio" asp-for="KmOrMilesForDynamic" value="k" checked="@(Model.KmOrMilesForDynamic == "k")" id="kmormilesfordynamic-km" />
                        <label class="forcheckbox" for="kmormilesfordynamic-km">@T("NB.Supplier.Fields.KmOrMilesForDynamic.Km")</label>
                    </span>
                    <span class="miles">
                        <input type="radio" asp-for="KmOrMilesForDynamic" value="m" checked="@(Model.KmOrMilesForDynamic == "m")" id="kmormilesfordynamic-miles" />
                        <label class="forcheckbox" for="kmormilesfordynamic-miles">@T("NB.Supplier.Fields.KmOrMilesForDynamic.Miles")</label>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="PriceForDynamic" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="PriceForDynamic" />
                    <span asp-validation-for="PriceForDynamic"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="DistanceForDynamic" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="DistanceForDynamic" />
                    <span asp-validation-for="DistanceForDynamic"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="PricePerUnitDistanceForDynamic" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="PricePerUnitDistanceForDynamic" />
                    <span asp-validation-for="PricePerUnitDistanceForDynamic"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        showHideFixedOrDynamicFields();
    });

    $('.fixedordynamic input[type=radio]').change(function () {
        showHideFixedOrDynamicFields();
    });

    function showHideFixedOrDynamicFields() {
        var type = $('.fixedordynamic input[type=radio]:checked').val();
        if (type == 'f') {
            $('.fixedordynamic-fixed-fields').show();
            $('.fixedordynamic-dynamic-fields').hide();
        }
        else if (type == 'd') {
            $('.fixedordynamic-fixed-fields').hide();
            $('.fixedordynamic-dynamic-fields').show();
        }
    }
</script>