﻿@model SupplierModel

@{
    //page title
    ViewBag.Title = T("Admin.Suppliers.EditSupplierDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Suppliers");
}

<form asp-controller="NBSupplier" asp-action="Edit" method="post" id="supplier-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Suppliers.EditSupplierDetails") - @Model.SupplierName
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Supplier.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @*@if (!Model.IsSupplier)
            {*@
                <span id="supplier-delete" class="btn bg-red">
                    <i class="fa fa-trash-o"></i>
                    @T("Admin.Common.Delete")
                </span>
            @*}*@
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.VendorDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="supplier-delete" />
