﻿@model SupplierSearchModel

@using Nop.Core.Domain.Common
@{
    //page title
    ViewBag.Title = T("Admin.Suppliers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Suppliers");
}

@{
    const string hideSearchBlockAttributeName = "SupplierPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Suppliers")
    </h1>
    @if (!Model.IsSupplier)
    {
<div class="pull-right">
    <a asp-action="Create" class="btn bg-blue">
        <i class="fa fa-plus-square"></i>
        @T("Admin.Common.AddNew")
    </a>

    <button type="button" id="delete-selected" class="btn bg-red">
        <i class="fa fa-trash-o"></i>
        @T("Admin.Common.Delete.Selected")
    </button>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.VendorListButtons })
</div>
    }
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @if (!Model.IsSupplier)
            {
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="SupplierName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="SupplierName" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-8 col-md-offset-4">
                                            <button type="button" id="search-suppliers" class="btn btn-primary btn-search">
                                                <i class="fa fa-search"></i>
                                                @T("Admin.Common.Search")
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
               {
                   Name = "suppliers-grid",
                   UrlRead = new DataUrl("List", "NBSupplier", null),
                   SearchButtonId = "search-suppliers",
                   Length = Model.PageSize,
                   LengthMenu = Model.AvailablePageSizes,
                   Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.SupplierName))
                        },
                   ColumnCollection = new List<ColumnProperty>
                        {

                        new ColumnProperty(nameof(SupplierModel.Id))
                                {
                                    IsMasterCheckBox = true,
                                    Render = new RenderCheckBox("checkbox_suppliers"),
                                    ClassName =  NopColumnClassDefaults.CenterAll,
                                    Width = "50",
                                },
                            new ColumnProperty(nameof(SupplierModel.SupplierName))
                            {
                                Title = T("Admin.Suppliers.Fields.SupplierName").Text,
                                Width = "300"
                            },

                            new ColumnProperty(nameof(SupplierModel.Active))
                            {
                                Title = T("Admin.Suppliers.Fields.Active").Text,
                                Width = "50",
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(SupplierModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "50",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
               })


                    <script>
                        function renderColumnPrice(data, type, row, meta)
                        {
                            return (SupplierTypeId) ? data : null;
                            @*return (row.SupplierTypeId != @((int)SupplierType.GroupedSupplier) ) ? data : null;*@
                        }

                            $(document).ready(function () {
                                $('#delete-selected').bind('click', function () {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "NBSupplier"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            $('#deleteSelectedFailed-info').text(errorThrown);
                                            $('#deleteSelectedFailed').click();
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            updateTable('#suppliers-grid');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });

                    </script>
                    <nop-alert asp-alert-id="deleteSelectedFailed" />
                </div>
            </div>
        </div>
    </div>
</div>
