@model TaxCategorySearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Tax.Categories").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Tax categories");
}

<nop-antiforgery-token />

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Tax.Categories")
        </h1>
    </div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.TaxCategoryListButtons })
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "tax-categories-grid",
                        UrlRead = new DataUrl("Categories", "Tax", null),
                        UrlDelete = new DataUrl("CategoryDelete", "Tax", null),
                        UrlUpdate = new DataUrl("CategoryUpdate", "Tax", null),
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(TaxCategoryModel.Name))
                            {
                                Title = T("Admin.Configuration.Tax.Categories.Fields.Name").Text,
                                Width = "300",
                                Editable = true,
                                EditType = EditType.String
                            },
                            new ColumnProperty(nameof(TaxCategoryModel.DisplayOrder))
                            {
                                Title = T("Admin.Configuration.Tax.Categories.Fields.DisplayOrder").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Editable = true,
                                EditType = EditType.Number
                            },
                            new ColumnProperty(nameof(TaxCategoryModel.StoreName))
                            {
                                Title = T("Admin.Configuration.Tax.Categories.Fields.Store").Text,
                                Editable = false,
                                Width = "200",
                                ClassName = NopColumnClassDefaults.CenterAll
                            },
                            new ColumnProperty(nameof(TaxCategoryModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "200",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonsInlineEdit()
                            },
                            new ColumnProperty(nameof(TaxCategoryModel.Id))
                            {
                                Title = T("Admin.Common.Delete").Text,
                                Width = "100",
                                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                                ClassName = NopColumnClassDefaults.Button
                            }
                        }
                    })

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            @T("Admin.Common.AddNewRecord")
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="@Model.AddTaxCategory.Name" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="@Model.AddTaxCategory.Name" />
                                    <span asp-validation-for="@Model.AddTaxCategory.Name"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="@Model.AddTaxCategory.DisplayOrder" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="@Model.AddTaxCategory.DisplayOrder" />
                                    <span asp-validation-for="@Model.AddTaxCategory.DisplayOrder"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="@Model.AddTaxCategory.StoreId" />
                                </div>
                                <div class="col-md-8">
                                    <nop-select asp-for="@Model.AddTaxCategory.StoreId" asp-items="@Model.AddTaxCategory.AvailableStores" />
                                    <span asp-validation-for="@Model.AddTaxCategory.StoreId"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-3">
                                    <button type="button" id="addTaxCategory" class="btn btn-primary">@T("Admin.Common.AddNewRecord")</button>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(document).ready(function () {
                                $('#addTaxCategory').click(function () {
                                    $('#addTaxCategory').attr('disabled', true);
                                    var postData = {
                                        Name: $("#@Html.IdFor(model => model.AddTaxCategory.Name)").val(),
                                        DisplayOrder: $("#@Html.IdFor(model => model.AddTaxCategory.DisplayOrder)").val(),
                                        StoreId: $("#@Html.IdFor(model => model.AddTaxCategory.StoreId)").val()
                                    };
                                    addAntiForgeryToken(postData);

                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@Html.Raw(Url.Action("CategoryAdd", "Tax", null))",
                                        data: postData,
                                        success: function (data, textStatus, jqXHR) {
                                            if (data.Result) {
                                                //reload grid
                                                updateTable('#tax-categories-grid');
                            
                                                //clear input value
                                                $("#@Html.IdFor(model => model.AddTaxCategory.Name)").val('');
                                                $("#@Html.IdFor(model => model.AddTaxCategory.DisplayOrder)").val('');
                                            } else {
                                                //display errors if returned
                                                display_nop_error(data);
                                            }
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            $('#addTaxCategory').attr('disabled', false);
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
