﻿@model List<Nop.Web.Models.Home.OffersModel>
@if (Model.Count > 0)
{
    <div class="legendBox">
        <h4>@T("Offer")</h4>
        <ul>
            @foreach (var item in Model)
            {
                if (item.IsPercentage)
                {
                    <li class="offerLg">
                        @item.Name
                    </li>
                }
                else
                {
                    <li class="freeLg">
                        @item.Name
                    </li>
                }
            }
        </ul>
    </div>
}