﻿@model MerchantModel

@{
    var fiveStartRating = Model.ReviewPercentage / 20;
    var rating = (int)fiveStartRating;
}

<span>
    @{
        var starO = rating > 0 ? 5 - rating : 5;
    }
    @for (int i = 0; i < rating; i++)
    {
        <i class="fa fa-star"></i>
    }
    @if (starO > 0)
    {
        @for (int i = 0; i < starO; i++)
        {
            <i class="fa fa-star-o"></i>
        }
    }
    (@Model.ReviewCount)
</span>


