﻿@model CategoryProductsMerchantModel
@if (Model.Products.Count > 0 && Model.Categories.Count>0)
{
<div class="col-md-12">
<div class="menuItemsList row sub-cat-row" id="@Model.CategoryId">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<div class="marchentTopFilter">
					<h2 class="subCt" cccatid="@Model.CategoryId">Recommended</h2>
					<div class="numberOfItems">
						<span></span> items
					</div>
				</div>
			</div>
		</div>
	</div>
    @foreach (var item in Model.Categories)
    {
        var prds = Model.Products.Where(x => x.ProductCategory.Any(y => y.CategoryId == item.Id)).ToList();
        foreach (var prd in prds)
        {
            @await Html.PartialAsync("_ProductBoxMerchant", prd)
        }
        if (item.SubCategories.Count > 0)
        {
            foreach (var subCat in item.SubCategories)
            {
                var subcat = new CategoryModel();
                subcat.Id = subCat.Id;
                subcat.SubCategories = subCat.SubCategories;

                var md = new CategoryProductsMerchantModel();
                md.CategoryId = subCat.Id;
                md.Categories.Add(subcat);
                md.Products = Model.Products;
                @await Html.PartialAsync("_ProductListByCategory", md)
            }

        }
    }
</div>
</div>
}