﻿@model ContactUsModel

<section class="loginSection signupSection clearfix ">

    <div class="loginBox signupBox ContactUsbox">
     

        <div class="formDetails clearfix">

            @await Component.InvokeAsync("TopicBlock", new { systemName = "ContactUs" })
            @await Component.InvokeAsync("Widget", new { widgetZone = "contactus_top" })
            @if (Model.SuccessfullySent)
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            else
            {
                <form asp-action="NBContactUs" asp-controller="Common" method="post" id="contact-us">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="fieldset">
                        <div class="form-fields">
                            <div class="fieldBar clearfix">
                                <input asp-for="FullName" placeholder="@T("ContactUs.FullName.Hint")" class="fullname" />
                                <span asp-validation-for="FullName"></span>
                            </div>
                            <div class="fieldBar clearfix">
                                <input asp-for="Email" placeholder="@T("ContactUs.Email.Hint")" class="email" />
                                <span asp-validation-for="Email"></span>
@**@                            </div>
                            <div class="fieldBar clearfix">
                                <input  placeholder="@T("ContactUs.Phone.Hint")" class="tel" />
@*                                <span asp-validation-for="Message"></span>
*@                            </div>
                            @if (Model.SubjectEnabled)
                            {
                                <div class="fieldBar clearfix">
                                    <input asp-for="Subject" placeholder="@T("ContactUs.Subject.Hint")" class="subject" />
@*                                    <span asp-validation-for="Subject"></span>
*@                                </div>
                            }
                            <div class="fieldBar clearfix">
                                <textarea asp-for="Enquiry" placeholder="@T("ContactUs.Enquiry.Hint")" class="enquiry"></textarea>
                                <span asp-validation-for="Enquiry"></span>
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <div class="captcha-box">
                                    <nop-captcha />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" name="send-email" class="button-1 contact-us-button" value="@T("ContactUs.Button")" />
                    </div>
                    <div class="contactUs-message">

                    </div>
                </form>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "contactus_bottom" })
        </div>
    </div>
</section>

<script asp-location="Footer">
    $(function () {
        $('#contact-us').submit(function (e) {
            $('.contactUs-message').text('');
            e.preventDefault();
            var formData = new FormData(this);
            $(".ajax-loading-block-window").show();

            $.ajax({
                url: this.action,
                type: this.method,
                data: formData,
                enctype: 'multipart/form-data',
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.result) {
                        $('.contactUs-message').text(data.message);
                    }
                    else {
                        $('.loginSection').replaceWith(data);
                    }
                    $(".ajax-loading-block-window").hide();
                }
            });
            e.preventDefault();
        });
    });
</script>