﻿/* Yes No Check Box */
.toggle-check-input {
    width: 1px;
    height: 1px;
    position: absolute;
    left: 20px;
}

.toggle-check-text {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    background: #CCC;
    padding: 0.25em 0.8em 0.25em 2em;
    border-radius: 1em;
    min-width: 2em;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.15s;
    margin-top: 5px;
}

    .toggle-check-text:after {
        content: ' ';
        display: block;
        background: #FFF;
        width: 1.1em;
        height: 1.1em;
        border-radius: 1em;
        position: absolute;
        left: 0.3em;
        top: 0.4em;
        transition: left 0.15s, margin-left 0.15s;
    }

    .toggle-check-text:before {
        content: 'No';
    }

.toggle-check-input:checked ~ .toggle-check-text {
    background: #8ad869;
    padding-left: 0.5em;
    padding-right: 2em;
}

    .toggle-check-input:checked ~ .toggle-check-text:before {
        content: 'Yes';
    }

    .toggle-check-input:checked ~ .toggle-check-text:after {
        left: 100%;
        margin-left: -1.4em;
    }

.adminSavedSuccessfully {
    color: #ffffff;
    background-color: #00a65a;
    padding: 6px 20px;
    border-radius: 0;
    text-align: center;
    font-size: 15px;
    display: none;
}

.atluz_outerbox {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    visibility: visible;
    position: fixed;
    z-index: 10000;
    min-height: 450px;
    background-color: rgba(250, 250, 250, 0.7);
}

.atluz_innerbox {
    top: 0px;
    width: 100%;
    height: 300px;
    text-align: center;
    bottom: 0px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    position: absolute;
}

.atluz_contentbox {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #a0a0a0;
    background-color: #ffffff;
    padding: 30px;
}
