﻿@using Nop.Services.Stores
@using Nop.Web.Areas.Admin.Models.NB
@model CustomerModel
@inject IStoreService storeService
<div class="panel-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "wallet-grid",
        UrlRead = new DataUrl("WalletList", "Customer", new RouteValueDictionary { [nameof(Model.CustomerOrderSearchModel.CustomerId)] = Model.CustomerOrderSearchModel.CustomerId }),
        Length = Model.CustomerOrderSearchModel.PageSize,
        LengthMenu = Model.CustomerOrderSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty(nameof(CustomerWalletModel.Id))
            {
                Title = T("Admin.Customers.Customers.Wallets.CustorWalletNumber").Text,
                Width = "100"
            },
            new ColumnProperty(nameof(CustomerWalletModel.OrderId))
            {
                Title = T("Admin.Customers.Customers.Orders.CustomOrderNumber").Text,
                Width = "100"
            },
            new ColumnProperty(nameof(CustomerWalletModel.Note))
            {
                Title = T("Admin.Customers.Customers.Wallets.Description").Text,
                Width = "400"
            },
            new ColumnProperty(nameof(CustomerWalletModel.DisplayAmount))
            {
                Title = T("Admin.Customers.Customers.Wallets.DisplayAmount").Text,
                Width = "200",
                Visible = storeService.GetAllStores().Count > 1
            },
            new ColumnProperty(nameof(CustomerWalletModel.TransactionOnUtc))
            {
                Title = T("Admin.System.Log.Fields.CreatedOn").Text,
                Width = "200",
                Render = new RenderDate()
            }
        }
    })
</div>
<div class="panel-body">
    <strong>@T("Admin.Account.Wallet.CurrentWalletBalance")  : <label id="lblMoneyAmount">@Model.WalletBalance</label></strong>
    <button type="button" class="btn btn-primary" onclick="javascript:OpenWindow('@(Url.Action("WalletAddMoneyCreatePopup", "Customer", new { customerId = Model.Id, btnId = "btnRefresh", formId = "customer-form" }))', 500, 350, true); return false;">
        @T("Admin.Customers.Customers.Wallets.AddMoneyButton")
    </button>
    <input type="submit" id="btnRefresh" style="display:none" />
    <script>
        function getWalletBalance () {
               $.getJSON("../GetWalletBalance", { customerId: @Model.Id }, function (data) {
                       $("#lblMoneyAmount").html(data);
                   });
        }
        $(document).ready(function () {
            getWalletBalance();
            $('#btnRefresh').click(function () {
                //refresh grid
                updateTable('#wallet-grid');
                getWalletBalance();
                // Update amount
                //return false to don't reload a page
                return false;
            });
        });
    </script>
</div>

