﻿@model IList<ProductOverviewModelMerchant>
@if (Model.Count > 0)
{
	<div class="smallSliderMTitle">You may<br /> also like</div>
	<div id="dv-cross-sell-products">
		<div class="owl-carousel sliderItem3">
				@foreach (var item in Model)
				{
					@await Html.PartialAsync("_ProductBoxMerchant", item)
				}
		</div>
	</div>
	<script>
		$(function(){
			$('.sliderItem3').owlCarousel({
			loop: true,
			margin: 3,
			autoplay:true,
			autoplayTimeout:3000,
			autoplayHoverPause:true,
			responsiveClass: true,
			autoWidth:false,
			responsive: {
				  0: {
					items: 1,
					nav: false
				  },
				  600: {
					items: 2,
					nav: false
				  },
				  1000: {
					items: 3,
					nav: true,
					loop: false
				  }
				}
			});
		});
	</script>

}