﻿@model CountryCallingCodeModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<script>
    $(document).ready(function () {
        bindBootstrapTabSelectEvent('country-callingcode-edit');
    });
</script>

<div class="content">
    <div class="form-horizontal">
        <div class="raw clearfix">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="TwoLetterIsoCode" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="TwoLetterIsoCode" asp-required="true" />
                                <span asp-validation-for="TwoLetterIsoCode"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Code" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Code" asp-required="true" />
                                <span asp-validation-for="Code"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="RegexPattern" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="RegexPattern" asp-required="true" />
                                <span asp-validation-for="RegexPattern"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>