﻿@model CountryCallingCodeModel

@{
    Layout = Constants.AdminLayoutViewPath;

    //page title
    ViewBag.Title = T("Resanehlab.Plugin.Authentication.PhoneNumber.CountryCallingCodes.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Resanehlab.PhoneAuthentication.CountryCallingCodes");
}

<form asp-controller="PhoneAuthenticationAdmin" asp-action="CountryCallingCodeCreate" method="post">
    <nop-antiforgery-token />
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Resanehlab.Plugin.Authentication.PhoneNumber.CountryCallingCodes.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Resanehlab.Plugin.Authentication.PhoneNumber.CountryCallingCodes.BackToList").Text, "CountryCallingCodeList")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync(Constants.PluginOutputPath + Constants.PhoneAuthenticationAdminCountryCallingCodeCreateOrUpdatePartialViewPath, Model)
</form>