﻿@model CountryCallingCodeSearchModel

@{
    Layout = Constants.AdminLayoutViewPath;

    //page title
    ViewBag.Title = T("Resanehlab.Plugin.Authentication.PhoneNumber.CountryCallingCodes").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Resanehlab.PhoneAuthentication.CountryCallingCodes");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Resanehlab.Plugin.Authentication.PhoneNumber.CountryCallingCodes")
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("CountryCallingCodeCreate")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        <button type="button" id="delete-selected" class="btn bg-red">
            <i class="fa fa-trash-o"></i>
            @T("Admin.Common.Delete.Selected")
        </button>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchTwoLetterIsoCode" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchTwoLetterIsoCode" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="SearchCode" />
                                </div>
                                <div class="col-md-8">
                                    <nop-editor asp-for="SearchCode" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" id="search-country-callingcodes" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="country-callingcodes-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#country-callingcodes-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("CountryCallingCodeList", "PhoneAuthenticationAdmin"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: additionalData
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(Model.PageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(Model.AvailablePageSizes)],
                                    @await Html.PartialAsync(Resanehlab.Plugin.Core.Infrastructure.Constants.GridPagerMessagesPath)
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                        width: 50
                                    }, {
                                        field: "TwoLetterIsoCode",
                                        title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.CountryCallingCode.List.TwoLetterIsoCode")",
                                        width: 200
                                    }, {
                                        field: "Code",
                                        title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.CountryCallingCode.List.Code")",
                                        width: 300
                                    }, {
                                        field: "RegexPattern",
                                        title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.CountryCallingCode.List.RegexPattern")",
                                        width: 500,
                                    }, {
                                        field: "Id",
                                        title: "@T("Admin.Common.Edit")",
                                        width: 100,
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                                    }]
                            });
                        });
                    </script>
                    <script type="text/javascript">
                        var selectedIds = [];

                        $(document).ready(function () {
                            //delete selected
                            $('#delete-selected').click(function(e) {
                                e.preventDefault();
                                if (confirm('@T("Admin.Common.AreYouSure")')) {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);

                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("CountryCallingCodeDeleteSelected", "PhoneAuthenticationAdmin"))",
                                        data: postData,
                                        complete: function(data) {
                                            //reload grid
                                            var grid = $('#country-callingcodes-grid').data('kendoGrid');
                                            grid.dataSource.read();
                                        },
                                        error: function(xhr, ajaxOptions, thrownError) {
                                            alert(thrownError);
                                        },
                                        traditional: true
                                    });
                                    return false;
                                }
                            });

                            $('#mastercheckbox').click(function () {
                                $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                            });

                            //wire up checkboxes.
                            $('#country-callingcodes-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                                var $check = $(this);
                                if ($check.is(":checked") == true) {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked == -1) {
                                        //add id to selectedIds.
                                        selectedIds.push($check.val());
                                    }
                                } else {
                                    var checked = jQuery.inArray($check.val(), selectedIds);
                                    if (checked > -1) {
                                        //remove id from selectedIds.
                                        selectedIds = $.grep(selectedIds, function (item, index) {
                                            return item != $check.val();
                                        });
                                    }
                                }
                                updateMasterCheckbox();
                            });

                            //search button
                            $('#search-country-callingcodes').click(function () {
                                //search
                                var grid = $('#country-callingcodes-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });

                            $("#@Html.IdFor(model => model.SearchTwoLetterIsoCode)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-country-callingcodes").click();
                                    return false;
                                }
                            });
                            $("#@Html.IdFor(model => model.SearchCode)").keydown(function (event) {
                                if (event.keyCode == 13) {
                                    $("#search-country-callingcodes").click();
                                    return false;
                                }
                            });
                        });

                        function onDataBound(e) {

                            $('#country-callingcodes-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                                var currentId = $(this).val();
                                var checked = jQuery.inArray(currentId, selectedIds);
                                //set checked based on if current checkbox's value is in selectedIds.
                                $(this).attr('checked', checked > -1);
                            });

                            updateMasterCheckbox();
                        }

                        function updateMasterCheckbox() {
                            var numChkBoxes = $('#country-callingcodes-grid input[type=checkbox][id!=mastercheckbox]').length;
                            var numChkBoxesChecked = $('#country-callingcodes-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                            $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                        }

                        function additionalData() {
                            var data = {
                                SearchTwoLetterIsoCode: $('#@Html.IdFor(model => model.SearchTwoLetterIsoCode)').val(),
                                SearchCode: $('#@Html.IdFor(model => model.SearchCode)').val()
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
