﻿@model Nop.Web.Areas.Admin.Models.VendorGallery.VendorGalleryModel
@inject IEventPublisher eventPublisher

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="form-group" @(Model.AvailableStores == null || Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                        <div class="col-md-4">
                            <nop-label asp-for="StoreId" />
                        </div>
                        <div class="col-md-8">
                            <nop-select asp-for="StoreId" id="ddlStores" asp-items="Model.AvailableStores" />
                        </div>
                    </div>
                    <div class="form-group" @(Model.AvailableVendors == null || Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                        <div class="col-md-4">
                            <nop-label asp-for="VendorId" />
                        </div>
                        <div class="col-md-8">
                            <nop-select asp-for="VendorId" asp-items="Model.AvailableVendors" />
                        </div>
                    </div>
                    <div class="form-group" @(Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                        <div class="col-md-4">
                            <nop-label asp-for="VendorId" />
                        </div>
                        <div class="col-md-8">
                            <select asp-for="VendorId" class="form-control" id="ddlVendor"><option value="0">Select</option></select>
                            <span asp-validation-for="VendorId"></span>
                        </div>
                    </div>
                    <div class="form-group" @(Model.AvailableGalleryType.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                        <div class="col-md-4">
                            <nop-label asp-for="GalleryType" />
                        </div>
                        <div class="col-md-8">
                            <nop-select asp-for="GalleryType" id="ddlGalleryType" asp-items="Model.AvailableGalleryType" />
                            <span asp-validation-for="GalleryType"></span>
                        </div>
                    </div>
                    <div class="form-group" id="IsImageSelected">
                        <div class="col-md-4">
                            <nop-label asp-for="PictureId" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="PictureId" />
                            <span asp-validation-for="PictureId"></span>
                        </div>
                    </div>
                    <div class="form-group" id="IsVideoSelected">
                        <div class="col-md-4">
                            <nop-label asp-for="GalleryURL" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="GalleryURL" />
                            <span asp-validation-for="GalleryURL"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="GalleryCaption" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="GalleryCaption" />
                            <span asp-validation-for="GalleryCaption"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="Active" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="Active" />
                        </div>
                    </div>

                    <div class="form-group" >
                        <div class="col-md-4">
                            <nop-label asp-for="DisplayOrder" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="DisplayOrder" />
                            <span asp-validation-for="DisplayOrder"></span>
                        </div>
                    </div>
                </div>
                </div>
            </div>

                </div>
            </div>

            @*@{
                //custom tabs
                var eventMessage = new AdminTabStripCreated(this.Html, "vendor-edit");
                eventPublisher.Publish(eventMessage);
                foreach (var eventBlock in eventMessage.BlocksToRender)
                {
                    @eventBlock
                }
            }*@
<script>
    $(document).ready(function () {
        if (@Model.GalleryType==0) {
            $("#IsImageSelected").show();
            $("#IsVideoSelected").hide();
        }
        else {
            $("#IsImageSelected").hide();
            $("#IsVideoSelected").show();
        }
        var storeId = '@Model.StoreId';
        if (storeId != 0) {
     $("#ddlVendor").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableVendors", "VendorGallery"))",
                data: { "Store": storeId },
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (id, option) {
                        
                        $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));
                        
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    });
                    var vendor = '@Model.VendorId';
                    $("#ddlVendor").val(vendor);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
        }
    });
    $("#ddlStores").change(function () {
        var storeId = $("#ddlStores").val();
        if (storeId != 0) {
            $("#ddlVendor").empty();
            $.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetAvailableVendors", "VendorGallery"))",
                data: { "Store": storeId },
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (id, option) {
                        
                        $("#ddlVendor").append($("<option></option>").val(option.Value).html(option.Text));
                        
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    });
                    var vendor = '@Model.VendorId';
                    $("#ddlVendor").val(vendor);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');

                    }
                });
            }

    });
    $("#ddlGalleryType").change(function () {
        var galleryType = $("#ddlGalleryType").val();
        if (galleryType != 0) {
$.ajax({
                    cache: false,
                    type: "Get",
                url: "@(Url.Action("GetGalleryType", "VendorGallery"))",
    data: { "GalleryTypeId": galleryType },
                contentType: "application/json",
    success: function (data) {
        if (data) {
            $("#IsImageSelected").show();
            $("#IsVideoSelected").hide();
        }
        else {
            $("#IsImageSelected").hide();
            $("#IsVideoSelected").show();
        }
                    // ddlTimings.append($('<option></option>').val(option.Text).html(option.Value));
                    }
                   
                });
                }

    });
</script>