﻿@model Nop.Web.Areas.Admin.Models.VendorGallery.VendorGalleryModel

@{
    //page title
    ViewBag.Title = T("Admin.VendorGallery.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Vendor Gallery");
}

<form asp-controller="VendorGallery" asp-action="Create" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.VendorGallery.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.VendorGallery.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @*<button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>*@
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_vendor_details_buttons" })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>