﻿@model ManufacturerModel

<div class="panel-body">
    @(Html.LocalizedEditor<ManufacturerModel, ManufacturerLocalizedModel>("manufacturer-name-localized",
    @<div>
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="@Model.Locales[item].Name" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="@Model.Locales[item].Name" />
                <span asp-validation-for="@Model.Locales[item].Name"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="@Model.Locales[item].Description" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="@Model.Locales[item].Description" asp-template="RichEditor" />
                <span asp-validation-for="@Model.Locales[item].Description"></span>
            </div>
        </div>
        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
    </div>
,
    @<div>
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="Name" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="Name" asp-required="true" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="Description" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="Description" asp-template="RichEditor" />
                <span asp-validation-for="Description"></span>
            </div>
        </div>
    </div>))
    
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-label asp-for="PictureId" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="PictureId" />
            <span asp-validation-for="PictureId"></span>
        </div>
    </div>
</div>
