﻿@model ManufacturerModel

<div class="panel-body">
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-label asp-for="Published" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="Published" />
            <span asp-validation-for="Published"></span>
        </div>
    </div>

    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-label asp-for="AllowCustomersToSelectPageSize" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="AllowCustomersToSelectPageSize" />
            <span asp-validation-for="AllowCustomersToSelectPageSize"></span>
        </div>
    </div>

    <nop-nested-setting asp-for="AllowCustomersToSelectPageSize">
        <div id="pnlPageSize" class="form-group advanced-setting">
            <div class="col-md-4">
                <nop-label asp-for="PageSize" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="PageSize" />
                <span asp-validation-for="PageSize"></span>
            </div>
        </div>
        <div id="pnlPageSizeOptions" class="form-group advanced-setting">
            <div class="col-md-4">
                <nop-label asp-for="PageSizeOptions" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="PageSizeOptions" />
                <span asp-validation-for="PageSizeOptions"></span>
            </div>
        </div>
    </nop-nested-setting>

    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-label asp-for="PriceRanges" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="PriceRanges" />
            <span asp-validation-for="PriceRanges"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="DisplayOrder" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayOrder" />
            <span asp-validation-for="DisplayOrder"></span>
        </div>
    </div>

    <div class="form-group" @(Model.AvailableManufacturerTemplates.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
        <div class="col-md-4">
            <nop-label asp-for="ManufacturerTemplateId" />
        </div>
        <div class="col-md-8">
            <nop-select asp-for="ManufacturerTemplateId" asp-items="Model.AvailableManufacturerTemplates" />
            <span asp-validation-for="ManufacturerTemplateId"></span>
        </div>
    </div>
</div>
