﻿@model Nop.Web.Areas.Admin.Models.BookingTable.BookingTableTransactionListSearchModel
@using Nop.Web.Areas.Admin.Models.BookingTable
@inject AdminAreaSettings adminAreaSettings

@using Nop.Core.Domain.Catalog

@{
    
    //page title
    ViewBag.Title = T("Admin.Booking.ManageBookingTransaction").Text;
    Html.SetActiveMenuItemSystemName("ManageBookingTransaction");
    //active menu item (system name)

}


<form asp-controller="Product" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Booking.ManageBookingTransaction")
        </h1>
        <div class="pull-right">
            
            <a asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_list_buttons" })
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group" @(Model.AvailableStores == null || Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                    </div>
                            </div>
                                <div class="form-group" @(Model.AvailableVendors == null || Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchVendorId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="BookingDate" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="BookingSearchDate" />
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="TableNumber" nop-resource="Admin.Booking.Tableno" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchTableNumber" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="From" nop-resource="Admin.Booking.BookingTimeFrom" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="From" asp-items="Model.AvailableTimings" />
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="To" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="To" asp-items="Model.AvailableTimings" />
                                    </div>

                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="MobileNumber" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchContactNumber" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="CustomerName" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchCustomerName" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchBookingStatusId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchBookingStatusId" asp-items="Model.AvailableBookingStatus" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-products" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                        @*<div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-products" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>*@
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "products-grid",
                       UrlRead = new DataUrl("BookingTransactionList", "BookingTableTransaction", null),
                      SearchButtonId = "search-products",
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                      Filters = new List<FilterParameter>
                           {
                               new FilterParameter(nameof(Model.BookingSearchDate)),
                               new FilterParameter(nameof(Model.From)),
                               new FilterParameter(nameof(Model.To)),
                               new FilterParameter(nameof(Model.SearchCustomerName)),
                               new FilterParameter(nameof(Model.SearchTableNumber)),
                               new FilterParameter(nameof(Model.SearchContactNumber)),
                               new FilterParameter(nameof(Model.SearchBookingStatusId)),
                               new FilterParameter(nameof(Model.SearchStoreId)),
                               new FilterParameter(nameof(Model.SearchVendorId)),
                           },
                       ColumnCollection = new List<ColumnProperty>
                       {
                           new ColumnProperty(nameof(BookingTableTransactionModel.TableNumber))
                           {
                               Title = T("Admin.Booking.Tableno").Text,
                               Width = "300"
                           },
                           new ColumnProperty(nameof(BookingTableTransactionModel.Status))
                           {
                               Title = T("Admin.Orders.Fields.BookingStatus").Text,
                               Width = "300"
                           },
                           new ColumnProperty(nameof(BookingTableTransactionModel.BookingDate))
                           {
                               Title = T("Admin.Booking.BookingDate").Text,
                               Width = "150",
                               Render=new RenderDate(),
                               ClassName =  NopColumnClassDefaults.CenterAll
                           },
                            new ColumnProperty(nameof(BookingTableTransactionModel.BookingFrom))
                           {
                               Title = T("Admin.Booking.BookingTimeFrom").Text,
                               Width = "150",
                               ClassName =  NopColumnClassDefaults.CenterAll
                           },
                             new ColumnProperty(nameof(BookingTableTransactionModel.BookingTo))
                           {
                               Title = T("Admin.Booking.BookingTimeTo").Text,
                               Width = "150",
                               ClassName =  NopColumnClassDefaults.CenterAll
                           },
                              new ColumnProperty(nameof(BookingTableTransactionModel.SeatingCapacity))
                           {
                               Title = T("Admin.Booking.SeatingCapacity").Text,
                               Width = "150",
                               ClassName =  NopColumnClassDefaults.CenterAll
                           },
                               new ColumnProperty(nameof(BookingTableTransactionModel.CustomerName))
                           {
                               Title = T("Admin.Booking.CustomerName").Text,
                               Width = "150",
                               ClassName =  NopColumnClassDefaults.CenterAll
                           },
                                    new ColumnProperty(nameof(BookingTableTransactionModel.Email))
                           {
                               Title = T("Admin.Booking.Email").Text,
                               Width = "150",
                               ClassName =  NopColumnClassDefaults.CenterAll
                           },
                                         new ColumnProperty(nameof(BookingTableTransactionModel.MobileNumber))
                           {
                               Title = T("Admin.Booking.MobileNumber").Text,
                               Width = "150",
                               ClassName =  NopColumnClassDefaults.CenterAll
                           },
                           new ColumnProperty(nameof(BookingTableTransactionModel.Id))
                           {
                               Title = T("Admin.Common.View").Text,
                               Width = "100",
                               ClassName =  NopColumnClassDefaults.Button,
                               Render = new RenderCustom("renderColumnView")
                           }
                       }
                   })

                        <script>
                        function renderColumnView(data, type, row, meta) {
                            return '<a class="btn btn-default" href="Edit/'+row.Id+'"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>';
                        }
                        </script>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</form>
