﻿@model CategoryProductsMerchantModel
@if (Model.Products.Count > 0)
{
    
	@foreach (var item in Model.Categories)
	{
		var prds = Model.Products.Where(x => x.ProductCategory.Any(y => y.CategoryId == item.Id)).ToList();
	 <div class="menuItemsList row main-cat-row" id="@item.Id">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<div class="marchentTopFilter">
						<h2 class="parentCt" cccatid="@item.Id">Recommended</h2>
						<div class="numberOfItems">
							<span></span> items
						</div>
					</div>
				</div>
			</div>
		</div>
		@foreach (var prd in prds)
		{
			@await Html.PartialAsync("_ProductBoxMerchant", prd)
		}
		@if (item.SubCategories.Count > 0)
		{
			foreach (var subCat in item.SubCategories)
			{
				var subcat = new CategoryModel();
				subcat.Id = subCat.Id;
				subcat.SubCategories = subCat.SubCategories;

				var md = new CategoryProductsMerchantModel();
				md.CategoryId = subCat.Id;
				md.Categories.Add(subcat);
				md.Products = Model.Products;
				@await Html.PartialAsync("_ProductListByCategory", md)
			}
		}
	</div>
	}
        
    
}