﻿@model Nop.Web.Areas.Admin.Models.Orders.OrderModel
@using Nop.Core.Domain.Orders;
@using Nop.Services
    <script>
        $(document).ready(function() {
            $("#@Html.IdFor(model => model.CityId)").change(function() {
                var selectedItem = $(this).val();
                var ddlAgents = $("#@Html.IdFor(model => model.AssignedAgentId)");

                var postData = {
                    cityId: selectedItem
                };

                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetAgentsByCityId", "Order"))",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        ddlAgents.html('');
                        $.each(data, function(id, option) {
                            ddlAgents.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#agentAlert").click();
                    }
                });
            });
        });
    </script>
<div class="panel-body">
    <div class="sub-panel">
        <form asp-controller="Order" asp-action="AssignAgentToOrder" method="post">

            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="CityId" />
                </div>
                <div class="col-md-8">
                    <nop-select asp-for="CityId" asp-items="Model.AvailableCity" />
                </div>
            </div>

            <div class="form-group" @(Model.AvailableAgents.SelectionIsNotPossible())>
                <div class="col-md-4">
                    <nop-label asp-for="AssignedAgentId" />
                </div>
                <div class="col-md-8">
                    <nop-select asp-for="AssignedAgentId" asp-items="Model.AvailableAgents" />
                </div>
            </div>


            <div class="form-group" @(Model.AvailableAgentStatus.SelectionIsNotPossible())>
                <div class="col-md-4">
                    <nop-label asp-for="AgentStatusId" />
                </div>
                <div class="col-md-8">
                    <nop-select asp-for="AgentStatusId" asp-items="Model.AvailableAgentStatus" />
                    @*<nop-select asp-for="AgentStatusId" asp-items="@(((AssignedAgent) Model.AvailableAgentStatus).ToSelectList())" />*@
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-3">
                    <button type="submit" name="btnAssignAgent" id="btnAssignAgent" class="btn btn-primary">
                        @T("Admin.Orders.Fields.EditAssignedAgent")
                    </button>
                </div>
            </div>
        </form>
    </div>
    <nop-alert asp-alert-id="agentAlert" asp-alert-message="@T("NB.Admin.Common.Alert.Agent.Failed")" />
</div>
