﻿@model OrderSearchModel

@inject IStoreService storeService
@using Nop.Services.Stores

@{
    //page title
    ViewBag.Title = T("NB.Admin.Reports.MerchantEarning").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Reports");
}

@{
    const string hideSearchBlockAttributeName = "OrdersPage.HideSearchBlock";
    var hideSearchBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideSearchBlockAttributeName);
}

<form asp-controller="Order" asp-action="MerchantEarningList" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.Reports.MerchantEarning")
        </h1>
        <div class="pull-right">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.OrderListButtons })
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                            <div class="search-text">@T("Admin.Common.Search")</div>
                            <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                            <div class="icon-collapse"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                        </div>

                        <div class="search-body @(hideSearchBlock ? "closed" : "")">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="StartDate" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="StartDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="EndDate" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="EndDate" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="BillingFullName" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-editor asp-for="BillingFullName" />
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="OrderStatusIds" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="OrderStatusIds" asp-items="Model.AvailableOrderStatuses" asp-multiple="true" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <nop-label asp-for="GoDirectlyToCustomOrderNumber" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="input-group input-group-short">
                                                <nop-editor asp-for="GoDirectlyToCustomOrderNumber" />
                                                <span class="input-group-btn">
                                                    <button type="submit" id="go-to-order-by-number" name="go-to-order-by-number" class="btn btn-info btn-flat">
                                                        @T("Admin.Common.Go")
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" @(Model.AvailableVendors.SelectionIsNotPossible() || Model.IsLoggedInAsVendor ? Html.Raw("style='display: none;'") : null)>
                                        <div class="col-md-4">
                                            <nop-label asp-for="VendorId" />
                                        </div>
                                        <div class="col-md-8">
                                            <nop-select asp-for="VendorId" asp-items="Model.AvailableVendors" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="search-orders" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="content-header clearfix summaryHead">
                    <h1 class="pull-left">@T("NB.Admin.Reports.MerchantEarning.Summary")</h1>
                </div>
                <div class="panel panel-default summaryBox">
                    <div class="summaryCol">
                        <div class="summaryLbl">@T("NB.Admin.Reports.MerchantEarning.TotalItemCost")</div>
                        <span class="summaryAmnt" id="totalItemCost"></span>
                    </div>
                    <div class="summaryCol">
                        <div class="summaryLbl">@T("NB.Admin.Reports.MerchantEarning.TotalDiscount")</div>
                        <span class="summaryAmnt" id="totalDiscount"></span>
                    </div>
                    <div class="summaryCol">
                        <div class="summaryLbl">@T("NB.Admin.Reports.MerchantEarning.TotalPayable")</div>
                        <span class="summaryAmnt" id="totalPayable"></span>
                    </div>
                    <div class="summaryCol">
                        <div class="summaryLbl">@T("NB.Admin.Reports.MerchantEarning.PaidAmount")</div>
                        <span class="summaryAmnt" id="totalPaid"></span>
                    </div>
                    <div class="summaryCol">
                        <div class="summaryLbl">@T("NB.Admin.Reports.MerchantEarning.PendingAmount")</div>
                        <span class="summaryAmnt" id="totalPending"></span>
                    </div>
                </div>

                <div class="panel panel-default topSpace">
                    <div class="panel-body">
                        @{
                            var gridModel = new DataTablesModel
                            {
                                Name = "orders-grid",
                                UrlRead = new DataUrl("MerchantEarningOrderList", "Order", null),
                                UrlUpdate = new DataUrl("MerchantEarningUpdate", "Order", null),
                                SearchButtonId = "search-orders",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                FooterCallback = !Model.IsLoggedInAsVendor ? "ordersfootercallback" : null,
                                FooterColumns = !Model.IsLoggedInAsVendor ? 10 : 0,
                                Filters = new List<FilterParameter>
                                                                                                                                {
                                                    new FilterParameter(nameof(Model.StartDate)),
                                                    new FilterParameter(nameof(Model.EndDate)),
                                                    new FilterParameter(nameof(Model.OrderStatusIds)),
                                                    new FilterParameter(nameof(Model.PaymentStatusIds)),
                                                    new FilterParameter(nameof(Model.ShippingStatusIds)),
                                                    new FilterParameter(nameof(Model.StoreId)),
                                                    new FilterParameter(nameof(Model.VendorId)),
                                                    new FilterParameter(nameof(Model.WarehouseId)),
                                                    new FilterParameter(nameof(Model.BillingEmail)),
                                                    new FilterParameter(nameof(Model.BillingPhone)),
                                                    new FilterParameter(nameof(Model.BillingLastName)),
                                                    new FilterParameter(nameof(Model.BillingFullName)),
                                                    new FilterParameter(nameof(Model.BillingCountryId)),
                                                    new FilterParameter(nameof(Model.PaymentMethodSystemName)),
                                                    new FilterParameter(nameof(Model.ProductId)),
                                                    new FilterParameter(nameof(Model.OrderNotes)),
                                                    new FilterParameter(nameof(Model.AgentId))
                                                }
                            };
                            gridModel.ColumnCollection = new List<ColumnProperty>
                                                                                                                            {
                                                new ColumnProperty(nameof(OrderModel.Id))
                                                {
                                                    IsMasterCheckBox = true,
                                                    Render = new RenderCheckBox("checkbox_orders"),
                                                    ClassName =  NopColumnClassDefaults.CenterAll,
                                                    Width = "50",
                                                },
                                                new ColumnProperty(nameof(OrderModel.CustomOrderNumber))
                                                {
                                                    Title = T("Admin.Orders.Fields.CustomOrderNumber").Text,
                                                    Width = "80",
                                    Render = new RenderCustom("renderCustomOrderNumber")
                                                },
                                                new ColumnProperty(nameof(OrderModel.CustomerEmail))
                                                {
                                                    Title = T("Admin.Orders.Fields.Customer").Text,
                                                    Width = "250",
                                                    Render = new RenderCustom("renderColumnCustomerInfo")
                                                },
                                                new ColumnProperty(nameof(OrderModel.Merchant))
                                                {
                                                    Title = T("NB.Admin.Order.Merchant").Text,
                                                    Width = "150"
                                                }
                                            };
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(OrderModel.OrderTypeName))
                            {
                                Title = T("Admin.Orders.Fields.OrderDetails.OrderTypeName").Text,
                                Visible = false,
                                Width = "80"
                            });
                            //a vendor does not have access to this functionality
                            if (!Model.IsLoggedInAsVendor)
                            {
                                gridModel.ColumnCollection.Add(new ColumnProperty(nameof(OrderModel.OrderStatus))
                                {
                                    Title = T("Admin.Orders.Fields.OrderStatus").Text,
                                    Width = "100",
                                    Render = new RenderCustom("renderColumnOrderStatus")
                                });
                            }
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(OrderModel.PaymentStatus))
                            {
                                Title = T("Admin.Orders.Fields.PaymentStatus").Text,
                                Width = "150"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(OrderModel.OrderSubtotalInclTax))
                            {
                                Title = T("NB.Admin.OrderList.ItemCost").Text,
                                Width = "100"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(OrderModel.OrderTotalDiscount))
                            {
                                Title = T("NB.Admin.OrderList.Discount").Text,
                                Width = "100"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(OrderModel.PayableAmount))
                            {
                                Title = T("NB.Admin.Order.PayableAmount").Text,
                                Width = "100"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(OrderModel.PaidAmountValue))
                            {
                                Title = T("NB.Admin.Order.PaidAmount").Text,
                                Width = "100",
                                Editable = true,
                                EditType = EditType.Number,
                                Render = new RenderCustom("renderCustomPaidAmount")
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(OrderModel.PayableAmountValue))
                            {
                                Visible = false
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(OrderModel.Id))
                            {
                                Title = T("Admin.Common.View").Text,
                                Width = "50",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderButtonsInlineEdit()
                            });
                        }

                        @await Html.PartialAsync("Table", gridModel)

                        <script>
                            function renderColumnOrderStatus(data, type, row, meta) {
                                var color;
                                switch (row.OrderStatusId) {
                                case 10:
                                    color = 'yellow';
                                    break;
                                case 20:
                                    color = 'blue';
                                    break;
                                case 30:
                                    color = 'green';
                                    break;
                                case 40:
                                    color = 'red';
                                    break;
                                }
                                return '<span class="grid-report-item ' + color + '">' + data + '</span >';
                            }
                            function renderColumnCustomerInfo(data, type, row, meta) {

                                return '<span class="customer-info-ongrid">' + row.CustomerFullName + '</span > <br /><span class="customer-info-ongrid"><a href="/Admin/Customer/Edit/'+row.CustomerId+'">' + row.CustomerEmail + '</a></span ><br /><span class="customer-info-ongrid">' + (row.CustomerPhoneNumber != null ? row.CustomerPhoneNumber : '') + '</span >';
                            }
                            function renderCustomOrderNumber(data, type, row, meta) {
                                return '' + row.CustomOrderNumber + ''
                                    //<br />< a onclick = "javascript:OpenWindow(\'/Tracking/OrderTrack.html?OrderId='+row.OrderGuid+'\', 800, 320, true); return false;" href = "javascript:void(0);" > Live Track </a > <br /> <a href="/Admin/Order/PdfInvoice?orderId='+row.CustomOrderNumber+'"> Print </a> ';
                            }
                            function renderCustomPaidAmount(data, type, row, meta) {
                                return '' + row.PaidAmount + ''
                            }
                            $(document).ready(function() {
                                $("#@Html.IdFor(model => model.GoDirectlyToCustomOrderNumber)").keydown(
                                    function(event) {
                                        if (event.keyCode === 13) {
                                            $("#go-to-order-by-number").click();
                                            return false;
                                        }
                                    });
                            });
                            function ordersfootercallback(tfoot, data, start, end, display) {
                                //update order totals summary
                                var postData = {
                                    StartDate: $('#@Html.IdFor(model => model.StartDate)').val(),
                                    EndDate: $('#@Html.IdFor(model => model.EndDate)').val(),
                                    OrderStatusIds: $('#@Html.IdFor(model => model.OrderStatusIds)').val(),
                                    PaymentStatusIds: $('#@Html.IdFor(model => model.PaymentStatusIds)').val(),
                                    ShippingStatusIds: $('#@Html.IdFor(model => model.ShippingStatusIds)').val(),
                                    StoreId: $('#@Html.IdFor(model => model.StoreId)').val(),
                                    VendorId: $('#@Html.IdFor(model => model.VendorId)').val(),
                                    WarehouseId: $('#@Html.IdFor(model => model.WarehouseId)').val(),
                                    BillingEmail: $('#@Html.IdFor(model => model.BillingEmail)').val(),
                                    BillingPhone: $('#@Html.IdFor(model => model.BillingPhone)').val(),
                                    BillingLastName: $('#@Html.IdFor(model => model.BillingLastName)').val(),
                                    BillingFullName: $('#@Html.IdFor(model => model.BillingFullName)').val(),
                                    BillingCountryId: $('#@Html.IdFor(model => model.BillingCountryId)').val(),
                                    PaymentMethodSystemName: $('#@Html.IdFor(model => model.PaymentMethodSystemName)').val(),
                                    ProductId: $('#@Html.IdFor(model => model.ProductId)').val(),
                                    OrderNotes: $('#@Html.IdFor(model => model.OrderNotes)').val()
                                };
                                addAntiForgeryToken(postData);

                                $.ajax({
                                    cache: false,
                                    type: "POST",
                                    url: "@(Url.Action("MerchantEarningReportAggregates", "Order"))",
                                    data: postData,
                                    success: function (data, textStatus, jqXHR) {
                                        if (data) {
                                            for (var key in data) {
                                                $("#totalItemCost").html(data['aggregatorordersubtotal']);
                                                $("#totalDiscount").html(data['aggregatororderdiscounttotal']);
                                                $("#totalPayable").html(data['aggregatororderpayabletotal']);
                                                $("#totalPending").html(data['aggregatororderpendingtotal']);
                                                $("#totalPaid").html(data['aggregatororderpaidtotal']);
                                            }
                                        }
                                    }
                                });
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@*export selected (XML). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="Order" asp-action="ExportXmlSelected" method="post" id="export-xml-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script>
    $(document).ready(function () {
        $('#exportxml-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-xml-selected-form #selectedIds').val(ids);
            $('#export-xml-selected-form').submit();
            updateTable('#orders-grid');
            return false;
        });
    });
</script>

@*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="Order" asp-action="ExportExcelSelected" method="post" id="export-excel-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script>
    $(document).ready(function () {
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-excel-selected-form #selectedIds').val(ids);
            $('#export-excel-selected-form').submit();
            updateTable('#orders-grid');
            return false;
        });
    });
</script>

@*Print packaging slips selected (XML). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="Order" asp-action="PdfInvoiceSelected" method="post" id="pdf-invoice-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script>
    $(document).ready(function () {
        $('#pdf-invoice-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#pdf-invoice-selected-form #selectedIds').val(ids);
            $('#pdf-invoice-selected-form').submit();
            updateTable('#orders-grid');
            return false;
        });
    });
</script>