﻿@using Nop.Core
@using Nop.Services.Configuration;
@model MerchantModel

@if (Model != null)
{
    
    <div class="row">
        <div class="col-sm-12 col-xs-12 clearfix">
            
            <div class="leftInfo clearfix">
                @if (Model.PictureModel != null)
                {
                <div class="co_thmb"><img src="@Model.PictureModel.ImageUrl"></div>
                }
                <div class="restaurNameInfo">
                    <h2>
                        @Model.Name
                    </h2>
                    <div class="bar clearfix">
                        <p>
                            @string.Format("{0}, {1}, {2}, {3}", Model.Address1, Model.Address2, Model.City, Model.State)
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
