﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.CashOnDelivery.Models.PaymentInfoModel
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            @Html.Raw(Model.DescriptionText)
        </td>
    </tr>
    <tr>
        <td>
            <label>@T("Plugins.Payment.CashOnDelivery.CardPayment")</label>
        </td>
        <td>
            @Html.RadioButtonFor(model => model.PaymentOption, "Card Payment")
        </td>
    </tr>
    <tr>
        <td>
            <label>@T("Plugins.Payment.CashOnDelivery.Cash")</label>
        </td>
        <td>
            @Html.RadioButtonFor(model => model.PaymentOption, "Cash")
        </td>
    </tr>
</table>
