﻿@model EmailOrPhoneNumberFormModel

@{
    Layout = "";
}

<form class="email-or-phonenumber-form" method="post">
    <div class="form-fields">
        <div class="inputs">
            <input asp-for="EmailOrPhoneNumber" autofocus="autofocus" placeholder=@T("Resanehlab.Plugin.Authentication.PhoneNumber.EmailOrPhoneNumberForm.Title")/>
        </div>

        @if (Model.PrimaryUsernamesEnabled)
        {
            @await Html.PartialAsync(Constants.RecoverEmailByUsernamePartialViewPath, new RecoverEmailByUsernameModel())
        }

    </div>
    <div class="buttons">
        <input class="button-1 login-button btn-primary-sm" type="submit" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.Login.Next")" />
    </div>
</form>
<script>
    Resanehlab.documentReady(function () {
        /* // Forms Validation ___________________________________ */
        jQuery.validator.addMethod("emailOrPhoneNumberRegexValidation", function (value, element, regexp) {
            var re = new RegExp(regexp);
            return this.optional(element) || re.test(value);
        }, "@T("Resanehlab.Plugin.Authentication.PhoneNumber.EmailOrPhoneNumberForm.Fields.EmailOrPhoneNumber.WrongFormat")");

        var validator = $(".email-or-phonenumber-form").validate({
            errorElement: 'p',
            errorClass: 'tip tip-error',

            highlight: function (element) {
                $(element).removeClass("tip tip-error");
            },

            rules: {
                EmailOrPhoneNumber: { required: true, emailOrPhoneNumberRegexValidation: "@Html.Raw(Constants.Javascript_EmailRegexPattern + "|" + Constants.Javascript_GeneralPhoneNumberRegexPattern)" }
            },

            // Specify the validation error messages
            messages: {
                EmailOrPhoneNumber: {
                    required: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.EmailOrPhoneNumberForm.Fields.EmailOrPhoneNumber.Required")",
                }
            },

            submitHandler: function (form) {
                $.ajax({
                    cache: false,
                    url: '@Url.Action("RenderNextStepByCredentialType", "PhoneAuthenticationCustomer")',
                    data: $(form).serialize(),
                    type: 'post',
                    beforeSend: function () {
                        $("#EmailOrPhoneNumber").addClass("loading");
                    },
                    success: function (response) {
                        if (!response.success)
                            validator.showErrors({
                                "EmailOrPhoneNumber": response.message
                            });
                        else if (response.update_section)
                            $("." + response.update_section.name).html(response.update_section.html);
                    },
                    complete: function() {
                        $("#EmailOrPhoneNumber").removeClass("loading");
                    },
                    error: function (error) {
                        alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.ErrorNotification")");
                    }
                });
            }
        });
    });
</script>
