﻿@model SignInModel

@{
    Layout = "";
}

<form class="signIn-form" method="post">
    <input asp-for="CredentialType" type="hidden" />
    <input asp-for="Credential" type="hidden" />
    <input asp-for="SelectedCountryTwoLetterIsoCode" type="hidden" />

    <div class="title">
        <strong>@T("Resanehlab.Plugin.Authentication.PhoneNumber.SignIn.Title")</strong>
    </div>
    <div class="form-fields">
        <div class="previous-step-container">
            <button class="previous-step" type="button">
                <img src="@string.Format(Constants.PluginOutputPathWithoutTilde + Constants.PluginImagesPath + "{0}", "arrow_left.svg")" />
            </button>
            <span class="credential">@Model.Credential</span>
        </div>

        <div class="inputs">
            <input asp-for="Password" class="password" placeholder="@T("Account.Login.Fields.Password")" />
            <p id="Password-error" class="tip tip-error"></p>
        </div>
        <div class="inputs reversed">
            <div class="RememberMe">
                <input asp-for="RememberMe" />
                <label asp-for="RememberMe"></label>
            </div>
            <span class="forgot-password">
                <a asp-route="Resanehlab.Plugin.Authentication.PhoneNumber.PasswordRecoveryTypeSelection">@T("Account.Login.ForgotPassword")</a>
            </span>
        </div>
        @if (Model.DisplayCaptcha)
        {
            <div class="captcha-box">
                <nop-captcha />
            </div>
        }
    </div>
    <div class="buttons">
        <input class="button-1 signin-button btn-primary-sm" type="submit" value="@T("Account.Login.LoginButton")" />
    </div>
</form>
<script>
    Resanehlab.documentReady(function () {
        $(".previous-step").click(function () {
            var url = "";
            var data = "";
            if ($("#CredentialType").val() == '@CredentialType.Email') {
                url = '@Url.Action("RenderEmailOrPhoneNumberForm", "PhoneAuthenticationCustomer")';
                data = { EmailOrPhoneNumber: $("#Credential").val() };
            }
            if ($("#CredentialType").val() == '@CredentialType.PhoneNumber') {
                url = '@Url.Action("RenderPhoneNumberConfirmation", "PhoneAuthenticationCustomer")';
                data = { PhoneNumber: $("#Credential").val(), SelectedCountryTwoLetterIsoCode: $("#SelectedCountryTwoLetterIsoCode").val() };
            }
            $.ajax({
                cache: false,
                url: url,
                data: data,
                type: 'post',
                beforeSend: function () {
                    $("#Password").addClass("loading");
                },
                success: function (response) {
                    if (!response.success)
                        showError(response.message);
                    else if (response.update_section)
                        $("." + response.update_section.name).html(response.update_section.html);
                },
                complete: function () {
                    $("#Password").removeClass("loading");
                },
                error: function (error) {
                    alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.ErrorNotification")");
                }
            });
        });

        $('.signIn-form').on('submit', function (e) {
            e.preventDefault();

            var form = this;
            $.ajax({
                cache: false,
                url: '@Url.Action("SignIn", "PhoneAuthenticationCustomer")',
                data: $(form).serialize(),
                type: 'post',
                beforeSend: function () {
                    $("#Password").addClass("loading");
                },
                success: function (response) {
                    if (!response.success)
                        showError(response.message, response.captcha_string);
                    else if (response.url)
                        window.location.href = response.url;
                },
                complete: function () {
                    $("#Password").removeClass("loading");
                },
                error: function (error) {
                    alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.ErrorNotification")");
                }
            });
        });
    });

    function showError(message, captchaString) {
        var elem = $("p.tip-error");
        elem.text(message);
        elem.show();
        setTimeout(function () {
            elem.hide();
        }, 4000);

        @if (Model.DisplayCaptcha)
        {
            <text>
                $(".captcha-box").html(captchaString)
            </text>
        }
    }
</script>
