﻿@model PhoneNumberConfirmationModel
@inject Nop.Web.Framework.Themes.IThemeContext themeContext

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("Resanehlab.Plugin.Authentication.PhoneNumber.PageTitle.PasswordRecoveryByPhoneNumber").Text);
    var themeName = themeContext.WorkingThemeName;

    Html.AppendCssFileParts(string.Format(Constants.PluginOutputPath + "/Themes/{0}/" + Constants.PluginCssPath + "{1}", themeName, "style.css"));
    Html.AppendCssFileParts(string.Format(Constants.PluginOutputPath + Constants.PluginCssPath + "{0}", "style.css"));
    Html.AppendCssFileParts(string.Format(Constants.PluginOutputPath + Constants.PluginCssPath + "{0}", "bootstrap.min.css"));

    Html.AppendScriptParts(ResourceLocation.Footer, string.Format(Constants.PluginOutputPath + Constants.PluginScriptsPath + "{0}", "bootstrap.min.js"));
    Html.AppendScriptParts(ResourceLocation.Footer, string.Format(Constants.PluginOutputPath + Constants.PluginScriptsPath + Constants.JqueryValidationScriptsFolder + "/{0}", "additional-methods.min.js"));
    Html.AppendScriptParts(ResourceLocation.Footer, string.Format(Constants.PluginOutputPath + Constants.PluginScriptsPath + Constants.JqueryValidationScriptsFolder + "/{0}", "jquery.validate.min.js"));
}

<div class="page password-recovery-by-phonenumber-page">
    <div class="page-title">
        <h1>@T("Resanehlab.Plugin.Authentication.PhoneNumber.PageTitle.PasswordRecoveryByPhoneNumber")</h1>
    </div>
    <div class="page-body">
        @if (Model.AvailableCallingCodes != null && Model.AvailableCallingCodes.Count() > 0)
        {
            <form class="password-recovery-by-phonenumber-form" method="post">
                @Html.AntiForgeryToken()

                <p class="tooltip">@T("Resanehlab.Plugin.Authentication.PhoneNumber.PasswordRecoveryByPhoneNumber.Tooltip")</p>
                <div class="fieldset">
                    <div class="form-fields">
                        @await Html.PartialAsync(Constants.CountriesDropdownWithPhoneNumberPartialViewPath, Model)
                    </div>
                </div>
                <div class="buttons">
                    <input class="button-1 password-recovery-by-phonenumber-button btn-primary-sm" type="submit" value="@T("Resanehlab.Plugin.Authentication.PhoneNumber.PasswordRecoveryByPhoneNumber.RecoverButton")" />
                </div>
            </form>

            <script>
                Resanehlab.documentReady(function () {
                    /* // Forms Validation ___________________________________ */
                    jQuery.validator.addMethod("phoneNumberRegexValidation", function (value, element, regexp) {
                        var re = new RegExp(regexp);
                        return this.optional(element) || re.test(value);
                    }, "@T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.Fields.PhoneNumber.WrongFormat")");

                    var validator = $(".password-recovery-by-phonenumber-form").validate({
                        errorElement: 'p',
                        errorClass: 'tip tip-error',

                        highlight: function (element) {
                            $(element).removeClass("tip tip-error");
                        },

                        rules: {
                            PhoneNumber: { required: true, phoneNumberRegexValidation: "@Html.Raw(Model.AvailableCallingCodes.First(model => model.Selected).RegexPattern.Replace(@"\", @"\\"))" }
                        },

                        // Specify the validation error messages
                        messages: {
                            PhoneNumber: {
                                required: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.Fields.PhoneNumber.Required")",
                            }
                        },

                        submitHandler: function (form) {
                            $.ajax({
                                cache: false,
                                url: '@Url.Action("PasswordRecoveryByPhoneNumber", "PhoneAuthenticationCustomer")',
                                data: $(form).serialize(),
                                type: 'post',
                                beforeSend: function () {
                                    $("#PhoneNumber").addClass("loading");
                                },
                                success: function (response) {
                                    if (!response.success)
                                        validator.showErrors({
                                            "PhoneNumber": response.message
                                        });
                                    else if (response.update_section)
                                        $("." + response.update_section.name).html(response.update_section.html);
                                },
                                complete: function () {
                                    $("#PhoneNumber").removeClass("loading");
                                },
                                error: function (error) {
                                    alert("@T("Resanehlab.Plugin.Authentication.PhoneNumber.SendingMessage.ErrorNotification")");
                                }
                            });
                        }
                    });
                });
            </script>
        }
        else
        {
            <div class="no-data">
                @T("Resanehlab.Plugin.Authentication.PhoneNumber.PhoneNumberConfirmation.CallingCodes.NotAvailable")
            </div>
        }

    </div>
</div>