﻿@model CustomerPhoneNumberModel

@{
    @inject IGenericAttributeService genericAttributeService
    @inject IWorkContext workContext

    const string hideNotesBlockAttributeName = "CustomerPage.HidePhonenNumber";
    var hideNotesBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideNotesBlockAttributeName);
}

<nop-panel asp-name="customer-phone-number" asp-icon="fa fa-info" asp-title="@T("Resanehlab.Plugin.Authentication.PhoneNumber.Customer.Tabs.PhoneNumber")" asp-hide-block-attribute-name="@hideNotesBlockAttributeName" asp-hide="@hideNotesBlock" asp-advanced="true">
    <div class="panel-body">
        <div class="panel panel-default sub-panel">
            <div class="panel-body">
                @if (!string.IsNullOrEmpty(Model.PhoneNumber))
                {
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="PhoneNumber" />
                        </div>
                        <div class="col-md-9">
                            <div class="form-text-row">@Model.PhoneNumber</div>
                        </div>
                    </div>
                }
                else
                {
                    <div>@T("Resanehlab.Plugin.Authentication.PhoneNumber.CustomerPhoneNumber.NoData")</div>
                }
            </div>
        </div>
    </div>
</nop-panel>