﻿@model SubscriptionActivationModel
@{
    Layout = "_ColumnsOne";

    //page class
    Html.AppendPageCssClassParts("html-newsletter-page");
}

<div class="row">
    <div class="col-md-6">
        <div class="page-title">
            <h1>@T("Newsletter.Title")</h1>
        </div>
        <p>@T("nb.followus.newsletter")</p>
    </div>
	<div class="col-md-6">
		@Model.Result
	</div>
</div>

