﻿@model List<CategoryModel.SubCategoryModel>

@if (Model != null && Model.Count > 0)
{
    <ul class="sublist" style="display:block;position:relative;">
        @foreach (var item in Model)
        {
        <li>
            <a href="javascript:void(0)" class="pn-ProductNav_Link" id="@item.Id">
                @item.Name
            </a>
            @await Html.PartialAsync("_CategoryMenuMerchant", item.SubCategories)
        </li>
        }
    </ul>
}