﻿@model List<MerchantCategoryModel>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
@if (Model.Count > 0)
{
    <section id="choose_category1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 choose-cat-title">
                    <h2>@T("nb.select.your.category")</h2>
                    <h3>@T("NB.Select.Your.Category.Subtitle")</h3>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <div class="row catSlider">
                            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                                <div class="MultiCarousel-inner" >
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <div class="item item-box">
                                            <label class="container_label" id="slide@(i)">
                                                <input type="checkbox" data-id="@item.StoreIds" name="slide" value="@item.Id" />
                                                <span class="checkmark">
                                                    <img title="@item.PictureModel.Title" src="@item.PictureModel.ImageUrl">
                                                </span>

                                            </label>
                                            <span class="chooseCatTitle"> @item.Name </span>
                                        </div>
                                        i++;
                                    }

                                </div>
                                <button class="btn btn-primary leftLst"><i class="fa fa-angle-left"></i> </button>
                                <button class="btn btn-primary rightLst"><i class="fa fa-angle-right"></i> </button>
                            </div>
                        </div> 
                    </div>
                    @*<div class="item-grid twoItemSlider">
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <div class="item-box">
                                    <label class="container_label" id="slide@(i)">
                                        <input type="checkbox" data-id="@item.StoreIds" name="slide" value="@item.Id" />
                                        <span class="checkmark">
                                            <img title="@item.PictureModel.Title" src="@item.PictureModel.ImageUrl">
                                        </span>

                                    </label>
                                    <span class="chooseCatTitle"> @item.Name </span>
                                </div>
                                i++;
                            }
                        </div>*@
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function () {
            showAllMerchant();
            $('input:checkbox[name=slide]').change(function () {
                showAllMerchant();
                $(this).parents("li").toggleClass("active");
            });
        });
        function showAllMerchant() {
            //debugger
            var selected = [];
            $("input:checkbox[name=slide]:checked").each(function () {
                var vendorids = $(this).attr("data-id");
                if (vendorids != "") {
                    var idsArray = vendorids.split(",");
                    for (var i = 0; i < idsArray.length; i++) {
                        if (selected.indexOf(idsArray[i]) == -1) {
                            selected.push(idsArray[i]);
                        }
                    }
                }
            });
            if (selected.length > 0) {
                $(".restaurBox").each(function (i, value) {
                    var vendorid = $(this).attr("data-id");
                    if (vendorid != "") {
                        if (selected.indexOf(vendorid) !== -1) {
                            $(this).show();
                        }
                        else {
                            $(this).hide();
                        }
                    }
                });
            }
            else {
                $(".restaurBox").show();
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            var itemsMainDiv = ('.MultiCarousel');
            var itemsDiv = ('.MultiCarousel-inner');
            var itemWidth = "";

            $('.leftLst, .rightLst').click(function () {
                var condition = $(this).hasClass("leftLst");
                if (condition)
                    click(0, this);
                else
                    click(1, this)
            });

            ResCarouselSize();

            $(window).resize(function () {
                ResCarouselSize();
            });

            //this function define the size of the items
            function ResCarouselSize() {
                var incno = 0;
                var dataItems = ("data-items");
                var itemClass = ('.item');
                var id = 0;
                var btnParentSb = '';
                var itemsSplit = '';
                var sampwidth = $(itemsMainDiv).width();
                var bodyWidth = $('body').width();
                $(itemsDiv).each(function () {
                    id = id + 1;
                    var itemNumbers = $(this).find(itemClass).length;
                    btnParentSb = $(this).parent().attr(dataItems);
                    itemsSplit = btnParentSb.split(',');
                    $(this).parent().attr("id", "MultiCarousel" + id);

                    if (bodyWidth >= 1200) {
                        incno = itemsSplit[2];
                        itemWidth = sampwidth / incno;
                    }
                    else if (bodyWidth >= 992) {
                        incno = itemsSplit[2];
                        itemWidth = sampwidth / incno;
                    }
                    else if (bodyWidth >= 768) {
                        incno = itemsSplit[1];
                        itemWidth = sampwidth / incno;
                    }
                    else {
                        incno = itemsSplit[0];
                        itemWidth = sampwidth / incno;
                    }
                    $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                    $(this).find(itemClass).each(function () {
                        $(this).outerWidth(itemWidth);
                    });

                    $(".leftLst").addClass("over");
                    $(".rightLst").removeClass("over");

                });
            }


            //this function used to move the items
            function ResCarousel(e, el, s) {
                var leftBtn = ('.leftLst');
                var rightBtn = ('.rightLst');
                var translateXval = '';
                var divStyle = $(el + ' ' + itemsDiv).css('transform');
                var values = divStyle.match(/-?[\d\.]+/g);
                var xds = Math.abs(values[3]);
                if (e == 0) {
                    translateXval = parseInt(xds) - parseInt(itemWidth * s);
                    $(el + ' ' + rightBtn).removeClass("over");

                    if (translateXval <= itemWidth / 2) {
                        translateXval = 0;
                        $(el + ' ' + leftBtn).addClass("over");
                    }
                }
                else if (e == 1) {
                    var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                    translateXval = parseInt(xds) + parseInt(itemWidth * s);
                    $(el + ' ' + leftBtn).removeClass("over");

                    if (translateXval >= itemsCondition - itemWidth / 2) {
                        translateXval = itemsCondition;
                        $(el + ' ' + rightBtn).addClass("over");
                    }
                }
                $(el + ' ' + itemsDiv).css('transform', 'translateX(' + translateXval + 'px)');
            }

            //It is used to get some elements from btn
            function click(ell, ee) {
                var Parent = "#" + $(ee).parent().attr("id");
                var slide = $(Parent).attr("data-slide");
                ResCarousel(ell, Parent, slide);
            }

        });
    </script>




    @*<script>
            jQuery(function ($) {
                jQuery.noConflict();
                jQuery.fn.slick = jQuery.fn.slick || function () { };
                jQuery('.twoItemSlider').slick({
                    dots: false,
                    infinite: false,
                    speed: 300,
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    responsive: [
                        {
                            breakpoint: 1025,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                infinite: true,
                                dots: true
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2
                            }
                        }
                    ]
                });
            });
        </script>
        <script>
                function initSlider() {
                    $('.twoItemSlider').slick({
                        dots: false,
                        infinite: true,
                        speed: 300,
                        slidesToShow: 1,
                        autoplay: true,
                        prevArrow: '<div class="slick-prev"><i class="fa fa-chevron-left"></i></div>',
                        nextArrow: '<div class="slick-next"><i class="fa fa-chevron-right"></i></div>'
                    });
                }

                $(document).on('ready', function () {
                    initSlider();
                });
        </script>*@

}