﻿@model SliderPictureModel
@using Nop.Web.Models.Home

@* Import nivoslider js and css manualy here, so it can perform slider effect as we append it using jquery *@
<script src="~/lib/jquery/jquery-3.3.1.js"></script>
<script src="~/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js"></script>
<link href="~/Plugins/Widgets.NivoSlider/Content/nivoslider/nivo-slider.css" rel="stylesheet" />
<link href="~/Plugins/Widgets.NivoSlider/Content/nivoslider/themes/custom/custom.css" rel="stylesheet" />
@await Component.InvokeAsync("WidgetsNivoSlider", new { widgetZone = "", additionalData = "", getPicturesByGeofacing = Model.GetPicturesByGeofacing, geofaciningSettingIds = Model.GeofaciningSettingIds })

<script>
    $(document).ready(function () {
        $('#nivo-slider').nivoSlider({
            animSpeed: 800,                 // Slide transition speed
            pauseTime: 3000
        });
  
    })
 

</script>