@model Nop.Web.Models.Home.StoreItemModel;
@{
    Layout = "_ColumnsOne";
    Html.AppendPageCssClassParts("html-home-page");
}
@* Import nivoslider js to perform slider on first call *@
<script src="~/Plugins/Widgets.NivoSlider/Scripts/jquery.nivo.slider.js"></script>
<input type="hidden" id="hdOrderType" value="1">
<div class="page home-page">
    <div class="page-body">
        @*<div id="sliderPictures">
                @await Html.PartialAsync("_SliderPictures", new Nop.Web.Models.Home.SliderPictureModel())
            </div>*@
        <div class="checkStuList" style="display:none">
            <ul>
                <li id="IsAggrigator" checkStu="@Model.IsAggrigator"></li>
                <li id="IsDelivery" checkStu="@Model.IsDelivery"></li>
                <li id="IsDinning" checkStu="@Model.IsDinning"></li>
                <li id="IsTakeaway" checkStu="@Model.IsTakeaway"></li>
                <li id="Name">@Model.Name</li>
            </ul>
        </div>
        <section class="banner clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 banner-left">
                        <div class="banner_txt_wrap"><h1 class="banner_head">@T("NB.Banner.Heading")</h1></div>
                        <div class="banner_txt"><h3 class="head_banner">@T("NB.Banner.SubHeading")</h3></div>
                        <div class="bannerImg1 clearfix">
                            <div class="orderOptionBlock clearfix">

                                <ul class="buttonTabs clearfix">
                                    @*@{
                                            if (Model.IsDelivery)
                                            {
                                                <li class="active" rel="tab1" id="findFoodBtnTake" onclick="setOrderType(1);">@T("delivery.button.text")</li>
                                            }
                                            if (Model.IsTakeaway)
                                            {
                                                <li rel="tab3" id="DineTab" onclick="setOrderType(2);"> @T("Pickup.Button.Text") </li>
                                            }
                                        }*@

                                    <li class="active"><a href="javascript:void(0)" id="findFoodBtnDelivery" onclick="setOrderType(1,true);" class="delivery-step-link">@T("delivery.button.text")</a></li>
                                    <li><a href="javascript:void(0)" id="findFoodBtnTA" onclick="setOrderType(2,true);" class="takeaway-step-link">@T("Pickup.Button.Text")</a></li>

                                </ul>
                                <div class="tabContainer">
                                    @*@if (Model.IsDelivery)
                                        {*@
                                    <div id="tab1" class="tabContent deliveryListBlock">
                                        <form method="get">
                                            <div class="addrsBar clearfix">
                                                <div class="fieldBar clearfix">
                                                    <div class="field">
                                                        <input type="text" name="addrs" class="location" id="autocomplete" placeholder="@T("placeholder.button.text")">
                                                        <!--<label class="container_label" id="autoComError">Please enter address</label>-->
                                                        <input id="latLong" placeholder="lat long" type="text" style="display:none" />
                                                        <input id="latLongForDist" placeholder="lat long" type="text" style="display:none" />
                                                    </div>
                                                    <a class="button" id="findFoodBtn"><i class="fa fa-angle-right"></i></a>
                                                </div>
                                                <label class="datanotFountText">@T("error.notdeliver.text")</label>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- #tab1 -->
                                    @*<div id="tab2" class="tabContent takeAwayList">
                                            </div>

                                        }*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 banner-right"><img src="/Themes/IndiaExpressV1/Content/img/banner-right-image.png" class="banner-right-image" /></div>
                </div>
            </div>
        </section>
        <section id="choose_category"></section>
        <section id="restaurant_listing">
            <div class="container">
                <div id="restuList2" class=" bar clearfix tabContent dineContent">
                    <section id="choose_category2" style="display:none;"> </section>
                    <div class="searchBlock clearfix" style="display: none;">
                        <div class="field clearfix datanotFountSearchHide">
                            <input type="text" id="search" name="search" placeholder="Search @T("search.button.text")">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <div class="restaurListSection clearfix" id="geoListMerchant">
                        <div id="searchLoaderImg" class="searchLoaderImg" style="display: none;"><img src="/Themes/IndiaExpressV1/Content/img/loaderImg.gif"></div>
                    </div>
                </div>
                <div id="tab3" class="tabContent dineContent">
                    <section id="choose_category1" style="display:none;"> </section>
                    <div class="restaurListSection offers_section clearfix ">
                        <h2 class="title">@T("NB.Restaurant.Offers")</h2>
                        <div id="offerDiscount" class="restaurListSection clearfix">
                            @* <div class="box">
                                    <div class="img clearfix">
                                        <a href="javascript:void(0);" class="imginclick" title="Show products of vendor CAPTAIN DS"> <img src="../Themes/IndiaExpressV1/Content/img/offer_image.png"></a>
                                    </div>
                                    <div class="restaur_desc">
                                        <a href="javascript:void(0);" title="Show products of vendor CAPTAIN DS" class="rest_title">
                                            <h2>Grand Restaurant</h2>
                                        </a>
                                        <div class="restaurBoxAddress">
                                            <span class="merchant_desc">
                                                Asian, Chinsese $15 min
                                            </span>
                                        </div>
                                        <div class="time_rating">
                                            <div class="openTime">
                                                9:00-11:00
                                            </div>
                                        </div>
                                        <div class="rate-wishlist">
                                            <div class="rating">
                                                <div class="ratingli">
                                                    <span>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <em>0</em>

                                                    </span>
                                                </div>
                                            </div>
                                            <div class="addToWish"><i class="fa fa-heart"></i></div>
                                        </div>
                                    </div>
                                    <div class="offer_text">40% off I Use VONZUUNEW</div>
                                </div>*@
                        </div>
                    </div>
                    <div class="searchBlock clearfix" style="display: none;">
                        <div class="field clearfix ">
                            <input type="text" id="search" name="search" placeholder="Search Restaurant">
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                    <div id="searchLoaderImg" class="searchLoaderImg" style="display: none;"><img src="/Themes/IndiaExpressV1/Content/img/loaderImg.gif"></div>
                    <h2 class="title">@T("NB.restaurant.Listing.Text")</h2>
                    <div id="searchLoaderImg" class="searchLoaderImg" style="display: none;"><img src="/Themes/IndiaExpressV1/Content/img/loaderImg.gif"></div>
                    <div id="tabMerchantListing" class="restaurListSection clearfix">
                        @await Component.InvokeAsync("Widget", new { widgetZone = "home_page_before_categories" })
                    </div>
                </div>
            </div>
        </section>
        @await Component.InvokeAsync("TopicBlock", new { systemName = "PlayStoreIndiaExpress" })


    </div>
</div>

<!--- Track last order block --->
@*@await Component.InvokeAsync("TrackLatestOrderBlock")*@
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }</script>


@*<script>
        $(document).ready(function () {

            $(".dineContent").hide();

        });
        $("#DineTab").click(function () {
            $(".takeAwayList").show();
            $(".dineContent").hide();
        });
        $("#findFoodBtnTake").click(function () {
            $(".takeAwayList").hide();
            $(".dineContent").show();
        });
    </script>*@
<script>
    // This example displays an address form, using the autocomplete feature
    // of the Google Places API to help users fill in the information.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };
    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }
    function initAutocomplete1() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete1')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        document.getElementById("latLong").value = place.geometry.location;
    }

    // Bias the autocomplete object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }

    function loadMerchantsAndCategories(type) {
        if ($("#autocomplete").val() == '') {
            $(".searchLoaderImg").hide();
            return false;
        }
        else {
            $("#tabMerchantListing").html('');
            $("#choose_category").html('');
            $("#offerDiscount").html('');
            $(".restaurListSection h2").show();
            $(".tabContent h2").show();
            var geoLoc = document.getElementById("latLong").value.replace(",", "").replace("(", "").replace(")", "");
            $("#latLongForDist").val(geoLoc);
            var value = $("#autocomplete").val().toLowerCase();
            $(".searchLoaderImg").show();

            //update nivoslider pictures by geolocation
            $.get("Home/GetSliderPicturesWithGeo", { latlong: geoLoc }, function (data) {
                if (!data) {
                    $("#sliderPictures").hide();
                } else {
                    $("#sliderPictures").html(data);
                    $("#sliderPictures").show();
                }
            });

            //update searched latlng
            $.post("Home/UpdateSearchCoordinates", { latlong: geoLoc }, function (data) {
            });

            $.get("Home/GetMerchantWithGeo", { id: geoLoc, enteredDeliveryAddress: value, ordtype: type, getOfferMerchant: true }, function (data) {
                if (!data) {
                    $(".datanotFountText").hide();
                    var noOfferFoundTag = '<span>@T("NB.HomeMerchant.NoOfferMerchantFound.Message")</span>'
                    $("#offerDiscount").show();
                    $("#offerDiscount").html(noOfferFoundTag);
                } else {
                    $(".datanotFountText").hide();
                    $("#offerDiscount").show();
                    $(".searchLoaderImg").hide();
                    $("#offerDiscount").html(data);
                    $(".datanotFountSearchHide").show();
                }
            });

            $.get("Home/GetMerchantWithGeo", { id: geoLoc, enteredDeliveryAddress: value, ordtype: type }, function (data) {
                if (!data) {
                    $(".datanotFountText").show();
                    $(".searchLoaderImg").hide();
                    var noMerchantFoundTag = '<span>@T("NB.HomeMerchant.NoNearMerchantFound.Message")</span>'
                    $("#tabMerchantListing").show();
                    $("#tabMerchantListing").html(noMerchantFoundTag);
                } else {
                    $(".datanotFountText").hide();
                    $("#tabMerchantListing").show();
                    $(".searchLoaderImg").hide();
                    $("#tabMerchantListing").html(data);
                    console.log(data);
                    $(".datanotFountSearchHide").show();

                    // Get Merchant Categorys
                    $.get("Home/GetMerchantCategorysWithGeo", { latlong: geoLoc, ordType: type, skipLocationSearch: (geoLoc == "") }, function (data) {
                        if (data) {
                            $.noConflict();
                            jQuery("#choose_category").show();
                            jQuery("#choose_category").html(data);
                        }
                        else {
                            $.noConflict();
                            jQuery("#choose_category").html('');
                        }
                    });
                }
            });
        }
    }
    function setOrderType(type, loadDefaultMerchant) {
        $("#hdOrderType").val(type);
        for (var i = 0; i <= 2; i++) {
            if (i == type) {
                $("#allTick" + i).show();
            }
            else {
                $("#allTick" + i).hide();
            }
        }
        if (type > 0) {
            $.post("Home/SetOrderType", { orderType: type });
        }
        if (loadDefaultMerchant) {
            loadMerchantsAndCategories(type);
        }
    }
</script>

<script>
    $(document).ready(function () {
        setOrderType(1, false);
        $("#findFoodBtn").click(function () {
            var type = parseInt($("#hdOrderType").val());
            loadMerchantsAndCategories(type);
        });
        //bind on enter key
        $("#autocomplete").keydown(function (event) {
            fillInAddress();
            if (event.keyCode === 13) {
                $("#findFoodBtn")[0].click();
            }
        });
    });
</script>
<script>
    $(function () {
        if (window.location.href.split(window.location.origin)[1] === "/?checkActiveRedirection") {
            //debugger;
            if ($("#IsDelivery").attr("checkStu") == "checkStu" && $("#IsTakeaway").attr("checkStu") == "checkStu") {
                $("body").show();
                //console.log("both are true");
            } else {
                if ($("#IsDelivery").attr("checkStu") == "checkStu") {
                    //console.log("IsDelivery checkStu");
                    $(".buttonTabs li[rel='tab2']").remove();
                    $(".tabContainer #tab2").remove();
                    $("body").show();
                }
                if ($("#IsTakeaway").attr("checkStu") == "checkStu") {
                    window.location.href = window.location.origin + "/homemerchant?merchantid=21";
                }
            }

        } else {
            $("body").show();
        }

        $(".searchBlock #search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".restaurListSection .restaurBox").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    });
</script>
<style>
    body { display: none; }
</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKuUGMz8-xYyc6t1YWUhygrrkB4-WAFeY&libraries=places&callback=initAutocomplete" async defer></script>
<script>

    $(".container_label input:checked").parents('.slide_box').addClass("selected-box");
</script>

<div id="dv-rating-review-container">@await Component.InvokeAsync("RatingReview")</div>
<div class="ratingYourPrevOrder">
    <div class="prevOrderText">@T("nb.RateYour.Previous.Order")</div>
    <div class="prevOrderClose">x</div>
</div>

<!--- Track last order block --->
@await Component.InvokeAsync("TrackLatestOrderBlock")
<script>
    function sendAppLink() {
        $('#sendapplink-message').text('');
        var postData = {
            emailId: $(".messageEmailPhone").val()
        };
        addAntiForgeryToken(postData);

        $.ajax({
            cache: false,
            type: "POST",
            url: "@Html.Raw(Url.Action("SendAppLinkByEmail", "Home"))",
            data: postData,
            success: function (data, textStatus, jqXHR) {
                $('#sendapplink-message').text(data.Message);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Error in sending App Link.');
            }
        });
    }
</script>



@*<script>
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;

            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }</script>
    <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>*@
