@model StateProvinceModel
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.Countries.Cities")
    </h1>
    <div class="pull-right">
        &nbsp;
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                @if (Model.Id > 0)
                {
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                            Name = "city-grid",
                            UrlRead = new DataUrl("CityList", "Country", new RouteValueDictionary { [nameof(CitySearchModel.StateId)] = Model.Id }),
                            UrlDelete = new DataUrl("CityDelete", "Country", null),
                            Length = Model.CitySearchModel.PageSize,
                            LengthMenu = Model.CitySearchModel.AvailablePageSizes,
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(CityModel.Name))
                                {
                                    Title = T("Admin.Configuration.Countries.States.Fields.Name").Text,
                                    Width = "300"
                                },
                                new ColumnProperty(nameof(CityModel.Code))
                                {
                                    Title = T("Admin.Configuration.Countries.States.Fields.Code").Text,
                                    Width = "150"
                                },
                                new ColumnProperty(nameof(CityModel.Published))
                                {
                                    Title = T("Admin.Configuration.Countries.States.Fields.Published").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.CenterAll,
                                    Render = new RenderBoolean()
                                },
                                new ColumnProperty(nameof(CityModel.DisplayOrder))
                                {
                                    Title = T("Admin.Configuration.Countries.States.Fields.DisplayOrder").Text,
                                    Width = "100",
                                    ClassName =  NopColumnClassDefaults.CenterAll
                                },
                                new ColumnProperty(nameof(CityModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "100",
                                    ClassName = NopColumnClassDefaults.Button,
                                    Render = new RenderCustom("renderColumnEdit")
                                },
                                new ColumnProperty(nameof(CityModel.Id))
                                {
                                    Title = T("Admin.Common.Delete").Text,
                                    Width = "100",
                                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                                    ClassName = NopColumnClassDefaults.Button
                                }
                            }
                        })
                    </div>
                    <div class="panel-footer">
                        <div width="100%">
                            <button type="submit" id="btnAddNewcity"
                                    onclick="javascript:OpenWindow('@(Url.Action("CityCreatePopup", "Country", new { stateId = Model.Id, btnId = "btnCityRefresh", formId = "state-form" }))', 800, 450, true); return false;"
                                    class="btn btn-primary">
                                @T("Admin.Configuration.Countries.City.AddNew")
                            </button>
                            <input type="submit" id="btnCityRefresh" style="display: none" />
                            <script>
                                $(document).ready(function () {
                                    $('#btnCityRefresh').click(function () {
                                        //refresh grid
                                        updateTable('#city-grid');

                                        //return false to don't reload a page
                                        return false;
                                    });
                                });
                            </script>
                        </div>
                    </div>
                }
                else
                {
                    <div class="panel-body">
                        @T("Admin.Configuration.Countries.City.SaveBeforeEdit")
                    </div>
                }

                <script>
    function renderColumnEdit(data, type, row, meta) {
        return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/Country/CityEditPopup/")' + data + '?btnId=btnCityRefresh&formId=state-form\', 800, 400, true); return false;\" class="btn btn-default"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</button>';
    }
                </script>
            </div>
        </div>
    </div>
</div>