@model CatalogSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayTaxShippingInfoFooter_OverrideForStore" asp-input="DisplayTaxShippingInfoFooter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayTaxShippingInfoFooter" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayTaxShippingInfoFooter" />
            <span asp-validation-for="DisplayTaxShippingInfoFooter"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayTaxShippingInfoProductDetailsPage_OverrideForStore" asp-input="DisplayTaxShippingInfoProductDetailsPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayTaxShippingInfoProductDetailsPage" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayTaxShippingInfoProductDetailsPage" />
            <span asp-validation-for="DisplayTaxShippingInfoProductDetailsPage"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayTaxShippingInfoProductBoxes_OverrideForStore" asp-input="DisplayTaxShippingInfoProductBoxes" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayTaxShippingInfoProductBoxes" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayTaxShippingInfoProductBoxes" />
            <span asp-validation-for="DisplayTaxShippingInfoProductBoxes"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayTaxShippingInfoShoppingCart_OverrideForStore" asp-input="DisplayTaxShippingInfoShoppingCart" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayTaxShippingInfoShoppingCart" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayTaxShippingInfoShoppingCart" />
            <span asp-validation-for="DisplayTaxShippingInfoShoppingCart"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayTaxShippingInfoWishlist_OverrideForStore" asp-input="DisplayTaxShippingInfoWishlist" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayTaxShippingInfoWishlist" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayTaxShippingInfoWishlist" />
            <span asp-validation-for="DisplayTaxShippingInfoWishlist"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayTaxShippingInfoOrderDetailsPage_OverrideForStore" asp-input="DisplayTaxShippingInfoOrderDetailsPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayTaxShippingInfoOrderDetailsPage" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayTaxShippingInfoOrderDetailsPage" />
            <span asp-validation-for="DisplayTaxShippingInfoOrderDetailsPage"></span>
        </div>
    </div>
</div>