@model CatalogSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="RemoveRequiredProducts_OverrideForStore" asp-input="RemoveRequiredProducts" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="RemoveRequiredProducts" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="RemoveRequiredProducts" />
            <span asp-validation-for="RemoveRequiredProducts"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="ShowBestsellersOnHomepage_OverrideForStore" asp-input="ShowBestsellersOnHomepage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ShowBestsellersOnHomepage" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="ShowBestsellersOnHomepage" />
            <span asp-validation-for="ShowBestsellersOnHomepage"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="ShowBestsellersOnHomepage">
        <div class="form-group advanced-setting" id="pnlNumberOfBestsellersOnHomepage">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="NumberOfBestsellersOnHomepage_OverrideForStore" asp-input="NumberOfBestsellersOnHomepage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="NumberOfBestsellersOnHomepage" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="NumberOfBestsellersOnHomepage" />
                <span asp-validation-for="NumberOfBestsellersOnHomepage"></span>
            </div>
        </div>
    </nop-nested-setting>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="ProductsAlsoPurchasedEnabled_OverrideForStore" asp-input="ProductsAlsoPurchasedEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ProductsAlsoPurchasedEnabled" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="ProductsAlsoPurchasedEnabled" />
            <span asp-validation-for="ProductsAlsoPurchasedEnabled"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="ProductsAlsoPurchasedEnabled">
        <div class="form-group advanced-setting" id="pnlProductsAlsoPurchasedNumber">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="ProductsAlsoPurchasedNumber_OverrideForStore" asp-input="ProductsAlsoPurchasedNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="ProductsAlsoPurchasedNumber" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="ProductsAlsoPurchasedNumber" />
                <span asp-validation-for="ProductsAlsoPurchasedNumber"></span>
            </div>
        </div>
    </nop-nested-setting>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="RecentlyViewedProductsEnabled_OverrideForStore" asp-input="RecentlyViewedProductsEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="RecentlyViewedProductsEnabled" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="RecentlyViewedProductsEnabled" />
            <span asp-validation-for="RecentlyViewedProductsEnabled"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="RecentlyViewedProductsEnabled">
        <div class="form-group advanced-setting" id="pnlRecentlyViewedProductsNumber">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="RecentlyViewedProductsNumber_OverrideForStore" asp-input="RecentlyViewedProductsNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="RecentlyViewedProductsNumber" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="RecentlyViewedProductsNumber" />
                <span asp-validation-for="RecentlyViewedProductsNumber"></span>
            </div>
        </div>
    </nop-nested-setting>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="NewProductsEnabled_OverrideForStore" asp-input="NewProductsEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="NewProductsEnabled" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="NewProductsEnabled" />
            <span asp-validation-for="NewProductsEnabled"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="NewProductsEnabled">
        <div class="form-group" id="pnlNewProductsNumber">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="NewProductsNumber_OverrideForStore" asp-input="NewProductsNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="NewProductsNumber" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="NewProductsNumber" />
                <span asp-validation-for="NewProductsNumber"></span>
            </div>
        </div>
    </nop-nested-setting>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayDatePreOrderAvailability_OverrideForStore" asp-input="DisplayDatePreOrderAvailability" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayDatePreOrderAvailability" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayDatePreOrderAvailability" />
            <span asp-validation-for="DisplayDatePreOrderAvailability"></span>
        </div>
    </div>
</div>