@model CatalogSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="IgnoreAcl" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="IgnoreAcl" />
            <span asp-validation-for="IgnoreAcl"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="IgnoreStoreLimitations" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="IgnoreStoreLimitations" />
            <span asp-validation-for="IgnoreStoreLimitations"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="IgnoreDiscounts" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="IgnoreDiscounts" />
            <span asp-validation-for="IgnoreDiscounts"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="IgnoreFeaturedProducts" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="IgnoreFeaturedProducts" />
            <span asp-validation-for="IgnoreFeaturedProducts"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="CacheProductPrices" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="CacheProductPrices" />
            <span asp-validation-for="CacheProductPrices"></span>
        </div>
    </div>
</div>