﻿@using Nop.Core.Domain.Customers
@using Nop.Services
@model CustomerUserSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="CustomerSettings.UserRegistrationType" />
        </div>
        <div class="col-md-8">
            <nop-select asp-for="CustomerSettings.UserRegistrationType" asp-items="@(((UserRegistrationType)Model.CustomerSettings.UserRegistrationType).ToSelectList())" />
            <span asp-validation-for="CustomerSettings.UserRegistrationType"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="CustomerSettings.NotifyNewCustomerRegistration" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="CustomerSettings.NotifyNewCustomerRegistration" />
            <span asp-validation-for="CustomerSettings.NotifyNewCustomerRegistration"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-label asp-for="CustomerSettings.RequireRegistrationForDownloadableProducts" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="CustomerSettings.RequireRegistrationForDownloadableProducts" />
            <span asp-validation-for="CustomerSettings.RequireRegistrationForDownloadableProducts"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-label asp-for="CustomerSettings.AllowCustomersToCheckGiftCardBalance" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="CustomerSettings.AllowCustomersToCheckGiftCardBalance" />
            <span asp-validation-for="CustomerSettings.AllowCustomersToCheckGiftCardBalance"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-label asp-for="DateTimeSettings.AllowCustomersToSetTimeZone" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DateTimeSettings.AllowCustomersToSetTimeZone" />
            <span asp-validation-for="DateTimeSettings.AllowCustomersToSetTimeZone"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-label asp-for="DateTimeSettings.DefaultStoreTimeZoneId" />
        </div>
        <div class="col-md-8">
            <nop-select asp-for="DateTimeSettings.DefaultStoreTimeZoneId" asp-items="Model.DateTimeSettings.AvailableTimeZones" />
            <span asp-validation-for="DateTimeSettings.DefaultStoreTimeZoneId"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-label asp-for="ExternalAuthenticationSettings.AllowCustomersToRemoveAssociations" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="ExternalAuthenticationSettings.AllowCustomersToRemoveAssociations" />
            <span asp-validation-for="ExternalAuthenticationSettings.AllowCustomersToRemoveAssociations"></span>
        </div>
    </div>
</div>