@model ForumSettingsModel

<div class="panel-body">
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="AllowGuestsToCreatePosts_OverrideForStore" asp-input="AllowGuestsToCreatePosts" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AllowGuestsToCreatePosts" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="AllowGuestsToCreatePosts" />
            <span asp-validation-for="AllowGuestsToCreatePosts"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="AllowGuestsToCreateTopics_OverrideForStore" asp-input="AllowGuestsToCreateTopics" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AllowGuestsToCreateTopics" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="AllowGuestsToCreateTopics" />
            <span asp-validation-for="AllowGuestsToCreateTopics"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="AllowCustomersToEditPosts_OverrideForStore" asp-input="AllowCustomersToEditPosts" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AllowCustomersToEditPosts" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="AllowCustomersToEditPosts" />
            <span asp-validation-for="AllowCustomersToEditPosts"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="AllowCustomersToDeletePosts_OverrideForStore" asp-input="AllowCustomersToDeletePosts" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AllowCustomersToDeletePosts" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="AllowCustomersToDeletePosts" />
            <span asp-validation-for="AllowCustomersToDeletePosts"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="AllowCustomersToManageSubscriptions_OverrideForStore" asp-input="AllowCustomersToManageSubscriptions" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AllowCustomersToManageSubscriptions" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="AllowCustomersToManageSubscriptions" />
            <span asp-validation-for="AllowCustomersToManageSubscriptions"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="AllowPostVoting_OverrideForStore" asp-input="AllowPostVoting" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AllowPostVoting" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="AllowPostVoting" />
            <span asp-validation-for="AllowPostVoting"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="AllowPostVoting">
        <div class="form-group advanced-setting" id="pnlMaxVotes">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="MaxVotesPerDay_OverrideForStore" asp-input="MaxVotesPerDay" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="MaxVotesPerDay" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="MaxVotesPerDay" />
                <span asp-validation-for="MaxVotesPerDay"></span>
            </div>
        </div>
    </nop-nested-setting>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="AllowPrivateMessages_OverrideForStore" asp-input="AllowPrivateMessages" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AllowPrivateMessages" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="AllowPrivateMessages" />
            <span asp-validation-for="AllowPrivateMessages"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="AllowPrivateMessages">
        <div class="form-group advanced-setting" id="pnlShowAlertForPM">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="ShowAlertForPM_OverrideForStore" asp-input="ShowAlertForPM" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="ShowAlertForPM" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="ShowAlertForPM" />
                <span asp-validation-for="ShowAlertForPM"></span>
            </div>
        </div>
        <div class="form-group advanced-setting" id="pnlNotifyAboutPrivateMessages">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="NotifyAboutPrivateMessages_OverrideForStore" asp-input="NotifyAboutPrivateMessages" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="NotifyAboutPrivateMessages" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="NotifyAboutPrivateMessages" />
                <span asp-validation-for="NotifyAboutPrivateMessages"></span>
            </div>
        </div>
    </nop-nested-setting>
</div>