@model GeneralCommonSettingsModel

<div class="panel-body">
    @(Html.Raw(string.Format(T("Admin.Configuration.Settings.GeneralCommon.Sitemap.Instructions").Text, Url.Action("AllSettings", "Setting", new { settingName = "sitemapxml" }))))
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SitemapSettings.SitemapEnabled_OverrideForStore" asp-input="SitemapSettings.SitemapEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SitemapSettings.SitemapEnabled" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SitemapSettings.SitemapEnabled" />
            <span asp-validation-for="SitemapSettings.SitemapEnabled"></span>
        </div>
    </div>
    <nop-nested-setting asp-for="SitemapSettings.SitemapEnabled">
        <div class="form-group advanced-setting" id="pnlSitemapPageSize">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="SitemapSettings.SitemapPageSize_OverrideForStore" asp-input="SitemapSettings.SitemapPageSize" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="SitemapSettings.SitemapPageSize" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="SitemapSettings.SitemapPageSize" />
                <span asp-validation-for="SitemapSettings.SitemapPageSize"></span>
            </div>
        </div>
        <div class="form-group advanced-setting" id="pnlSitemapIncludeCategories">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="SitemapSettings.SitemapIncludeCategories_OverrideForStore" asp-input="SitemapSettings.SitemapIncludeCategories" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="SitemapSettings.SitemapIncludeCategories" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="SitemapSettings.SitemapIncludeCategories" />
                <span asp-validation-for="SitemapSettings.SitemapIncludeCategories"></span>
            </div>
        </div>
        <div class="form-group advanced-setting" id="pnlSitemapIncludeManufacturers">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="SitemapSettings.SitemapIncludeManufacturers_OverrideForStore" asp-input="SitemapSettings.SitemapIncludeManufacturers" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="SitemapSettings.SitemapIncludeManufacturers" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="SitemapSettings.SitemapIncludeManufacturers" />
                <span asp-validation-for="SitemapSettings.SitemapIncludeManufacturers"></span>
            </div>
        </div>
        <div class="form-group advanced-setting" id="pnlSitemapIncludeProducts">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="SitemapSettings.SitemapIncludeProducts_OverrideForStore" asp-input="SitemapSettings.SitemapIncludeProducts" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="SitemapSettings.SitemapIncludeProducts" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="SitemapSettings.SitemapIncludeProducts" />
                <span asp-validation-for="SitemapSettings.SitemapIncludeProducts"></span>
            </div>
        </div>
        <div class="form-group advanced-setting" id="pnlSitemapIncludeProductTags">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="SitemapSettings.SitemapIncludeProductTags_OverrideForStore" asp-input="SitemapSettings.SitemapIncludeProductTags" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="SitemapSettings.SitemapIncludeProductTags" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="SitemapSettings.SitemapIncludeProductTags" />
                <span asp-validation-for="SitemapSettings.SitemapIncludeProductTags"></span>
            </div>
        </div>
        <div class="form-group advanced-setting" id="pnlSitemapIncludeTopics">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="SitemapSettings.SitemapIncludeTopics_OverrideForStore" asp-input="SitemapSettings.SitemapIncludeTopics" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="SitemapSettings.SitemapIncludeTopics" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="SitemapSettings.SitemapIncludeTopics" />
                <span asp-validation-for="SitemapSettings.SitemapIncludeTopics"></span>
            </div>
        </div>
        <div class="form-group advanced-setting" id="pnlSitemapIncludeBlogPosts">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="SitemapSettings.SitemapIncludeBlogPosts_OverrideForStore" asp-input="SitemapSettings.SitemapIncludeBlogPosts" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="SitemapSettings.SitemapIncludeBlogPosts" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="SitemapSettings.SitemapIncludeBlogPosts" />
                <span asp-validation-for="SitemapSettings.SitemapIncludeBlogPosts"></span>
            </div>
        </div>
        <div class="form-group advanced-setting" id="pnlSitemapIncludeNews">
            <div class="col-md-4">
                <nop-override-store-checkbox asp-for="SitemapSettings.SitemapIncludeNews_OverrideForStore" asp-input="SitemapSettings.SitemapIncludeNews" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="SitemapSettings.SitemapIncludeNews" />
            </div>
            <div class="col-md-8">
                <nop-editor asp-for="SitemapSettings.SitemapIncludeNews" />
                <span asp-validation-for="SitemapSettings.SitemapIncludeNews"></span>
            </div>
        </div>
    </nop-nested-setting>
</div>