@model GeneralCommonSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.DefaultTitle_OverrideForStore" asp-input="SeoSettings.DefaultTitle" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.DefaultTitle" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SeoSettings.DefaultTitle" />
            <span asp-validation-for="SeoSettings.DefaultTitle"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.PageTitleSeoAdjustment_OverrideForStore" asp-input="SeoSettings.PageTitleSeoAdjustment" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.PageTitleSeoAdjustment" />
        </div>
        <div class="col-md-8">
            <nop-select asp-for="SeoSettings.PageTitleSeoAdjustment" asp-items="Model.SeoSettings.PageTitleSeoAdjustmentValues" />
            <span asp-validation-for="SeoSettings.PageTitleSeoAdjustment"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.PageTitleSeparator_OverrideForStore" asp-input="SeoSettings.PageTitleSeparator" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.PageTitleSeparator" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SeoSettings.PageTitleSeparator" />
            <span asp-validation-for="SeoSettings.PageTitleSeparator"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.DefaultMetaKeywords_OverrideForStore" asp-input="SeoSettings.DefaultMetaKeywords" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.DefaultMetaKeywords" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SeoSettings.DefaultMetaKeywords" />
            <span asp-validation-for="SeoSettings.DefaultMetaKeywords"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.DefaultMetaDescription_OverrideForStore" asp-input="SeoSettings.DefaultMetaDescription" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.DefaultMetaDescription" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SeoSettings.DefaultMetaDescription" />
            <span asp-validation-for="SeoSettings.DefaultMetaDescription"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.GenerateProductMetaDescription_OverrideForStore" asp-input="SeoSettings.GenerateProductMetaDescription" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.GenerateProductMetaDescription" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SeoSettings.GenerateProductMetaDescription" />
            <span asp-validation-for="SeoSettings.GenerateProductMetaDescription"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.WwwRequirement_OverrideForStore" asp-input="SeoSettings.WwwRequirement" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.WwwRequirement" />
        </div>
        <div class="col-md-8">
            <nop-select asp-for="SeoSettings.WwwRequirement" asp-items="Model.SeoSettings.WwwRequirementValues" />
            <span asp-validation-for="SeoSettings.WwwRequirement"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.ConvertNonWesternChars_OverrideForStore" asp-input="SeoSettings.ConvertNonWesternChars" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.ConvertNonWesternChars" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SeoSettings.ConvertNonWesternChars" />
            <span asp-validation-for="SeoSettings.ConvertNonWesternChars"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.CanonicalUrlsEnabled_OverrideForStore" asp-input="SeoSettings.CanonicalUrlsEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.CanonicalUrlsEnabled" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SeoSettings.CanonicalUrlsEnabled" />
            <span asp-validation-for="SeoSettings.CanonicalUrlsEnabled"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.TwitterMetaTags_OverrideForStore" asp-input="SeoSettings.TwitterMetaTags" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.TwitterMetaTags" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SeoSettings.TwitterMetaTags" />
            <span asp-validation-for="SeoSettings.TwitterMetaTags"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.OpenGraphMetaTags_OverrideForStore" asp-input="SeoSettings.OpenGraphMetaTags" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.OpenGraphMetaTags" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SeoSettings.OpenGraphMetaTags" />
            <span asp-validation-for="SeoSettings.OpenGraphMetaTags"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SeoSettings.CustomHeadTags_OverrideForStore" asp-input="SeoSettings.CustomHeadTags" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SeoSettings.CustomHeadTags" />
        </div>
        <div class="col-md-8">
            <nop-textarea asp-for="SeoSettings.CustomHeadTags" />
            <span asp-validation-for="SeoSettings.CustomHeadTags"></span>
        </div>
    </div>
</div>