@model GeneralCommonSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayHomepageMenuItem"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayNewProductsMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayNewProductsMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayDefaultMenuItemSettings.DisplayNewProductsMenuItem" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayDefaultMenuItemSettings.DisplayNewProductsMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayNewProductsMenuItem"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayProductSearchMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayProductSearchMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayDefaultMenuItemSettings.DisplayProductSearchMenuItem" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayDefaultMenuItemSettings.DisplayProductSearchMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayProductSearchMenuItem"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayCustomerInfoMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayCustomerInfoMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayDefaultMenuItemSettings.DisplayCustomerInfoMenuItem" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayDefaultMenuItemSettings.DisplayCustomerInfoMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayCustomerInfoMenuItem"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayBlogMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayBlogMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayDefaultMenuItemSettings.DisplayBlogMenuItem" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayDefaultMenuItemSettings.DisplayBlogMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayBlogMenuItem"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayForumsMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayForumsMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayDefaultMenuItemSettings.DisplayForumsMenuItem" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayDefaultMenuItemSettings.DisplayForumsMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayForumsMenuItem"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem_OverrideForStore" asp-input="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem" />
            <span asp-validation-for="DisplayDefaultMenuItemSettings.DisplayContactUsMenuItem"></span>
        </div>
    </div>
</div>