@model GeneralCommonSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="SecuritySettings.AdminAreaAllowedIpAddresses" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SecuritySettings.AdminAreaAllowedIpAddresses" />
            <span asp-validation-for="SecuritySettings.AdminAreaAllowedIpAddresses"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="SecuritySettings.ForceSslForAllPages" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SecuritySettings.ForceSslForAllPages" />
            <span asp-validation-for="SecuritySettings.ForceSslForAllPages"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="SecuritySettings.EnableXsrfProtectionForAdminArea" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SecuritySettings.EnableXsrfProtectionForAdminArea" />
            <span asp-validation-for="SecuritySettings.EnableXsrfProtectionForAdminArea"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="SecuritySettings.EnableXsrfProtectionForPublicStore" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SecuritySettings.EnableXsrfProtectionForPublicStore" />
            <span asp-validation-for="SecuritySettings.EnableXsrfProtectionForPublicStore"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="SecuritySettings.HoneypotEnabled" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="SecuritySettings.HoneypotEnabled" />
            <span asp-validation-for="SecuritySettings.HoneypotEnabled"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-label asp-for="SecuritySettings.EncryptionKey" />
        </div>
        <div class="col-md-8">
            <div class="input-group input-group-short">
                <nop-editor asp-for="SecuritySettings.EncryptionKey" />
                <span class="input-group-btn">
                    <button type="submit" name="changeencryptionkey" id="changeencryptionkey" class="btn btn-info">
                        @T("Admin.Common.Change")
                    </button>
                    <nop-action-confirmation asp-button-id="changeencryptionkey" />
                </span>
            </div>
            <span asp-validation-for="SecuritySettings.EncryptionKey"></span>
        </div>
    </div>
</div>