@model OrderSettingsModel

<div class="panel-body">
    <ul class="common-list">
        <li>
            @T("Admin.Configuration.Settings.Order.AutoCancelDescription1")
        </li>
        <li>
            @T("Admin.Configuration.Settings.Order.AutoCancelDescription2")
        </li>
    </ul>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="AutoCancelOrderMinuteValue_OverrideForStore" asp-input="AutoCancelOrderMinuteValue" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AutoCancelOrderMinuteValue" />
        </div>
        <div class="col-md-8">
            @*<nop-editor asp-for="AutoCancelOrderMinuteValue" asp-postfix="@T("Admin.Configuration.Settings.Order.AutoCancelAmountText")" />*@
            <nop-editor asp-for="AutoCancelOrderMinuteValue" />
            <span asp-validation-for="AutoCancelOrderMinuteValue"></span>
        </div>
    </div>
</div>