@model ShoppingCartSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="ShowDiscountBox_OverrideForStore" asp-input="ShowDiscountBox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ShowDiscountBox" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="ShowDiscountBox" />
            <span asp-validation-for="ShowDiscountBox"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="ShowGiftCardBox_OverrideForStore" asp-input="ShowGiftCardBox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ShowGiftCardBox" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="ShowGiftCardBox" />
            <span asp-validation-for="ShowGiftCardBox"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="AllowCartItemEditing_OverrideForStore" asp-input="AllowCartItemEditing" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AllowCartItemEditing" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="AllowCartItemEditing" />
            <span asp-validation-for="AllowCartItemEditing"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="MaximumShoppingCartItems_OverrideForStore" asp-input="MaximumShoppingCartItems" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="MaximumShoppingCartItems" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="MaximumShoppingCartItems" />
            <span asp-validation-for="MaximumShoppingCartItems"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="CartsSharedBetweenStores_OverrideForStore" asp-input="CartsSharedBetweenStores" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="CartsSharedBetweenStores" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="CartsSharedBetweenStores" />
            <span asp-validation-for="CartsSharedBetweenStores"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="ShowProductImagesOnShoppingCart_OverrideForStore" asp-input="ShowProductImagesOnShoppingCart" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ShowProductImagesOnShoppingCart" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="ShowProductImagesOnShoppingCart" />
            <span asp-validation-for="ShowProductImagesOnShoppingCart"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="DisplayCartAfterAddingProduct_OverrideForStore" asp-input="DisplayCartAfterAddingProduct" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="DisplayCartAfterAddingProduct" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="DisplayCartAfterAddingProduct" />
            <span asp-validation-for="DisplayCartAfterAddingProduct"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="CrossSellsNumber_OverrideForStore" asp-input="CrossSellsNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="CrossSellsNumber" />
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="CrossSellsNumber" />
            <span asp-validation-for="CrossSellsNumber"></span>
        </div>
    </div>
    <div class="form-group advanced-setting">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="GroupTierPricesForDistinctShoppingCartItems_OverrideForStore" asp-input="GroupTierPricesForDistinctShoppingCartItems" asp-store-scope="@Model.ActiveStoreScopeConfiguration"/>
            <nop-label asp-for="GroupTierPricesForDistinctShoppingCartItems"/>
        </div>
        <div class="col-md-8">
            <nop-editor asp-for="GroupTierPricesForDistinctShoppingCartItems" />
            <span asp-validation-for="GroupTierPricesForDistinctShoppingCartItems"></span>
        </div>
    </div>
</div>