﻿@model AgentAllocationModel

@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.AgentAllocation").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Agent Allocation settings");
}


<form asp-controller="Setting" asp-action="Agent" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.AgentAllocation")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_agentallocation_settings_buttons" })
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync("StoreScopeConfiguration")
            @*@await Component.InvokeAsync("SettingMode")*@
            <div asp-validation-summary="All"></div>

            <div class="panel-group">
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_agentallocation_settings_top" })
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Admin.Configuration.Settings.AgentAllocation")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="AgentAllocation_OverrideForStore" asp-input="AgentAllocation" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="AgentAllocation" />
                            </div>
                            <div class="col-md-8">
                                <nop-select asp-for="AgentAllocation" asp-items="Model.AvailableAgent" />
                                <span asp-validation-for="AgentAllocation"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_agentallocation_settings_bottom" })
            </div>
        </div>
    </div>
</form>