﻿@model Nop.Web.Areas.Admin.Models.BookingTable.BookingTableMasterListSearchModel
@using Nop.Web.Areas.Admin.Models.BookingTable
@inject AdminAreaSettings adminAreaSettings
@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Configuration.Settings.BookingTable").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Booking Table Setting");
}

<form asp-controller="Setting" asp-action="Blog" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.Settings.BookingTable")
        </h1>
        @*<div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>*@
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div asp-validation-summary="All"></div>

            <div class="panel-group" >
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_blog_settings_top" })
                <div class="panel panel-default" @(Model.AvailableVendors == null ||  Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>

                    <div class="panel-body">
                        <div class="form-group" @(Model.AvailableStores == null || Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                            <div class="col-md-4">
                                <nop-label asp-for="SearchStoreId" />
                            </div>
                            <div class="col-md-8">
                                <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                            </div>
                        </div>
                        <div class="form-group" @(Model.AvailableVendors == null ||  Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                            <div class="col-md-4">
                                <nop-label asp-for="SearchVendorId" />
                            </div>
                            <div class="col-md-8">
                                <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="button" id="search-products" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        @{
                            var gridModel = new DataTablesModel
                            {
                                Name = "products-grid",
                                UrlRead = new DataUrl("BookTable", "Setting", null),
                                SearchButtonId = "search-products",
                                Length = Model.PageSize,
                                LengthMenu = Model.AvailablePageSizes,
                                Filters = new List<FilterParameter>
                                                                                                                                                {
                                    //new FilterParameter(nameof(Model.SelectedCustomerRoleIds)),
                                    new FilterParameter(nameof(Model.SearchStoreId)),
                                    new FilterParameter(nameof(Model.SearchVendorId))
                                }
                            };

                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(BookingTableMasterListModel.Store))
                            {
                                Title = T("Admin.Booking.Store").Text,
                                Width = "200"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(BookingTableMasterListModel.Vendor))
                            {
                                Title = T("Admin.Booking.List.Vendor").Text,
                                Width = "100",
                                Render = new RenderPicture()
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(BookingTableMasterListModel.TableAvailableFrom))
                            {
                                Title = T("Admin.Booking.BookingTimeFrom").Text,
                                Width = "200"
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(BookingTableMasterListModel.TableAvailableTo))
                            {
                                Title = T("Admin.Booking.BookingTimeTo").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            });
                            gridModel.ColumnCollection.Add(new ColumnProperty(nameof(BookingTableMasterListModel.Id))
                            {
                                Title = T("Admin.Common.View").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.Button,
                                Render = new RenderCustom("renderColumnEdit")
                            });
                        }
                        <script>
                        function renderColumnEdit(data, type, row, meta) {
                            return '<a class="btn btn-default" href="Edit/'+row.Id+'"><i class="fa fa-eye"></i>@T("Admin.Common.View")</a>';
                        }
                        </script>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
     
</form>
