﻿@model OnePageCheckoutModelv2
@using Nop.Web.Framework.UI
@using Nop.Web.Models.OnePageCheckoutModelv2
@using System.Globalization
@using System.Text
@using Nop.Core
@using Nop.Web.Framework

@if (Model.NewBillingAddress.CountryEnabled && Model.NewBillingAddress.StateProvinceEnabled)
{
    //we don't move this script to the footer as it's used in Ajax requests where footer is not available
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.NewBillingAddress.CountryId)").change(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#@Html.IdFor(model => model.NewBillingAddress.StateProvinceId)");
            var statesProgress = $("#states-loading-progress");
            statesProgress.show();
                $.ajax({
                cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                    ddlStates.html('');
                        $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                    error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
        });
    });
    </script>
}
<div class="inputs">
    <select name="existingprimaryaddresses" id="existingprimaryaddresses" onchange="changePrimaryAddress(this.value)" autocomplete="off">
        @foreach (var address in Model.ExistingBillingAddresses)
        {
            var addressLine = "";
            addressLine += address.FirstName;
            addressLine += " " + address.LastName;
            if (address.StreetAddressEnabled && !String.IsNullOrEmpty(address.Address1))
            {
                addressLine += ", " + address.Address1;
            }
            if (address.CityEnabled && !String.IsNullOrEmpty(address.City))
            {
                addressLine += ", " + address.City;
            }
            if (address.StateProvinceEnabled && !String.IsNullOrEmpty(address.StateProvinceName))
            {
                addressLine += ", " + address.StateProvinceName;
            }
            if (address.ZipPostalCodeEnabled && !String.IsNullOrEmpty(address.ZipPostalCode))
            {
                addressLine += " " + address.ZipPostalCode;
            }
            if (address.CountryEnabled && !String.IsNullOrWhiteSpace(address.CountryName))
            {
                addressLine += ", " + address.CountryName;
            }
            <option value="@(address.Id)">@(addressLine)</option>
        }
    </select>
</div>

<div class="inputs">
    <label asp-for="NewBillingAddress.FirstName" asp-postfix=":"/>
    <input asp-for="NewBillingAddress.FirstName" autocomplete="off" />
    <nop-required />
    <span asp-validation-for="NewBillingAddress.FirstName"></span>
</div>
<div class="inputs">
    <label asp-for="NewBillingAddress.LastName" />
    <input asp-for="NewBillingAddress.LastName" autocomplete="off" />
    <nop-required />
    <span asp-validation-for="NewBillingAddress.LastName"></span>
</div>
@if (Model.NewBillingAddress.PhoneEnabled)
{
    <div class="inputs">
        <label asp-for="NewBillingAddress.PhoneNumber" />
        <input asp-for="NewBillingAddress.PhoneNumber" autocomplete="off" />
        @if (Model.NewBillingAddress.PhoneRequired)
        {
            <nop-required />
        }
        <span asp-validation-for="NewBillingAddress.PhoneNumber"></span>
    </div>
}
@if (Model.NewBillingAddress.FaxEnabled)
{
    <div class="inputs">
        <label asp-for="NewBillingAddress.FaxNumber" />
        <input asp-for="NewBillingAddress.FaxNumber" autocomplete="off" />
        @if (Model.NewBillingAddress.FaxRequired)
        {
            <nop-required />
        }
        <span asp-validation-for="NewBillingAddress.FaxNumber"></span>
    </div>
}
<div class="inputs">
    <label asp-for="NewBillingAddress.Email" />
    <input asp-for="NewBillingAddress.Email" autocomplete="off" />
    <nop-required />
    <span asp-validation-for="NewBillingAddress.Email"></span>
</div>
@if (Model.NewBillingAddress.CompanyEnabled)
{
    <div class="inputs">
        <label asp-for="NewBillingAddress.Company" />
        <input asp-for="NewBillingAddress.Company" autocomplete="off" />
        @if (Model.NewBillingAddress.CompanyRequired)
        {
            <nop-required />
        }
        <span asp-validation-for="NewBillingAddress.Company"></span>
    </div>
}

@if (Model.NewBillingAddress.CountryEnabled)
{
    <div id="record-address-country" class="inputs">
        <label asp-for="NewBillingAddress.CountryId" />
        <select asp-for="NewBillingAddress.CountryId" asp-items="Model.NewBillingAddress.AvailableCountries" autocomplete="off"></select>
        <nop-required />
        <span asp-validation-for="NewBillingAddress.CountryId"></span>
    </div>
}
@if (Model.NewBillingAddress.CountryEnabled && Model.NewBillingAddress.StateProvinceEnabled)
{
    <div id="record-address-stateprovince" class="inputs">
        <label asp-for="NewBillingAddress.StateProvinceId" />
        <select asp-for="NewBillingAddress.StateProvinceId" asp-items="Model.NewBillingAddress.AvailableStates" autocomplete="off"></select>
        <nop-required />
        <span id="primary-address-states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
        <span asp-validation-for="NewBillingAddress.AvailableStates"></span>
    </div>
}
@if (Model.NewBillingAddress.CityEnabled)
{
    <div id="record-address-city" class="inputs">
        <label asp-for="NewBillingAddress.City" />
        <input asp-for="NewBillingAddress.City" autocomplete="off" />
        @if (Model.NewBillingAddress.CityRequired)
        {
            <nop-required />
        }
        <span asp-validation-for="NewBillingAddress.City"></span>
    </div>
}
@if (Model.NewBillingAddress.StreetAddressEnabled)
{
    <div id="record-address-streetaddress" class="inputs">
        <label asp-for="NewBillingAddress.Address1" />
        <input asp-for="NewBillingAddress.Address1" autocomplete="off" />
        @if (Model.NewBillingAddress.StreetAddressRequired)
        {
            <nop-required />
        }
        <span asp-validation-for="NewBillingAddress.Address1"></span>
    </div>
}
@if (Model.NewBillingAddress.StreetAddress2Enabled)
{
    <div id="record-address-streetaddress2" class="inputs">
        <label asp-for="NewBillingAddress.Address2" />
        <input asp-for="NewBillingAddress.Address2" autocomplete="off" />
        @if (Model.NewBillingAddress.StreetAddress2Required)
        {
            <nop-required />
        }
        <span asp-validation-for="NewBillingAddress.Address2"></span>
    </div>
}
@if (Model.NewBillingAddress.ZipPostalCodeEnabled)
{
    <div id="record-address-zippostalcode" class="inputs">
        <label asp-for="NewBillingAddress.ZipPostalCode" />
        <input asp-for="NewBillingAddress.ZipPostalCode" autocomplete="off" />
        @if (Model.NewBillingAddress.ZipPostalCodeRequired)
        {
            <nop-required />
        }
        <span asp-validation-for="NewBillingAddress.ZipPostalCode"></span>
    </div>
}
@if (Model.NewBillingAddress.CustomAddressAttributes.Count > 0 &&
                  Model.CustomProperties.ContainsKey("_PrimaryAddressAttributes"))
{
    @await Html.PartialAsync((string)Model.CustomProperties["_PrimaryAddressAttributes"], Model.NewBillingAddress.CustomAddressAttributes)
}