﻿@model IList<Nop.Web.Models.Common.AddressAttributeModel>
@using Nop.Core.Domain.Catalog;
@foreach (var attribute in Model)
{
    string controlId = string.Format("primaryaddress_attribute_{0}", attribute.Id);
    string textPrompt = attribute.Name;

<div class="inputs">
    <div class="labelforinputs">
        <label>@textPrompt:</label>
    </div>
    @switch (attribute.AttributeControlType)
    {
        case AttributeControlType.DropdownList:
            {
                <select name="@(controlId)" id="@(controlId)">
                    @if (!attribute.IsRequired)
                    {
                        <option value="0">---</option>
                    }
                    @foreach (var attributeValue in attribute.Values)
                    {
                        <option selected="@attributeValue.IsPreSelected" value="@attributeValue.Id">@attributeValue.Name</option>
                    }
                </select>
            }
            break;
        case AttributeControlType.RadioList:
            {
                <ul class="option-list">
                    @foreach (var attributeValue in attribute.Values)
                    {
                        <li>
                            <input id="@(controlId)_@(attributeValue.Id)" type="radio" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" />
                            <label for="@(controlId)_@(attributeValue.Id)">@attributeValue.Name</label>
                        </li>
                    }
                </ul>
            }
            break;
        case AttributeControlType.Checkboxes:
        case AttributeControlType.ReadonlyCheckboxes:
            {
                <ul class="option-list">
                    @foreach (var attributeValue in attribute.Values)
                    {
                        <li>
                            <input id="@(controlId)_@(attributeValue.Id)" type="checkbox" name="@(controlId)" value="@attributeValue.Id" checked="@attributeValue.IsPreSelected" @(attribute.AttributeControlType == AttributeControlType.ReadonlyCheckboxes ? Html.Raw(" disabled=\"disabled\"") : null) />
                            <label for="@(controlId)_@(attributeValue.Id)">@attributeValue.Name</label>
                        </li>
                    }
                </ul>
            }
            break;
        case AttributeControlType.TextBox:
            {
                <input name="@(controlId)" type="text" class="text-box single-line" id="@(controlId)" @(!String.IsNullOrWhiteSpace(attribute.DefaultValue) ? " value=" + attribute.DefaultValue : null) />
            }
            break;
        case AttributeControlType.MultilineTextbox:
            {
                <textarea id="@(controlId)" style="Width: 250px; Height: 150px;" name="@(controlId)">@(!String.IsNullOrWhiteSpace(attribute.DefaultValue) ? attribute.DefaultValue : null)</textarea>
            }
            break;
        case AttributeControlType.Datepicker:
        case AttributeControlType.FileUpload:
        case AttributeControlType.ColorSquares:
            {
                //not support attribute type
            }
            break;
    }
    @if (attribute.IsRequired)
    {
        <nop-required />
    }
</div>
}
