﻿@model OnePageCheckoutModelv2
@using Nop.Web.Framework.UI
@using Nop.Web.Models.OnePageCheckoutModelv2
@using Nop.Core.Infrastructure
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddScriptParts(@Url.Content("~/Themes/Gifts/Content/onepagecheckout.js"));


    var storeLocation = EngineContext.Current.Resolve<Nop.Core.IWebHelper>().GetStoreLocation();
}

<div class="page simple-checkout-page">
    <div class="page-title">
        <h1>@T("PageTitle.Checkout")</h1>
    </div>
    <div class="page-body simple-checkout-data">
        @await Component.InvokeAsync("Widget", new { widgetZone = "opc_content_before" })
        <form asp-route="Checkout" method="post" id="form-fns-simplecheckout">
            <nop-antiforgery-token />
            <div class="simple-checkout-data-left">
                <div class="simple-checkout-table">
                    @await Html.PartialAsync("_PrimaryAddress", Model)
                    @*<div class="inputs">
                            <select name="shippingoption" id="shippingoption">
                                @foreach (var shippingMethod in Model.ShippingMethods)
                                {
                                    <option selected="@shippingMethod.Selected" value="@(shippingMethod.Name)___@(shippingMethod.ShippingRateComputationMethodSystemName)">
                                        @shippingMethod.Name @(!String.IsNullOrEmpty(shippingMethod.Fee) ? " (" + shippingMethod.Fee + ")" : "")
                                    </option>
                                }
                            </select>
                            <span id="shipmentmethods-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                            <div class="message-error" id="message-error-shipping">
                                <ul>
                                    @for (int i = 0; i < Model.ShippingMethodWarnings.Count; i++)
                                    {
                                        <li>@Model.ShippingMethodWarnings[i]</li>
                                    }
                                </ul>
                            </div>
                        </div>*@


                    @if (Model.DisplayRewardPoints && Model.PaymentMethods.Count > 0)
                    {
                        <div class="use-reward-points">
                            @Html.EditorFor(model => model.UseRewardPoints)
                            @string.Format(T("Checkout.UseRewardPoints").Text, Model.RewardPointsBalance, Model.RewardPointsAmount)
                        </div>
                    }
                    <span id="paymentmethods-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>

                    <ul class="method-list">
                        @for (int i = 0; i < Model.PaymentMethods.Count; i++)
                        {
                            var paymentMethod = Model.PaymentMethods[i];
                            var paymentMethodName = paymentMethod.Name;
                            if (!String.IsNullOrEmpty(paymentMethod.Fee))
                            {
                                //paymentMethodName = T("Checkout.SelectPaymentMethod.MethodAndFee", paymentMethodName, paymentMethod.Fee).Text;
                                paymentMethodName = paymentMethodName + " (" + paymentMethod.Fee + ")";
                            }
                            <li>
                                <div class="method-name">
                                    @if (!String.IsNullOrEmpty(paymentMethod.LogoUrl))
                                    {
                                        <div class="payment-logo">
                                            <img src="@paymentMethod.LogoUrl" alt="@paymentMethodName" />
                                        </div>
                                    }
                                    <div class="payment-details">
                                        <input id="paymentmethod_@(i)" type="radio" name="paymentmethod" value="@(paymentMethod.PaymentMethodSystemName)" checked="@paymentMethod.Selected" />
                                        <label for="paymentmethod_@(i)">@paymentMethodName</label>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    @*<div class="message-error" id="message-error-payment">
                        <ul>
                            @for (int i = 0; i < Model.WarningsPayment.Count; i++)
                            {
                                <li>@Model.WarningsPayment[i]</li>
                            }
                        </ul>
                    </div>*@
                    <div class="inputs">
                        <div class="simple-checkout-paymentinfo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="simple-checkout-data-rigth">
                <div class="simple-checkout-order-summary-body"></div>
                <div class="simple-checkout-confirm">
                    @if (!String.IsNullOrEmpty(Model.MinOrderTotalWarning))
                    {
                        <span class="min-order-warning">@Model.MinOrderTotalWarning</span>
                    }
                    else
                    {
                        if (Model.TermsOfServiceOnOrderConfirmPage)
                        {
                            <div id="terms-of-service-warning-box" title="@T("Checkout.TermsOfService")" style="display:none;">
                                <p>@T("Checkout.TermsOfService.PleaseAccept")</p>
                            </div>
                            <div class="terms-of-service">
                                <input id="termsofservice" type="checkbox" name="termsofservice" />
                                @T("Checkout.TermsOfService.IAccept")
                                <span class="read" onclick="javascript:OpenWindow('@Url.RouteUrl("TopicPopup", new { SystemName = "conditionsofUse" })', 450, 500, true)">@T("Checkout.TermsOfService.Read")</span>
                            </div>
                        }
                        <div class="buttons">
                            <input type="submit" name="save" value="@T("Checkout.ConfirmButton")" class="button-1 confirm-order-button" />
                        </div>
                        <div class="addon-buttons">
                            @*Payment method buttons (e.g. GoogleCheckoutButton, Paypal Express)*@
                            @*@foreach (var pm in Model.ButtonPaymentMethodViewComponentNames)
                                {
                                    @await Component.InvokeAsync(pm)
                                }*@
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
</div>
