﻿/*=====================================================
    
    TABLETS LANDSCAPE & NETBOOKS

=====================================================*/

@media all and (min-width: 769px) {

/* GLOBAL STYLES */
/* GLOBAL FORMS */

/*.fieldset .title,
.section .title {
	padding: 25px 60px;
}*/

/* GLOBAL TABLES */   

.downloadable-products-page .data-table col:first-child,
.downloadable-products-page .data-table th:first-child,
.downloadable-products-page .data-table td:first-child {
	display: none !important; /*hides counter*/
}
.reward-points-history .data-table col:first-child,
.reward-points-history .data-table th:first-child,
.reward-points-history .data-table td:first-child { 
	display: none !important; /*hides counter*/
}
.return-request-page col:first-child,
.return-request-page th:first-child,
.return-request-page td:first-child {
	display: none !important; /*hides counter*/
}

/* NOTIFICATIONS & POPUPS */

.ui-dialog {
	width: 400px !important;  
}

/* HEADER */
/* HEADER MENU */
/* HOMEPAGE CAROUSELS */

.bestsellers {
	display: block;
	position: relative;
	margin: 0 0 60px;
}
.bestsellers .title {
	padding: 0 0 6px;
}
.bestsellers .item-grid {
	position: static;
	border: 1px solid #e9e9e9;
	overflow: hidden;
	background-color: #fff;
}
.bestsellers .owl-stage-outer {
	margin: 0 1px 0 -1px;
}
.bestsellers .owl-stage {
	background-color: #fff;
}
.bestsellers .owl-item {
	float: right;
	width: 50%;
}
.bestsellers .item-box {
	width: 100% !important;
	margin: 0 !important;
}
.bestsellers .product-item {
	margin: 0 -1px 0 0;
	border-width: 0 1px 1px;
	border-color: #f0f0f0;
	padding: 0 !important;
	text-align: right;
}
.bestsellers .product-item:after {
	content: "";
	display: block;
	clear: both;
}
.bestsellers .item-box:nth-child(3) .product-item {
	border-bottom-width: 0; /*last item in each column*/
}

.bestsellers .picture {
	float: right;
	width: 40%;
	margin: 0;
	padding: 20px 20px 20px 10px;
}
.bestsellers .details {
	float: left;
	width: 60%;
	padding: 20px 10px 20px 20px;
}
.bestsellers .product-title {
	height: 20px;
	margin: 0 0 8px;
	padding: 0;
}
.bestsellers .product-title a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.bestsellers .details .prices {
	margin: 0 0 16px;
	padding: 0;
}
.bestsellers .buttons-upper,
.bestsellers .buttons-lower {
	position: static !important;
	float: right;
	width: auto !important;
	height: auto !important;
	border: none !important;
	background-color: transparent;
}
.bestsellers input.button-2,
.bestsellers button.button-2 {
	width: 36px !important;
	height: 36px !important;
	margin: 0 0 0 3px !important;
	background-color: #888;
	background-image: url('../img/product-box-sprite-big.png') !important;
}
.bestsellers .add-to-wishlist-button {
	background-position: -36px center !important;
}
.bestsellers .product-box-add-to-cart-button {
	background-position: right center;
}
.bestsellers .product-box-add-to-cart-button span {
	background-color: transparent !important;
	font-size: 0 !important;
}
.bestsellers .product-box-add-to-cart-button span:before,
.bestsellers .product-box-add-to-cart-button span:after {
	display: none !important;
}

.bestsellers .owl-prev,
.bestsellers .owl-next {
	position: absolute;
    top: -2px;
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
	font-size: 0;
    cursor: pointer;
    transition: all 0.2s ease;
}
.bestsellers .owl-prev {
	right: 0;
    background-image: url('../img/arrow-next.png');
	background-position: left center;
}
.bestsellers .owl-next {
	left: 0;
    background-image: url('../img/arrow-prev.png');
	background-position: right center;
}
.bestsellers .owl-prev:hover {
	background-color: #f6794d;
	background-position: right center;
}
.bestsellers .owl-next:hover {
	background-color: #f6794d;
	background-position: left center;
}

/* FOOTER */
/* LEFT/RIGHT COLUMN */

.block {
	width: 31.3333%;
	margin: 0 1% 2%;
}
.block:nth-of-type(2n+1) {
	clear: none;
}
.block:nth-of-type(3n+1) {
	clear: both;
}

/* CATEGORY PAGE & GRIDS */

.product-selectors {
	text-align: right;
}
.product-selectors > div {
	margin: 0 0 0 20px;
}
.product-selectors .product-viewmode {
	display: inline-block;
}
.product-selectors .product-viewmode span {
	display: none;
	vertical-align: middle;
}
.product-selectors .product-viewmode a {
	display: inline-block;
	width: 18px;
	height: 16px;
	margin: 0 0 0 8px;
	background-color: #777;
	background-image: url('../img/viewmode-sprite.png');
	background-position: center top;
	background-repeat: no-repeat;
	vertical-align: middle;
	font-size: 0;
}
.product-selectors .product-viewmode a.grid {
	background-position: 0 center;
}
.product-selectors .product-viewmode a.list {
	background-position: -18px center;
}
.product-selectors .product-viewmode a.selected {
	background-color: #f6794d;
}
.product-selectors .product-page-size {
	float: left;
	margin: 0;
}

.item-box {
	width: 32%; /*three per row*/
}
.item-box:nth-child(2n+1) {
	clear: none; /*revert the second item*/
	margin-right: 2%; /*revert the second item*/
}
.item-box:nth-child(3n+1) {
	clear: both;
	margin-right: 0;
}
.item-box .buttons {
	text-align: right;
}

.product-list .item-box {
	float: none;
	width: auto;
	margin: 0 0 40px;
}
.product-list .product-item:after {
	content: "";
	display: block;
	clear: both;
}
.product-list .item-box .picture {
	float: right;
	width: 280px;
	margin: 0;
}
.product-list .item-box .details {
	margin: 0 280px 0 0;
	padding: 30px 20px;
	text-align: right;
}
.product-list .item-box .product-title {
	height: auto;
	margin: 0 0 10px;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
}
.product-list .item-box .prices,
.product-list .item-box .prices span {
	padding: 0;
}
.product-list .item-box .description {
	display: block;
}
.product-list .item-box .buttons-upper {
	display: inline-block;
	height: 45px;
	padding: 4px 0;
	background-color: transparent;
}
.product-list .item-box .buttons-upper input[type="button"] {
	width: 37px;
	height: 37px;
	margin: 0 2px;
	background-image: url('../img/product-sprite-1.png');
}
.product-list .item-box input.add-to-compare-list-button {
	background-position: -37px 0;
}
.product-list .item-box input.add-to-wishlist-button {
	background-position: 0 0;
}
.product-list .item-box .buttons-lower {
	float: right;
	margin: 0 0 0 5px;
}
.product-list .item-box .buttons-lower button {
	display: inline-block;
	width: auto;
	outline: 1px solid transparent;
	background: #f6794d url('../img/cart-button-2.png') right center no-repeat;
	padding: 0 48px 0 28px;
	vertical-align: middle;
}
.product-list .item-box .buttons-lower button span {
	background-color: transparent;
	padding: 0;
	color: #fff;
}
.product-list .item-box .buttons-lower button span:before,
.product-list .item-box .buttons-lower button span:after {
	display: none;
}
.product-list .item-box .buttons-lower button:hover {
	outline-color: #f6794d;
}
.product-list .item-box .attribute-squares {
	text-align: right;
}
.product-list .item-box .attribute-squares li {
	margin: 4px 0 4px 8px;
}

/* PRODUCT PAGE */

.product-essential {
	padding: 30px 20px;
}
.gallery {
	float: right;
	width: 48%;
	margin: 0 0 -10px;
}
.gallery .picture {
	width: auto;
}
.gallery .picture-thumbs {
	text-align: right;
}
.gallery .thumb-item {
	width: 18%;
	margin: 0 1% 10px;
}
.overview {
	float: left;
	width: 49%;
	margin: 0 0 -10px;
	text-align: right;
}
.product-reviews-overview > div {
	float: right;
}
.product-review-box {
	margin: 3px 0 0 12px;
}

.overview .prices > div,
.variant-overview .prices > div {
	display: inline-block;
	margin: 0 0 5px 5px;
}
.discounted-price label {
	display: none;
	vertical-align: baseline;
	font-size: 14px;
}
.discounted-price span {
	vertical-align: baseline;
}
div.rental-price {
	display: block !important;
}
/*.overview .tax-shipping-info,
.variant-overview .tax-shipping-info {
	display: block !important;
}*/

.overview-bottom {
	clear: both;
	margin: 0;
}
.overview-bottom:after {
	content: "";
	display: block;
	clear: both;
}
.product-social-buttons {
	position: relative;
	bottom: -30px;
	float: right;
	height: 54px;
	margin: 0;
	padding: 10px 0 0;
}
.product-social-buttons label,
.product-social-buttons ul {
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
}
.product-social-buttons label {
	display: inline-block;
}
.overview-bottom .delivery,
.variant-overview .delivery {
	position: relative;
	left: -20px;
	bottom: -30px;
	float: left;
	height: 54px;
	margin: 0;
	padding: 10px 5px 10px 20px;
}
.overview-bottom .delivery:before,
.variant-overview .delivery:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: -40px;
	border-width: 27px 20px;
	border-style: dashed dashed solid solid;
	border-color: transparent transparent #f9f9f9 #f9f9f9;
}
.overview-bottom .delivery > div,
.variant-overview .delivery > div {
	margin: 8px;
}

.group-product .overview-buttons {
	margin: -15px 0 15px;
	vertical-align: middle;
}
.group-product .product-social-buttons {
	position: static;
	float: none;
	height: auto;
	padding: 10px 0;
}
.group-product .product-social-buttons ul {
	float: none;
}

.tier-prices .prices-table {
	display: table;
	width: 100%;
	border: none;
	border-collapse: collapse;
}
.tier-prices .prices-row {
	display: table-row;
	float: none;
	width: auto;
	border-top: 1px solid #e9e9e9;
}
.tier-prices .prices-row:first-child {
	border-top: none;
}
.tier-prices .prices-row > div {
	display: table-cell;
	border: none !important;
}
.tier-prices .field-header {
	min-width: 100px;
}

.product-specs-box .data-table td {
	width: auto;
	border-right: none;
	text-align: right;
}

.product-variant-line {
	padding: 30px 20px;
}
.variant-picture {
	float: right;
	margin: 0;
}
.variant-picture + .variant-overview {
	width: auto;
	margin: 0 340px 0 0;
}
.variant-overview {
	text-align: right;
}
.variant-overview .add-to-wishlist {
	margin: 0 3px;
}

.attribute-item {
	display: inline-block;
	margin: 0 0 0 10px;
}
.rental-attributes dt {
	min-width: 75px;
}
.rental-attributes .datepicker {
	width: 120px;
	text-align: right;
}
.attribute-squares {
	margin: 0 0 -10px;
	text-align: right;
}
.attribute-squares li {
	margin: 5px 0 5px 10px;
}

.ui-tabs .ui-tabs-nav li {
	display: inline-block;
	border: none;
}
.ui-tabs .ui-tabs-nav li a {
	padding: 12px 22px;
}
.ui-tabs .ui-tabs-nav li a:after {
	bottom: 0;
}

/* REVIEW PAGE */

.product-reviews-page .page-body {
	text-align: right;
}
.ui-tabs .product-review-item {
	padding: 30px;
}
.product-review-item .review-info {
	float: right;
}
.product-review-helpfulness {
	float: left;
}
.write-review form {
	padding: 30px 60px;
}

/* WISHLIST & COMPARE LIST */

.compare-products-table-mobile img {
    max-width: 150px;
}

/* TOPICS */

.topic-password {
	padding: 30px 60px;
}

/* CONTACT PAGE & EMAILaFRIEND */

.contact-page .page-body,
.email-a-friend-page .page-body,
.apply-vendor-page .page-body {
	text-align: right;
}
.contact-page form,
.email-a-friend-page form,
.apply-vendor-page form,
.contact-page .result,
.email-a-friend-page .result,
.apply-vendor-page .result {
	padding: 30px 60px;
}

/* REGISTRATION, LOGIN, MY ACCOUNT */

.registration-page .form-fields,
.login-page .inner-wrapper,
.external-authentication,
.password-recovery-page .page-body,
.registration-page .message-error,
.account-page .message-error {
	padding: 30px 60px;
}
.account-page .fieldset .title,
.account-page .section .title {
	padding: 40px 60px 0;
}
.account-page .form-fields,
.account-page .buttons,
.account-page .add-button,
.account-page .edit-address,
.account-page ul.info,
.account-page ul.details,
.account-page .description,
.reward-points-overview,
.account-page .no-data {
	padding: 30px 60px;
}
.account-page .table-wrapper {
	padding: 0 60px;
}
.account-page .address-item,
.account-page .order-item {
	float: right;
	width: 50%;
	border-width: 0;
}
.account-page .address-item:nth-child(2n+1),
.account-page .order-item:nth-child(2n+1) {
	clear: both;
}
.account-page .add-button {
	clear: both;
}

/* SHOPPING CART & CHECKOUT */

.cart-options {
	text-align: left;
}
.common-buttons .update-cart-button,
.common-buttons .continue-shopping-button {
	max-width: none;
	min-width: 230px;
}
.cart-footer .cart-collaterals {
	float: right;
	width: 52%;
}
.cart-footer .totals {
	float: left;
	width: 45%;
}
.cart-collaterals  .accordion-tab-title {
	text-align: right;
}
.cart-collaterals .estimate-shipping-button {
	width: auto;
	min-width: 220px;
}
.cart-collaterals .checkout-attributes {
	text-align: right;
}
.cart-collaterals .checkout-attributes .attribute-squares li {
	margin: 5px 0 5px 10px;
}

.checkout-page .address-grid,
.checkout-page .enter-address,
.checkout-page .ship-to-same-address,
.checkout-page .pickup-in-store {
	padding: 30px 60px;
}
.checkout-page .address-item {
	float: right;
	width: 45%;
	margin: 5% 10% 0 0;
	text-align: right;
}
.checkout-page .address-item:nth-child(2n+1) {
	clear: both;
	margin-right: 0;
}
.checkout-page .address-item:nth-child(-n+2) {
	margin-top: 0;
}
.checkout-page .address-item:only-child {
	float: none;
	width: auto;
	margin: auto;
	text-align: center;
}

.order-review-data ul,
.order-details-area ul,
.shipment-details-area ul {
	float: right;
	width: 48%;
	margin: 0 4% 0 0;
	text-align: right;
}
.order-review-data ul:first-child,
.order-details-area ul:first-child,
.shipment-details-area ul:first-child {
	margin: 0;
}
.order-details-page .page-title h1 {
	float: right;
	margin: 0;
}
.order-details-page .page-title a {
	float: left;
	margin: -8px 5px 0;
}
.order-details-page .order-overview {
	text-align: right;
}
.order-details-page .order-info span {
	display: inline-block;
	margin: 5px 0 5px 10px;
}
.order-details-page .options {
	text-align: left;
}
.order-details-page .actions input {
	margin: 0 10px 0 0;
}
.order-details-page .totals {
	width: 45%;
	margin-right: auto;
}
.return-request-page .fieldset
.form-fields, .opc .step {
	padding: 30px 60px;
}
.opc .step,
.opc div.buttons,
.opc .pickup-in-store,
.opc .ship-to-same-address {
	text-align: right;
}
#opc-confirm_order .totals {
	float: none;
	width: auto;
}
#opc-confirm_order div.buttons {
	text-align: center;
}

/* SEARCH & SITEMAP */
/* BLOG & NEWS */

.blog-page .post,
.news-items .news-item,
.blogpost-page .post,
.news-item-page .news-item,
.comment-list .comment,
.new-comment .form-fields {
	padding: 30px 50px;
}
.post-head ~ *,
.news-head ~ * {
	display: block;
}
.blog-page .tags {
	float: right;
}
.blog-page .tags label,
.blogpost-page .tags label {
	float: right;
	margin: 0 0 0 10px;
	line-height: 32px;
}
.blog-page .tags ul,
.blogpost-page .tags ul {
	float: right;
	text-align: right;
}
.blog-page .tags ul {
	max-width: 400px;
}
.blog-posts .buttons {
	float: left;
	text-align: left;
}
.blog-posts .read-more,
.blog-posts .read-comments {
	padding: 0;
}
.comment-info {
	float: right;
	margin: 0;
}
.comment-info + .comment-content {
	margin: 0 185px 0 0;
}
.comment-content {
	text-align: right;
}
.new-comment input[type="text"] {
	width: 400px;
}
.new-comment textarea {
	width: 600px;
}

.news-list-homepage .news-items {
	overflow: hidden;
}
.news-list-homepage .news-item {
	float: right;
	width: 49%;
	margin: 0 2% 20px 0;
	padding: 30px;
	text-align: right;
}
.news-list-homepage .news-item:nth-child(2n+1) {
	clear: both;
	margin-right: 0;
}
.news-list-homepage .news-body {
	height: 120px;
	overflow: hidden;
}
.news-list-homepage .buttons {
	text-align: right;
}
.news-list-homepage .view-all {
	margin-top: 10px;
}

/* FORUM & PROFILE */

.topic-post {
	overflow: hidden;
	text-align: right;
}
.topic-post .post-info {
	float: right;
	width: 23%;
	margin: 0;
}
.topic-post .user-info {
	width: auto;
}
.topic-post .user-stats li {
	display: block;
	margin: 0;
}
.topic-post .pm-button,
.profile-info-box .pm-button {
	margin: 0 -9px 0 0;
}
.topic-post .post-content {
	float: left;
	width: 77%;
}
.topic-post .post-head:after {
	content: "";
	display: block;
	clear: both;
}
.topic-post .post-time {
	float: right;
	margin: 0;
	line-height: 34px; /*1px less, because of italic font*/
}
.topic-post .post-time label {
	display: none;
}
.topic-post .post-actions {
	float: left;
	margin: 0;
}
.topic-post .post-actions > div {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.topic-post .post-actions a {
	margin: 0;
	line-height: 20px;
}
.topic-post .post-actions .manage-post a {
	margin: 0 5px;
	box-shadow: none;
}
.topic-post .post-actions .manage-post a:hover {
	background-color: #f6794d;
}
.topic-post .post-actions .post-link-button {
	margin: 0 10px 0 0;
	border-right: 1px solid #ddd;
	text-align: center;
}
.topic-post .post-actions .quote-post a {
	min-width: 70px;
}

.forum-edit-page .form-fields,
.move-topic-page .form-fields,
.private-message-send-page .form-fields,
.private-message-view-page .view-message {
	padding: 30px 60px;
}
.private-message-view-page .back-pm-button {
	float: left;
}

.profile-page .topic-body {
	padding: 0 30px;
}

}