﻿@model Nop.Web.Areas.Admin.Models.BookingTable.BookingTableMasterListSearchModel
@using Nop.Web.Areas.Admin.Models.BookingTable
@inject AdminAreaSettings adminAreaSettings

@using Nop.Core.Domain.Catalog

@{
    
    //page title
    ViewBag.Title = T("Admin.Booking.ManageBookingMaster").Text;
    Html.SetActiveMenuItemSystemName("ManageBookingMaster");
    //active menu item (system name)

}
<div asp-validation-summary="All"></div>

<form asp-controller="BookingTableMaster" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Booking.ManageBookingMaster")
        </h1>
        <div class="pull-right">
            <a asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            <button type="button" id="delete-selected" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete.Selected")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_list_buttons" })
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-group" @(Model.AvailableStores == null || Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchStoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                    </div>
                                </div>
                                <div class="form-group" @(Model.AvailableVendors == null || Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchVendorId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="SearchTableNo" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="SearchTableNo" />
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-products" class="btn btn-primary btn-search"><i class="fa fa-search"></i>@T("Admin.Common.Search")</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
            <div class="col-md-7 col-md-offset-5">
                <button type="button" id="search-products" class="btn btn-primary btn-search">
                    <i class="fa fa-search"></i>
                    @T("Admin.Common.Search")
                </button>
            </div>
        </div>*@
                        <span>@T("Admin.BookingMaster.BookingNotes")</span>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                   {
                       Name = "products-grid",
                       UrlRead = new DataUrl("BookingMasterList", "BookingTableMaster", null),
                       UrlUpdate = new DataUrl("BulkEditUpdate", "BookingTableMaster", null),
                       SearchButtonId = "search-products",
                       Length = Model.PageSize,
                       LengthMenu = Model.AvailablePageSizes,
                       Filters = new List<FilterParameter>
                         {
                             new FilterParameter(nameof(Model.SearchStoreId)),
                             new FilterParameter(nameof(Model.SearchVendorId)),
                             new FilterParameter(nameof(Model.SearchTableNo)),
                         },
                       ColumnCollection = new List<ColumnProperty>
                         {
                             new ColumnProperty(nameof(ProductModel.Id))
                             {
                                 IsMasterCheckBox = true,
                                 Render = new RenderCheckBox("checkbox_products"),
                                 ClassName =  NopColumnClassDefaults.CenterAll,
                                 Width = "50",
                             },
                             new ColumnProperty(nameof(BookingTableMasterListModel.Store))
                             {
                                 Title = T("Admin.Booking.Store").Text,
                                 Width = "100",
                                 Render = new RenderPicture()
                             },
                             new ColumnProperty(nameof(BookingTableMasterListModel.Vendor))
                             {
                                 Title = T("Admin.Booking.List.Vendor").Text,
                                 Width = "100"
                             },
                             new ColumnProperty(nameof(BookingTableMasterListModel.TableNo))
                             {
                                 Title = T("Admin.Booking.Tableno").Text,
                                 Width = "100",
                                 Editable=true,
                                 EditType=EditType.Number
                             },
                             new ColumnProperty(nameof(BookingTableMasterListModel.Seats))
                             {
                                 Title = T("Admin.Booking.Seats").Text,
                                 Width = "100",
                                 Editable=true,
                                 EditType=EditType.Number
                             },
                             new ColumnProperty(nameof(BookingTableMasterListModel.TableAvailableFrom))
                             {
                                 Title = T("Admin.Booking.TableAvailableFrom").Text,
                                 Width = "100"
                             },
                             new ColumnProperty(nameof(BookingTableMasterListModel.TableAvailableTo))
                             {
                                 Title = T("Admin.Booking.TableAvailableTo").Text,
                                 Width = "100"
                             },
                             new ColumnProperty(nameof(BookingTableMasterListModel.Status))
                             {
                                 Title = T("Admin.Booking.Status").Text,
                                 Width = "100",
                                 ClassName = NopColumnClassDefaults.CenterAll,
                                 Render = new RenderBoolean()
                             }
                         }
                   })

                        <script>

                            $(document).ready(function () {
                                $('#delete-selected').bind('click', function () {
                                    var postData = {
                                        selectedIds: selectedIds
                                    };
                                    addAntiForgeryToken(postData);
                                    $.ajax({
                                        cache: false,
                                        type: "POST",
                                        url: "@(Url.Action("DeleteSelected", "BookingTableMaster"))",
                                        data: postData,
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            $('#deleteSelectedFailed-info').text(errorThrown);
                                            $('#deleteSelectedFailed').click();
                                        },
                                        complete: function (jqXHR, textStatus) {
                                            updateTable('#products-grid');
                                        }
                                    });
                                    $('#delete-selected-action-confirmation').modal('toggle');
                                    return false;
                                });
                            });

                        </script>
                        <nop-alert asp-alert-id="deleteSelectedFailed" />
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</form>

@*import products form*@
<div id="importexcel-window" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="importexcel-window-title">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="importexcel-window-title">@T("Admin.Common.ImportFromExcel")</h4>
            </div>
            <form asp-controller="Product" asp-action="ImportExcel" method="post" enctype="multipart/form-data">
                <div class="form-horizontal">
                    <div class="modal-body">
                        <ul class="common-list">
                            <li>
                                <em>@T("Admin.Catalog.Products.List.ImportFromExcelTip")</em>
                            </li>
                            <li>
                                <em>@T("Admin.Common.ImportFromExcel.ManyRecordsWarning")</em>
                            </li>
                        </ul>
                        <div class="form-group">
                            <div class="col-md-2">
                                <div class="label-wrapper">
                                    <label class="control-label">
                                        @T("Admin.Common.ExcelFile")
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <input type="file" id="importexcelfile" name="importexcelfile" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">
                            @T("Admin.Common.ImportFromExcel")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*export selected (XML). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="Product" asp-action="ExportXmlSelected" method="post" id="export-xml-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#search-categories').click(function () {
            //search
            updateTable('#products-grid');
            return false;
        });
        $('#exportxml-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-xml-selected-form #selectedIds').val(ids);
            $('#export-xml-selected-form').submit();
            return false;
        });
    });
</script>

@*export selected (Excel). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
<form asp-controller="Product" asp-action="ExportExcelSelected" method="post" id="export-excel-selected-form">
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#exportexcel-selected').click(function (e) {
            e.preventDefault();
            var ids = selectedIds.join(",");
            $('#export-excel-selected-form #selectedIds').val(ids);
            $('#export-excel-selected-form').submit();
            return false;
        });
    });
</script>