@model TimeSpan?
<input id="@Html.IdForModel()" name="@Html.NameForModel()" />
<script>
    $(document).ready(function () {
        $("#@Html.IdForModel()").kendoTimePicker(
            {
                format: "HH:mm",
                value: "@(Model > TimeSpan.MinValue ? Model : null)"
        });
    });
</script>