﻿@model SMSInterfaceModel

@{
    Layout = Constants.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("Resanehlab.PhoneAuthentication.SMSInterface");

    ViewBag.Title = T("Resanehlab.Plugin.Authentication.PhoneNumber.EditDetails").Text;
}

<form method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Resanehlab.Plugin.Authentication.PhoneNumber.EditDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-route="Resanehlab.Plugin.Authentication.PhoneNumber.SMSInterface.List">@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSInterface.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="smsinterface-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync(Constants.SMSInterfaceCreateOrUpdatePartialViewPath, Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="smsinterface-delete" asp-route="Resanehlab.Plugin.Authentication.PhoneNumber.SMSInterface.Delete" />