﻿@inject AdminAreaSettings adminAreaSettings

@{
    var availablePageSizes = adminAreaSettings.GridPageSizes;
    var pageSize = adminAreaSettings.DefaultGridPageSize;

    Layout = Constants.AdminLayoutViewPath;
    Html.SetActiveMenuItemSystemName("Resanehlab.PhoneAuthentication.SMSInterface");
    ViewBag.Title = T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSInterface.Manage").Text;
}

<nop-antiforgery-token />

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSInterface.Manage")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="sms-interfaces-grid">
                    </div>
                    <script>
                $(document).ready(function () {
                    $("#sms-interfaces-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "SMSInterfaceAdmin"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(pageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(availablePageSizes)],
                            @await Html.PartialAsync(Resanehlab.Plugin.Core.Infrastructure.Constants.GridPagerMessagesPath)
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                        {
                            field: "ProviderCountryName",
                            title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.Interfaces.Tabs.Interface.InterfaceGrid.Fields.ProviderCountryName")"
                        },
                        {
                            field: "Id",
                            title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.Interfaces.Tabs.Interface.InterfaceGrid.Fields.Id")"
                        },
                        {
                            field: "InterfaceTypeName",
                            title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.Interfaces.Tabs.Interface.InterfaceGrid.Fields.InterfaceTypeName")"
                        },
                        {
                            field: "ProviderApiGateway",
                            title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.Interfaces.Tabs.Interface.InterfaceGrid.Fields.ProviderApiGateway")"
                        },
                        {
                            field: "TwilioSettingSId",
                            title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.Interfaces.Tabs.Interface.InterfaceGrid.Fields.TwilioSettingSId")"
                        },
                        {
                            field: "TwilioSettingAuthToken",
                            title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.Interfaces.Tabs.Interface.InterfaceGrid.Fields.TwilioSettingAuthToken")"
                        },
                        {
                            field: "TwilioSettingSMSNumber",
                            title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.Interfaces.Tabs.Interface.InterfaceGrid.Fields.TwilioSettingSMSNumber")"
                        },
                        {
                            field: "Active",
                            title: "@T("Resanehlab.Plugin.Authentication.PhoneNumber.Interfaces.Tabs.Interface.InterfaceGrid.Fields.Active")",
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '# if(Active) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                        },{
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<a class="btn btn-default" href="Edit/#=Id#"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</a>'
                        }]
                    });
                });

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
