@model ReturnRequestActionModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ReturnRequestActionSettingsTop })
    <div class="panel panel-default">
        <div class="panel-body">
            @(Html.LocalizedEditor<ReturnRequestActionModel, ReturnRequestActionLocalizedModel>("returnrequestaction-localized",
            @<div>
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="@Model.Locales[item].Name" />
                    </div>
                    <div class="col-md-8">
                        <nop-editor asp-for="@Model.Locales[item].Name" />
                        <span asp-validation-for="@Model.Locales[item].Name"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
            </div>
    ,
            @<div>
                <div class="form-group">
                    <div class="col-md-4">
                        <nop-label asp-for="Name" />
                    </div>
                    <div class="col-md-8">
                        <nop-editor asp-for="Name" asp-required="true" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
            </div>
    ))
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="DisplayOrder" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="DisplayOrder" />
                    <span asp-validation-for="DisplayOrder"></span>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ReturnRequestActionSettingsBottom })
</div>