﻿@model RegisterModel

<div class="fieldBar clearfix">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="IdProofDocId" asp-postfix=" "></label>
            <div class="upload-btn-wrapper">
                <button class="btn"><i class="fa fa-folder-o"></i></button>
                <nop-editor asp-for="IdProofDocId" />
            </div>
            <span asp-validation-for="IdProofDocId"></span>
        </div>
    </div>
</div>
<div class="fieldBar clearfix">
    <div class="row">
        <div class="col-md-12">
            <label asp-for="RcBookDocId" asp-postfix=" "></label>
            <div class="upload-btn-wrapper">
                <button class="btn"><i class="fa fa-folder-o"></i></button>
                <nop-editor asp-for="RcBookDocId" />
            </div>
            <span asp-validation-for="RcBookDocId"></span>
        </div>
    </div>
</div>
<div class="fieldBar clearfix" style="text-align:center">
    <div class="info">
        @T("NB.Register.Rider.Document.UploadRules")
    </div>
</div>