﻿@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}

<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body form-inputs">
        
        @if (!string.IsNullOrEmpty(Model.Result))
            {
            <div class="result">
                @Html.Raw(Model.Result)
            </div>
        }
        <form asp-route="CustomerChangePassword" method="post">           
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="row">

                    <div class="col-md-6">
                        <label asp-for="OldPassword" asp-postfix="" for="POST-OldPassword">@T("Account.ChangePassword.Fields.OldPassword")</label>
                        <nop-required />
                        <input asp-for="OldPassword" data-placeholder="@T("Account.ChangePassword.Fields.OldPassword.Placeholder")" placeholder="@T("Account.ChangePassword.Fields.OldPassword.Placeholder")" />                         
                        <span asp-validation-for="OldPassword"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="NewPassword" asp-postfix="" for="POST-NewPassword">@T("Account.ChangePassword.Fields.NewPassword")</label>
                        <nop-required />
                        <input asp-for="NewPassword" data-placeholder="@T("Account.ChangePassword.Fields.NewPassword.Placeholder")" placeholder="@T("Account.ChangePassword.Fields.NewPassword.Placeholder")" />
                        <span asp-validation-for="NewPassword"></span>
                    </div>

                </div>
                <div class="row second">
                    <div class="col-md-6">
                        <label asp-for="ConfirmNewPassword" asp-postfix="" for="POST-ConfirmNewPassword">@T("Account.ChangePassword.Fields.ConfirmNewPassword")</label>
                        <nop-required />
                        <input asp-for="ConfirmNewPassword" data-placeholder="@T("Account.ChangePassword.Fields.ConfirmNewPassword.Placeholder")" placeholder="@T("Account.ChangePassword.Fields.ConfirmNewPassword.Placeholder")" />
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 SaveButton">
                <input type="submit" class="button-1 change-password-button" value="@T("nb.save")" />
            </div>
        </form>
    </div>
</div>
<script>
    const FloatLabel = (() => {

        // add active class and placeholder
        const handleFocus = (e) => {
            const target = e.target;
            target.parentNode.classList.add('active');
           @* target.setAttribute('placeholder', target.getAttribute('data-placeholder'));*@
        };

        // remove active class and placeholder
        const handleBlur = (e) => {
            const target = e.target;
            if (!target.value) {
                target.parentNode.classList.remove('active');
            }
            target.removeAttribute('placeholder');
        };

        // register events
        const bindEvents = (element) => {
            const floatField = element.querySelector('input');
            floatField.addEventListener('focus', handleFocus);
            floatField.addEventListener('blur', handleBlur);
        };

        // get DOM elements
        const init = () => {
            const floatContainers = document.querySelectorAll('.float-container');

            floatContainers.forEach((element) => {
                if (element.querySelector('input').value) {
                    element.classList.add('active');
                }

                bindEvents(element);
            });
        };

        return {
            init: init
        };
    })();

    FloatLabel.init();

</script>