﻿@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}

<section class="loginSection signupSection clearfix">

    <div class="loginBox signupBox space">
        <div class="login-header">
            <h2>@T("Account.PasswordRecovery")</h2>
        </div>

        <div class="formDetails clearfix">
            @if (!string.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <form asp-route="PasswordRecovery" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                <div class="fieldset">
                    <div class="form-fields">
                        @if (Model.OTPVerificationEnabled)
                        {
                        <div class="fieldBar clearfix">
                            <label asp-for="EmailOrPhone" asp-postfix=":"></label>
                            <span class="required">*</span>
                            <input asp-for="EmailOrPhone" class="username" />
                            <span asp-validation-for="EmailOrPhone"></span>
                        </div>
                        }
                        else
                        {
                    <div class="fieldBar clearfix">
                        <label asp-for="Email" asp-postfix=":"></label>
                        <span class="required">*</span>
                        <input asp-for="Email" class="email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                        }
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
                </div>
            </form>
        </div>
    </div>
</section>

<script>

    $(window).load(function () {
        function removeValidAttr(yourSelector, yourAttr) {
            $(yourSelector).removeAttr(yourAttr);
        }
        removeValidAttr("#Email", "data-val-email");
        removeValidAttr("#Email", "data-val-required");
        removeValidAttr("#Email", "data-val");
        removeValidAttr("#Email", "email input-validation-error");

    })

</script>