﻿@model RegisterResultModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
    Html.AppendPageCssClassParts("html-extAuth-result-page");
}
<div class="page login-page">

    <div class="page-body">
        <section class="loginSection clearfix">
            <form asp-route="RegisterPhoneNumber" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
            

                    <div class="loginBox">
                        <div class="login-header">
                            <h2>@T("Account.Register")</h2>
                        </div>
                        <div class="fieldBar clearfix isdPhoneNo">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label asp-for="Phone" asp-postfix=" "></label>
                                </div>
                                <div class="col-xs-3 pR0">
                                    <select asp-for="ISDId" asp-items="Model.AvailableISD"></select>
                                </div>
                                <div class="col-xs-9 pL0">
                                    <input asp-for="Phone" placeholder="@T("bazar.Enteryourphone")" onkeypress="return onlyNumberKey(event)" size="10" />
                                    <nop-required />
                                    <span asp-validation-for="Phone"></span>
                                </div>
                            </div>
                        </div>
                        <div class="page-body">
                            <div class="result">

                            </div>
                            <div class="buttons">
                                <input type="submit" name="register-continue" class="button-1 register-continue-button" value="@T("Account.Register.Result.Continue")" />
                            </div>
                        </div>
                    </div>
</form>
        </section>
    </div>
</div>