﻿@model RegisterModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("NB.Register.Title.Agent").Text);
    //page class
    Html.AppendPageCssClassParts("html-rider-seller-signup-page");
    Html.AppendPageCssClassParts("html-rider-registration-page");

}
@if (Model.CountryEnabled && Model.StateProvinceEnabled)
{
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
    </script>
}
<section class="banner-form">
    <div class="row">
        <div class="col-md-6">
            @await Component.InvokeAsync("TopicBlock", new { systemName = "RiderBannerText" })
        </div>
        <div class="col-md-6">
            <section class="loginSection signupSection clearfix">
                <div class="loginBox signupBox">
                    <div class="login-header">
                        <h2>@T("NB.Register.Title.RegisterWithUs")</h2>
                    </div>
                    <div class="formDetails clearfix">
                        <form asp-route="RegisterAgent" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" id="frmregister">
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            <input type="hidden" id="RegisterationType" asp-for="RegisterationType" />
                            <div class="fieldset">
                                <div class="fieldBar clearfix flname">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label asp-for="FirstName" asp-postfix=" "></label>
                                            <nop-required />
                                            <input asp-for="FirstName" placeholder="@T("bazar.FirstName")" />

                                            <span asp-validation-for="FirstName"></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <nop-required />
                                            <label asp-for="LastName" asp-postfix=" "></label>
                                            <input asp-for="LastName" placeholder="@T("bazar.LastName")" />

                                            <span asp-validation-for="LastName"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="fieldBar clearfix isdPhoneNo">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label asp-for="Email" asp-postfix=" "></label>
                                            <nop-required />
                                            <input asp-for="Email" placeholder="@T("bazar.Enteryouremail")" />

                                            <span asp-validation-for="Email"></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 phn">
                                                <label asp-for="Phone" asp-postfix=" ">@T("Address.Fields.PhoneNumber")</label>
                                                <nop-required />
                                            </div>
                                            <div class="col-sm-3 phn">
                                                @*<label asp-for="ISDId" asp-postfix=" "></label>*@
                                                <select asp-for="ISDId" asp-items="Model.AvailableISD"></select>
                                                @if (Model.CountryRequired)
                                                {
                                                    <nop-required />
                                                }
                                                <span asp-validation-for="CountryId"></span>
                                            </div>
                                            <div class="col-md-9 phn">
                                                <input asp-for="Phone" placeholder="@T("bazar.Enteryourphone")" onkeypress="return onlyNumberKey(event)" size="10" />

                                                <span asp-validation-for="Phone"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.EnteringEmailTwice)
                                {
                                    <div class="fieldBar clearfix">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label asp-for="ConfirmEmail" asp-postfix=" "></label>
                                                <input asp-for="ConfirmEmail" placeholder="@T("Account.Fields.ConfirmEmail")" />
                                                <nop-required />
                                                <span asp-validation-for="ConfirmEmail"></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (Model.UsernamesEnabled)
                                {
                                    <div class="fieldBar clearfix">
                                        <label asp-for="Username" asp-postfix=" "></label>
                                        <input asp-for="Username" placeholder="@T("Account.Fields.Username")" />
                                        <nop-required />
                                        <span asp-validation-for="Username"></span>
                                        @if (Model.CheckUsernameAvailabilityEnabled)
                                        {
                                            @await Html.PartialAsync("_CheckUsernameAvailability")
                                        }
                                    </div>
                                }
                                @if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled || Model.CityEnabled || Model.CountryEnabled)
                                {
                                    <div class="form-fields">
                                        <div class="fieldBar clearfix onlyAgentField">
                                            <div class="row">
                                                @if (Model.RiderCitiesEnabled)
                                                {
                                                    <div class="col-sm-6">
                                                        <label asp-for="RiderCityId" asp-postfix=" "></label>
                                                        <select asp-for="RiderCityId" asp-items="Model.AvailableRiderCities"></select>
                                                        <span asp-validation-for="RiderCityId"></span>
                                                    </div>
                                                }
                                                @if (Model.RiderStateProvinceEnabled)
                                                {
                                                    <div class="col-sm-6">
                                                        <label asp-for="RiderStateProvinceId" asp-postfix=" "></label>
                                                        <select asp-for="RiderStateProvinceId" asp-items="Model.AvailableRiderStates"></select>
                                                        <span asp-validation-for="RiderStateProvinceId"></span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        @if (Model.RiderCountryEnabled)
                                        {
                                            <div class="fieldBar clearfix onlyAgentField">
                                                <label asp-for="RiderCountryId" asp-postfix=" "></label>
                                                <select asp-for="RiderCountryId" asp-items="Model.AvailableRiderCountries"></select>
                                                <span asp-validation-for="RiderCountryId"></span>
                                            </div>
                                        }

                                        <div class="fieldBar clearfix onlyAgentField">
                                            <label asp-for="VehicleNumber" asp-postfix=" "></label>
                                            <input asp-for="VehicleNumber" />
                                            <span asp-validation-for="VehicleNumber"></span>
                                        </div>
                                    </div>
                                }
                                <div class="form-fields passwordF">
                                    <div class="fieldBar clearfix">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label asp-for="Password" asp-postfix=" "></label>
                                                <nop-required />
                                                <input asp-for="Password" placeholder="@T("Account.Fields.Password")" />

                                                <span asp-validation-for="Password"></span>
                                            </div>
                                            <div class="col-sm-6">
                                                <label asp-for="ConfirmPassword" asp-postfix=" "></label>
                                                <nop-required />
                                                <input asp-for="ConfirmPassword" placeholder="@T("Account.Fields.ConfirmPassword")" />

                                                <span asp-validation-for="ConfirmPassword"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.DisplayCaptcha)
                                    {
                                        <div class="captcha-box">
                                            <nop-captcha />
                                        </div>
                                    }
                                    @if (Model.HoneypotEnabled)
                                    {
                                        @Html.Raw(Html.GenerateHoneypotInput())
                                    }
                                </div>
                                <div class="onlyAgentField">
                                    @await Html.PartialAsync("_UploadDocuments", Model)
                                </div>
                                @if (Model.AcceptPrivacyPolicyEnabled)
                                {
                                    <script type="text/javascript" asp-location="Footer">
                            $(document).ready(function() {
                                $('#register-button').click(function() {
                                    if ($('#accept-privacy-policy').is(':checked')) {

                                        if ($("#frmregister").valid()) {
                                            //ajax loader
                                            displayAjaxLoading(true);
                                        }

                                        //do some stuff
                                        return true;
                                    } else {
                                        //just show validation errors, dont post
                                        alert(
                                            '@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                        return false;
                                    }
                                });
                            });
                                    </script>
                                    <div class="accept-privacy-policy">
                                        <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                                        <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                                        <a class="read" id="read-privacyinfo" href="/privacypolicy">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                                    </div>
                                }
                            </div>
                            <div class="buttons">
                                <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
                            </div>
                        </form>
                    </div>

                    <div class="signupOptionBar clearfix">@T("bazar.nb.alreadyAccountText") <a href="/login">@T("bazar.nb.Login")</a></div>
                </div>
            </section>
        </div>
    </div>
</section>

@await Component.InvokeAsync("TopicBlock", new { systemName = "RiderBottomText" })

<script>
    function onlyNumberKey(evt) {

        // Only ASCII charactar in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }

    $(document).ready(function () {
        //ajax loader
        displayAjaxLoading(false);
    })
</script>
@if (Model.RiderCountryEnabled && Model.RiderStateProvinceEnabled)
{
    <script>
        $(document).ready(function() {
            $("#@Html.IdFor(model => model.RiderCountryId)").change(function() {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.RiderStateProvinceId)");
                var postData = {
                    countryId: selectedItem,
                    addSelectStateItem: "true"
                };
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetStatesByCountryId", "Country"))",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        ddlStates.html('');
                        $.each(data, function(id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#statesAlert").click();
                    }
                });
            });
        });
    </script>
}

@if (Model.RiderStateProvinceEnabled)
{
    <script>
        $(document).ready(function() {
            $("#@Html.IdFor(model => model.RiderStateProvinceId)").change(function() {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.RiderCityId)");
                var postData = {
                    StateId: selectedItem,
                    addSelectStateItem: "true"
                };
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.Action("GetCityByStateId", "Country"))",
                    data: postData,
                    success: function (data, textStatus, jqXHR) {
                        ddlStates.html('');
                        $.each(data, function(id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        $("#@Html.IdFor(model => model.RiderCityId)").val('@Model.RiderCityId')
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#cityAlert").click();
                    }
                });
            });
            $("#@Html.IdFor(model => model.StateProvinceId)").change();
        });
    </script>
}





