﻿@model RegisterModel
@using System.Text.Encodings.Web
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("NB.Register.Title.Seller").Text);
    //page class
    Html.AppendPageCssClassParts("html-rider-seller-signup-page");
    Html.AppendPageCssClassParts("html-seller-registration-page");

}

<section class="banner-form">
    <div class="row">
        <div class="col-md-6">
            @await Component.InvokeAsync("TopicBlock", new { systemName = "SellerBannerText" })
        </div>
        <div class="col-md-6">
            <section class="loginSection signupSection clearfix">
                @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                {
                    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            $("#@Html.IdFor(model => model.CountryId)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.StateProvinceId)");
                var statesProgress = $("#states-loading-progress");
                statesProgress.show();
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@(Url.RouteUrl("GetStatesByCountryId"))",
                    data: { "countryId": selectedItem, "addSelectStateItem": "true" },
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.id).html(option.name));
                        });
                        statesProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve states.');
                        statesProgress.hide();
                    }
                });
            });
        });
                    </script>
                }
                <div class="loginBox signupBox">
                    <div class="login-header">
                        <h2>@T("NB.Register.Title.RegisterWithUs")</h2>
                    </div>
                    <div class="formDetails clearfix">
                        <form asp-route="RegisterSeller" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" id="frmregister">
                            <div asp-validation-summary="ModelOnly" class="message-error"></div>
                            <input type="hidden" id="RegisterationType" asp-for="RegisterationType" />
                            <div class="fieldset">
                                @if (Model.GenderEnabled)
                                {
                                    <div class="fieldBar clearfix nonAgentField">
                                        <label>@T("Account.Fields.Gender"):</label>
                                        @*<nop-required />*@
                                        <div class="gender">
                                            <span class="male">
                                                <input type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                                <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                            </span>
                                            <span class="female">
                                                <input type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                                <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                            </span>
                                        </div>
                                    </div>
                                }
                                <div class="fieldBar clearfix flname">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label asp-for="FirstName" asp-postfix=" " >@T("Account.Fields.OwnerFirstName")</label>
                                            <nop-required />
                                            <input asp-for="FirstName" placeholder="@T("Account.Fields.FirstName")" />
                                            
                                            <span asp-validation-for="FirstName"></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <label asp-for="LastName" asp-postfix=" " >@T("Account.Fields.OwnerLastName")</label>
                                            <nop-required />
                                            <input asp-for="LastName" placeholder="@T("Account.Fields.LastName")" />
                                           
                                            <span asp-validation-for="LastName"></span>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.DateOfBirthEnabled)
                                {
                                    <div class="fieldBar date-of-birth nonAgentField">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>@T("Account.Fields.DateOfBirth") </label>@if (Model.DateOfBirthRequired)
                                                {
                                                    <nop-required />
                                                }
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                                                 asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                                                 asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                                                 asp-begin-year="@(DateTime.Now.Year - 110)"
                                                                 asp-end-year="@(DateTime.Now.Year)"
                                                                 asp-selected-day="@Model.DateOfBirthDay"
                                                                 asp-selected-month="@Model.DateOfBirthMonth"
                                                                 asp-selected-year="@Model.DateOfBirthYear" />
                                                <span asp-validation-for="DateOfBirthDay"></span>
                                                <span asp-validation-for="DateOfBirthMonth"></span>
                                                <span asp-validation-for="DateOfBirthYear"></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="fieldBar clearfix isdPhoneNo">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label asp-for="Email" asp-postfix=" "></label>
                                            <nop-required />
                                            <input asp-for="Email" placeholder="@T("bazar.Enteryouremail")" />
                                            
                                            <span asp-validation-for="Email"></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-12 phn">
                                                <label asp-for="Phone" asp-postfix=" ">@T("Address.Fields.PhoneNumber")</label>
                                                <nop-required />
                                            </div>
                                            <div class="col-sm-3 phn">
                                                @*<label asp-for="ISDId" asp-postfix=" "></label>*@
                                                <select asp-for="ISDId" asp-items="Model.AvailableISD"></select>
                                                @if (Model.CountryRequired)
                                                {
                                                    <nop-required />
                                                }
                                                <span asp-validation-for="CountryId"></span>
                                            </div>
                                            <div class="col-md-9 phn">                                            
                                                <input asp-for="Phone" placeholder="@T("bazar.Enteryourphone")" onkeypress="return onlyNumberKey(event)" size="10" />

                                                <span asp-validation-for="Phone"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.EnteringEmailTwice)
                                {
                                    <div class="fieldBar clearfix">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label asp-for="ConfirmEmail" asp-postfix=" "></label>
                                                <nop-required />
                                                <input asp-for="ConfirmEmail" placeholder="@T("Account.Fields.ConfirmEmail")" />

                                                <span asp-validation-for="ConfirmEmail"></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="fieldBar clearfix ac-type-restaurantOwner">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label asp-for="RestaurantName" asp-postfix=" "></label>
                                            <nop-required />
                                            <input asp-for="RestaurantName" placeholder="@T("NB.Account.Fields.BusinessName")" />

                                            <span asp-validation-for="RestaurantName"></span>
                                        </div>
                                    </div>
                                </div>
                                @if (Model.UsernamesEnabled)
                                {
                                    <div class="fieldBar clearfix">
                                        <label asp-for="Username" asp-postfix=" "></label>
                                        <input asp-for="Username" placeholder="@T("Account.Fields.Username")" />
                                        <nop-required />
                                        <span asp-validation-for="Username"></span>
                                        @if (Model.CheckUsernameAvailabilityEnabled)
                                        {
                                            @await Html.PartialAsync("_CheckUsernameAvailability")
                                        }
                                    </div>
                                }
                                @if (Model.CompanyEnabled || Model.DisplayVatNumber)
                                {
                                    <div class="form-fields nonAgentField">
                                        @if (Model.CompanyEnabled)
                                        {
                                            <div class="fieldBar clearfix">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label asp-for="Company" asp-postfix=":"></label> @if (Model.CompanyRequired)
                                                        {
                                                            <nop-required />
                                                        }
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label asp-for="Company" asp-postfix=" "></label>
                                                        <input asp-for="Company" placeholder="@T("Account.Fields.Company")" />
                                                        <nop-required />
                                                        <span asp-validation-for="Company"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        @if (Model.DisplayVatNumber)
                                        {
                                            <div class="fieldBar clearfix">
                                                <label asp-for="VatNumber" asp-postfix=" "></label>
                                                <label asp-for="VatNumber" asp-postfix=" "></label>
                                                <nop-required />
                                                <input asp-for="VatNumber" placeholder="@T("Account.Fields.VatNumber")" />
                                                <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                                            </div>
                                        }
                                    </div>
                                }
                                @if (Model.StreetAddressEnabled || Model.StreetAddress2Enabled || Model.ZipPostalCodeEnabled || Model.CityEnabled || Model.CountryEnabled)
                                {
                                    <div class="form-fields nonAgentField">
                                        <div class="fieldBar clearfix nonAgentField">
                                            <div class="row">
                                                @if (Model.StreetAddressEnabled)
                                                {
                                                    <div class="col-sm-6">
                                                        <label asp-for="StreetAddress" asp-postfix=" "></label>
                                                        <nop-required />
                                                        <input asp-for="StreetAddress" placeholder="@T("Account.Fields.StreetAddress")" />
                                                        @if (Model.StreetAddressRequired)
                                                        {
                                                            <nop-required />
                                                        }
                                                        <span asp-validation-for="StreetAddress"></span>
                                                    </div>
                                                }
                                                @if (Model.StreetAddress2Enabled)
                                                {
                                                    <div class="col-sm-6">
                                                        <label asp-for="StreetAddress2" asp-postfix=" "></label>
                                                        <nop-required />
                                                        <input asp-for="StreetAddress2" placeholder="@T("Account.Fields.StreetAddress2")" />
                                                        @if (Model.StreetAddress2Required)
                                                        {
                                                            <nop-required />
                                                        }
                                                        <span asp-validation-for="StreetAddress2"></span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="fieldBar clearfix nonAgentField">
                                            <div class="row">
                                                @if (Model.ZipPostalCodeEnabled)
                                                {
                                                    <div class="col-sm-6">
                                                        <label asp-for="ZipPostalCode" asp-postfix=" "></label>
                                                        <nop-required />
                                                        <input asp-for="ZipPostalCode" placeholder="@T("Account.Fields.ZipPostalCode")" />
                                                        @if (Model.ZipPostalCodeRequired)
                                                        {
                                                            <nop-required />
                                                        }
                                                        <span asp-validation-for="ZipPostalCode"></span>
                                                    </div>
                                                }
                                                @if (Model.CityEnabled)
                                                {
                                                    <div class="col-sm-12">
                                                        <label asp-for="City" asp-postfix=" "></label>
                                                        <input asp-for="City" placeholder="@T("Account.Fields.City")" />
                                                        @if (Model.CityRequired)
                                                        {
                                                            <nop-required />
                                                        }
                                                        <span asp-validation-for="City"></span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="fieldBar clearfix nonAgentField">
                                            <div class="row">
                                                @if (Model.CountryEnabled)
                                                {
                                                    <div class="col-sm-6">
                                                        <label asp-for="CountryId" asp-postfix=" "></label>
                                                        <select asp-for="CountryId" asp-items="Model.AvailableCountries"></select>
                                                        @if (Model.CountryRequired)
                                                        {
                                                            <nop-required />
                                                        }
                                                        <span asp-validation-for="CountryId"></span>
                                                    </div>
                                                }
                                                @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                                                {
                                                    <div class="col-sm-6">
                                                        <label asp-for="StateProvinceId" asp-postfix=" "></label>
                                                        <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                                        @if (Model.StateProvinceRequired)
                                                        {
                                                            <nop-required />
                                                        }
                                                        <span asp-validation-for="StateProvinceId"></span>
                                                        <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (Model.AllowCustomersToSetTimeZone)
                                {
                                    <div class="form-fields">
                                        <div class="fieldBar clearfix">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @if (Model.AllowCustomersToSetTimeZone)
                                                    {
                                                        <label asp-for="TimeZoneId" asp-postfix=" "></label>
                                                        <select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                                                        <nop-required />
                                                        <span asp-validation-for="TimeZoneId"></span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="form-fields">
                                    <div class="fieldBar clearfix">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label asp-for="Password" asp-postfix=" "></label>
                                                <nop-required />
                                                <input asp-for="Password" placeholder="@T("Account.Fields.Password")" />
                                            
                                                <span asp-validation-for="Password"></span>
                                            </div>
                                            <div class="col-sm-6" style=" padding-bottom: 0;">
                                                <label asp-for="ConfirmPassword" asp-postfix=" "></label>
                                                <nop-required />
                                                <input asp-for="ConfirmPassword" placeholder="@T("Account.Fields.ConfirmPassword")" />
                                           
                                                <span asp-validation-for="ConfirmPassword"></span>
                                            </div>
                                        </div>
                                    </div>
                                    @if (Model.DisplayCaptcha)
                                    {
                                        <div class="captcha-box">
                                            <nop-captcha />
                                        </div>
                                    }
                                    @if (Model.HoneypotEnabled)
                                    {
                                        @Html.Raw(Html.GenerateHoneypotInput())
                                    }
                                </div>

                                @if (Model.AcceptPrivacyPolicyEnabled)
                                {
                                    <script type="text/javascript" asp-location="Footer">
                            $(document).ready(function() {
                                $('#register-button').click(function() {
                                    if ($('#accept-privacy-policy').is(':checked')) {

                                        if ($("#frmregister").valid()) {
                                            //ajax loader
                                            displayAjaxLoading(true);
                                        }

                                        //do some stuff
                                        return true;
                                    } else {
                                        //just show validation errors, dont post
                                        alert(
                                            '@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                        return false;
                                    }
                                });
                            });
                                    </script>
                                    <div class="accept-privacy-policy">
                                        <input id="accept-privacy-policy" type="checkbox" name="accept-privacy-policy" />
                                        <label for="accept-privacy-policy">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                                        <a class="read" id="read-privacyinfo" href="/privacypolicy">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                                    </div>
                                }
                            </div>
                            <div class="buttons">
                                <input type="submit" id="register-button" class="button-1 register-next-step-button" value="@T("Account.Register.Button")" name="register-button" />
                            </div>
                        </form>
                    </div>
                    <div class="signupOptionBar clearfix">@T("bazar.nb.alreadyAccountText") <a href="/login">@T("bazar.nb.Login")</a></div>
                </div>
                <script>
                    function onlyNumberKey(evt) {
                        // Only ASCII charactar in that range allowed
                        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
                        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                            return false;
                        return true;
                    }
                    $(document).ready(function () {
                        //ajax loader
                        displayAjaxLoading(false);
                    })
                </script>
            </section>
        </div>
    </div>
</section>

@await Component.InvokeAsync("TopicBlock", new { systemName = "SellerBottomText" })







