﻿@model List<string> 
<div class="regular slider slider_merchant">
    <div class="owl-carousel owl-theme">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="item">
                <div class="item-slide"> <img src=@(Model[i]) class="slides" alt=" img1" /> </div>
            </div>
        }
    </div>
</div> 
<script>
    $(document).ready(function () {
        $('.slider_merchant .owl-carousel').owlCarousel({
            loop: false,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 1,
                    nav: true
                },
                1000: {
                    items: 1,
                    nav: true,
                    loop: false,
                    margin: 20
                }
            }
        })
    })
    $slider.on('changed.owl.carousel', ev => {
        const carousel = ev.currentTarget
        $('.owl-next', $el).attr('disabled', carousel.current() === carousel.maximum())
        $('.owl-prev', $el).attr('disabled', carousel.current() === carousel.minimum())
    })
</script>