﻿@model ProductCuisineMappingSearchModel
@inject AdminAreaSettings adminAreaSettings

@{
  
    //page title
    ViewBag.Title = T("Admin.Catalog.ProductCuisineMapping").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ProductCuisine");
    if (Model.AvailableStoreList == null)
    {
        Model.AvailableStoreList = new List<SelectListItem>();
    }
}

<form asp-controller="Product" asp-action="ProductCuisineMappingList" method="post" id="product-Cuisine-image-mapping-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.ProductCuisineMappingList")
        </h1>
        <div class="pull-right">
            <a onclick="javascript:openPopup('@Url.Content("~/Admin/Product/CreateProductCuisineMapping")?btnId=btnRefresh&formId=product-Cuisine-image-mapping-form');" class="btn bg-blue">

                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
           
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_ProductCuisineMapping_list_buttons" })
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default panel-search">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <nop-label asp-for="StoreId" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-select asp-for="StoreId" asp-items="Model.AvailableStoreList" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <button type="button" id="search-products" class="btn btn-primary btn-search">
                                            <i class="fa fa-search"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "ProductCuisine_mapping-grid",
                        UrlRead = new DataUrl("ProductCuisineMappingList", "Product", null),
                        UrlDelete = new DataUrl("ProductCuisineDeleteMapping", "Product", null),
                       SearchButtonId = "search-products",
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                       Filters = new List<FilterParameter>
                            {
                                new FilterParameter(nameof(Model.StoreId))
                            },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(ProductCuisineMappingModel.Name))
                            {
                                Title = T("Admin.Catalog.ProductTagsImageMapping.Fields.Name").Text,
                                Width = "300"
                            },
                            new ColumnProperty(nameof(ProductCuisineMappingModel.StoreName))
                            {
                                Title = T("Admin.Catalog.ProductTagsImageMapping.Fields.StoreName").Text,
                                Width = "300"
                            },
                            new ColumnProperty(nameof(ProductCuisineMappingModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderCustom("renderColumnEdit")
                            },
                            new ColumnProperty(nameof(ProductCuisineMappingModel.Id))
                            {
                                Title = T("Admin.Common.Delete").Text,
                                Width = "100",
                                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                                ClassName =  NopColumnClassDefaults.Button
                            }
                        }
                    })

                        <script>
                        function renderColumnEdit(data, type, row, meta) {
                            return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/Product/EditProductCuisineMapping/")' + data + '?btnId=btnRefresh&formId=product-Cuisine-image-mapping-form\', 800, 320, true); return false;\" class="btn btn-default"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</button>';
                        }
                        </script>

                        <input type="submit" id="btnRefresh" style="display: none" />
                        <script type="text/javascript">
                            $(document).ready(function () {

                                $("#@Html.IdFor(model => model.AvailableStoreList)").keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-products").click();
                                        return false;
                                    }
                                });
                            });
                        </script>

                        <script type="text/javascript">
                            $(document).ready(function () {
                                $('#btnRefresh').click(function () {
                                    //refresh grid
                                     updateTable('#ProductCuisine_mapping-grid');
                                    //return false to don't reload a page
                                    return false;
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var openPopup = function (url) {
        var popupWindow = window.open(url, "pagename", "width=700, height=400, top = 200, left = 300");
        window.onbeforeunload = function () {
            popupWindow.close();
        };
    }
</script>