﻿@model Nop.Web.Areas.Admin.Models.Catalog.ProductTagSearchModel
@inject AdminAreaSettings adminAreaSettings

@{

    //page title
    ViewBag.Title = T("Admin.Catalog.ProductTagsImageMapping").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Product tags Image Mapping");
}

<form asp-controller="Product" asp-action="ProductTagsImageMappingList" method="post" id="product-tags-image-mapping-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.ProductTagsImageMapping")
        </h1>
        <div class="pull-right">
            <a onclick="javascript:openPopup('@Url.Content("~/Admin/Product/CreateProductTagImageMapping")?btnId=btnRefresh&formId=product-tags-image-mapping-form');" class="btn bg-blue">

                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            &nbsp;
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_tag_image_mapping_list_buttons" })
        </div>
    </div>

    <div class="content">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                  {
                      Name = "product-tags-image-mapping-grid",
                      UrlRead = new DataUrl("ProductTagsImageMappingList", "Product", null),
                      UrlDelete = new DataUrl("ProductTagDeleteImageMapping", "Product", null),
                      Length = Model.PageSize,
                      LengthMenu = Model.AvailablePageSizes,
                      ColumnCollection = new List<ColumnProperty>
                      {
                          new ColumnProperty(nameof(ProductTagImageMapppingModel.Name))
                          {
                              Title = T("Admin.Catalog.ProductTagsImageMapping.Fields.Name").Text,
                              Width = "300"
                          },
                          new ColumnProperty(nameof(ProductTagImageMapppingModel.PictureThumbnailUrl))
                          {
                              Title = T("Admin.Catalog.ProductTagsImageMapping.Fields.PictureThumbnailUrl").Text,
                              Width = "300",
                              ClassName ="tag_thmbs",
                              Render = new RenderCustom("renderColumnPictureThumbnailUrl")
                          },
                          new ColumnProperty(nameof(ProductTagImageMapppingModel.ProductCount))
                          {
                              Title = T("Admin.Catalog.ProductTags.Fields.ProductCount").Text,
                              Width = "150",
                              ClassName =  NopColumnClassDefaults.CenterAll
                          },
                          new ColumnProperty(nameof(ProductTagImageMapppingModel.Id))
                          {
                              Title = T("Admin.Common.Edit").Text,
                              Width = "100",
                              ClassName =  NopColumnClassDefaults.Button,
                              Render = new RenderCustom("renderColumnEdit")
                          },
                          new ColumnProperty(nameof(ProductTagImageMapppingModel.Id))
                          {
                              Title = T("Admin.Common.Delete").Text,
                              Width = "100",
                              Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                              ClassName =  NopColumnClassDefaults.Button
                          }
                      }
                  })

                    <script>
                        function renderColumnEdit(data, type, row, meta) {
                            return '<button onclick=\"javascript:OpenWindow(\'@Url.Content("~/Admin/Product/EditProductTagImageMapping/")' + data + '?btnId=btnRefresh&formId=product-tags-image-mapping-form\', 800, 320, true); return false;\" class="btn btn-default"><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</button>';
    }
    function renderColumnPictureThumbnailUrl(data, type, row, meta) {
        return '<img src="'+row.PictureThumbnailUrl+'" />';
                        }
                    </script>
                    
                    <input type="submit" id="btnRefresh" style="display: none" />
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('#btnRefresh').click(function () {
                                //refresh grid
                                updateTable("#product-tags-image-mapping-grid");
                                return false;
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var openPopup = function (url) {
        var popupWindow = window.open(url, "pagename", "width=700, height=400, top = 200, left = 300");
        window.onbeforeunload = function () {
            popupWindow.close();
        };
    }
</script>