﻿@model Nop.Web.Areas.Admin.Models.Schedule.ScheduleListSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Schedule.EditScheduleDetail").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("ManageSchedules");
}

<form asp-controller="Product" asp-action="ScheduleEdit" method="post" id="product-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Catalog.Schedule.EditScheduleDetail") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Schedule">@T("Admin.Catalog.Schedule.ScheduleList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="schedule-save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="schedule-delete" ac="" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @*<button type="submit" name="save-continue" class="btn bg-blue">
            <i class="fa fa-floppy-o"></i>
            @T("Admin.Common.SaveContinue")
        </button>*@
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_product_details_buttons" })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateSchedule", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-action="ScheduleDelete" asp-button-id="schedule-delete" />

@if (!Model.IsLoggedInAsVendor)
{
    //product editor settings modal
    @*@await Html.PartialAsync("_ProductEditorSettingsModal", Model)*@
}
