﻿@model OrderDetailsModel
@using Nop.Core.Domain.Orders
@using Nop.Services.Localization
@inject ILocalizationService localizationService
@{
    var enmStatus = new OrderStatus();
    var st = "";
}
<div id="dv-rating-review-popup" class="modal rate_popup">
    <div class="modal-header">
        <span class="close">&times;</span>
    </div>

    <div class="page order-details-page">
        <div class="page-body">

            <div id="order-summary-back" class="order-summary-back">
                <a onclick="showItemSummary()" class="button-2 summary">
                    <h4>Back icon</h4>
                </a>
            </div>
            <div id="nb-ordersummary">
                <div class="order-details-area">
                    <ul class="billing-info">
                        <li class="heading">
                            <span class="head">@T("nb.deliverto")</span>
                            <span class="close" onclick="Billing.closePopup()">&times;</span>
                        </li>
                        <li>
                            <div class="title home_add">
                                <label>@T("NB.Admin.OrderDetails.OrderId")</label>
                                <strong>@Model.Id</strong>
                                <label>@T("NB.Admin.OrderDetails.OrderDateAndTime")</label>
                                @if (!string.IsNullOrEmpty(Model.ScheduledOrderDate))
                                {
                                    <strong>@Model.ScheduledOrderDate</strong>
                                    <strong>@Model.ScheduledOrderTime</strong>
                                }
                                else
                                {
                                    <strong>@Model.CreatedOn.ToString("ddd, dd MMM hh:mm tt")</strong>
                                }
                                <label>@T("NB.Admin.OrderDetails.OrderStatus")</label>
                                <strong>@Model.OrderStatus</strong>
                                <label>@T("NB.Admin.OrderDetails.OrderAmount")</label>
                                <strong>@Model.OrderTotal</strong>
                            </div>
                        </li>
                        @if (!string.IsNullOrEmpty(Model.MerchantName))
                        {
                            <li class="address1">
                                <label>@T("NB.Admin.OrderDetails.MerchantName")</label>
                                @Model.MerchantName
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.MerchantAddress))
                        {
                            <li class="address1">
                                <label>@T("NB.Admin.OrderDetails.MerchantAddress")</label>
                                @Model.MerchantAddress
                            </li>
                        }

                        @if (!string.IsNullOrEmpty(Model.BillingAddress.Landmark))
                        {
                            <li class="address1">
                                <label>@T("NB.Admin.OrderDetails.LocationType")</label>
                                @Model.BillingAddress.Landmark
                            </li>
                        }
                        @if (Model.BillingAddress.StreetAddressEnabled)
                        {
                            <li class="address1">
                                @Model.BillingAddress.Address1  @Model.BillingAddress.Address2, @Model.BillingAddress.City, @Model.BillingAddress.ZipPostalCode
                            </li>
                        }
                    </ul>
                </div>
                <div class="container px-1 px-md-4 py-5 mx-auto">
                    <div class="card">
                        <div class="row d-flex justify-content-center">
                            <div class="col-12">
                                <ul id="progressbar" class="text-center">
                                    @foreach (var os in Model.OrderStatusDetail.OrderStatus)
                                     {
                                            var note = ((int)os == (int)OrderStatus.Received)? (Model.OrderStatusDetail.Notes.LastOrDefault(x => x.Text.Contains("Order placed")) ): (Model.OrderStatusDetail.Notes.LastOrDefault(x => x.Text.Contains(os.ToString())));
                                            if (note!=null)
                                            {
                                                enmStatus = (OrderStatus)os;
                                                st = localizationService.GetLocalizedEnum(enmStatus);
                                                <li class="active step0">@st @note.Value</li>
                                                
                                            }
                                            else
                                            {
                                                enmStatus = (OrderStatus)os;
                                                st = localizationService.GetLocalizedEnum(enmStatus);
                                                <li class="step0">@st</li>
                                            }

                                     }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display:block" id="nb-itemsummary">
                    @if (Model.Items.Count > 0)
                    {
                        <div>
                            <div>
                                <strong>@T("Order.ItemSummary")</strong>
                            </div>
                        </div>
                        <div class="section products">
                            <div class="table-wrapper">
                                @{var counter = 0;}
                                @foreach (var item in Model.Items)
                                {
                                    counter++;
                                    <div id="orderItem-@(item.Id)">
                                        <div class="picture">
                                            <img height="100" width="70" alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                                        </div>
                                        <em>@item.ProductName</em>
                                        <div class="quantity">
                                            <em> @item.Quantity * @item.UnitPrice</em>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="section totals">
                            <div class="total-info">
                                <table class="cart-total111" style="display:block">
                                    <tbody>
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("nb.Order.SubTotal"):</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span>@Model.OrderSubtotal</span>
                                            </td>
                                        </tr>
                                        @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                                        {
                                            <tr>
                                                <td class="cart-total-left">
                                                    <label>@T("Order.SubTotalDiscount"):</label>
                                                </td>
                                                <td class="cart-total-right">
                                                    <span>@Model.OrderSubTotalDiscount</span>
                                                </td>
                                            </tr>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                                        {
                                            <tr>
                                                <td class="cart-total-left">
                                                    <label>@T("Order.TotalDiscount"):</label>
                                                </td>
                                                <td class="cart-total-right">
                                                    <span>@Model.OrderTotalDiscount</span>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("NB.Order.DeliveryAmount"):</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span><strong>@Model.DeliveryAmount</strong></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("NB.Order.TipAmount")</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span>@Model.TipAmount</span>
                                            </td>
                                        </tr>                                        
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("Order.OrderTotal"):</label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span><strong>@Model.OrderTotal</strong></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </div>               
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#dv-rating-review-popup").show();

    $(".close").bind('click', function () {
        $('#dv-rating-review-container').hide();
    });

    $(document).ready(function () {
        displayAjaxLoading(false);
        $('#order-summary-back').hide();
    })

    function showItemSummary() {
        $('#nb-ordersummary').toggle();
        $('#nb-itemsummary').toggle();
        $('#order-summary-back').toggle();
    }

    function loadDirectItemRatingReviewComp(orderId, itemid) {
        var url = '@Url.Action("LoadRatingReview", "RatingReview")' + '?orderId=' + orderId + '&directItemId=' + itemid;
            $('#dv-rating-review-container').load(url, function () {
                $('#dv-rating-review-container').show();
            });
        }
</script>
<style>
    .card {
        z-index: 0;
        background-color: #ECEFF1;
        padding-bottom: 20px;
        margin-top: 90px;
        margin-bottom: 90px;
        border-radius: 10px;
        width: 50%;
    }

    .top {
        padding-top: 40px;
        padding-left: 13% !important;
        padding-right: 13% !important
    }

    #progressbar {
        overflow: hidden;
        color: #392ca0;
        padding-left: 0px;
    }

        #progressbar li {
            list-style-type: none;
            font-size: 13px;
            width: 20%;
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar .step0:before {
            font-family: FontAwesome;
            content: "\f10c";
            color: #fff
        }

        #progressbar li:before {
            width: 40px;
            height: 40px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            background: #C5CAE9;
            border-radius: 50%;
            margin: auto;
            padding: 0px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 12px;
            background: #C5CAE9;
            position: absolute;
            left: 0;
            top: 16px;
            z-index: -1
        }

        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            position: absolute;
            left: -50%
        }

        #progressbar li:nth-child(2):after,
        #progressbar li:nth-child(3):after {
            left: -50%
        }

        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            position: absolute;
            left: 50%
        }

        #progressbar li:last-child:after {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px
        }

        #progressbar li:first-child:after {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #651FFF
        }

        #progressbar li.active:before {
            font-family: FontAwesome;
            content: "\f00c"
        }

    .icon {
        width: 60px;
        height: 60px;
        margin-right: 15px
    }

    .icon-content {
        padding-bottom: 20px
    }
</style>