﻿@model LiveTrackingModel
@using Nop.Core
@inject IStoreContext storeContext
@inject IWebHelper webHelper

@{
    var googleAccountKey = storeContext.GoogleMapAccountKey;

    //set info variables
    var restaurantInfo = !string.IsNullOrEmpty(Model.RestauratTrakingInfo.RestauratName) ? Model.RestauratTrakingInfo.RestauratName : "Restaurant";
    var customerInfo = !string.IsNullOrEmpty(Model.CustomerTrakingInfo.CustomerName) ? Model.CustomerTrakingInfo.CustomerName : "You";
    var riderInfo = !string.IsNullOrEmpty(Model.RiderTrakingInfo.RiderName) ? Model.RiderTrakingInfo.RiderName : "Rider";
    int intervalTime = 5000; //Milliseconds

    //var riderIcon = webHelper.GetStoreLocation() + "/Themes/IndiaExpressV1/Content/img/sameDay-Delivery.png";
}

<div>
    @if (Model.TrackingPossible)
    {
        @*Address lat lng*@
        <input type="hidden" id="restourantLat" value="@Model.RestauratTrakingInfo.Latitude" />
        <input type="hidden" id="restourantLng" value="@Model.RestauratTrakingInfo.Longitude" />
        <input type="hidden" id="customerLat" value="@Model.CustomerTrakingInfo.Latitude" />
        <input type="hidden" id="customerLng" value="@Model.CustomerTrakingInfo.Longitude" />
        <input type="hidden" id="inputRiderLat" value="@Model.RiderTrakingInfo.Latitude" />
        <input type="hidden" id="inputRiderLng" value="@Model.RiderTrakingInfo.Longitude" />

        <div class="data-table">
            <!-- Modal content -->
            <div id="map" class="live_tracking_map"></div>
            <script>

                    function mapLocation() {
                        var directionsRenderer;
                        var directionsService = new google.maps.DirectionsService();
                        var map;

                        //rider's initial location
                        var position = [parseFloat($("#inputRiderLat").val()), parseFloat($("#inputRiderLng").val())];

                        function initMap() {
                             directionsService = new google.maps.DirectionsService();
                             directionsRenderer = new google.maps.DirectionsRenderer({ suppressMarkers: true }); // with hide A and B enabled
                             map = new google.maps.Map(document.getElementById("map"), {
                                zoom: 16,
                                center: { lat: 41.85, lng: -87.65 },
                            });
                            directionsRenderer.setMap(map);

                            //on load set default route
                            calculateAndDisplayRoute(directionsService, directionsRenderer);

                            var iconBase = 'https://maps.google.com/mapfiles/';

                            //set Restaurant marker
                            var restaurantLocation = new google.maps.LatLng(parseFloat($("#restourantLat").val()),
                                parseFloat($("#restourantLng").val()));
                            restaurantMarker = new google.maps.Marker({
                                position: restaurantLocation,
                                map: map,
                                title: "@restaurantInfo",
                                label: {
                                    color: 'Black',
                                    fontSize: '14px',
                                    fontWeight: '900',
                                    text: '@restaurantInfo'
                                },
                                icon: iconBase + 'kml/pal2/icon38.png'
                            });

                            //set Customer marker
                            var customerLocation = new google.maps.LatLng(parseFloat($("#customerLat").val()),
                                parseFloat($("#customerLng").val()));
                            customerMarker = new google.maps.Marker({
                                position: customerLocation,
                                map: map,
                                title: "@customerInfo",
                                label: {
                                    color: 'Black',
                                    fontSize: '14px',
                                    fontWeight: '900',
                                    text: '@customerInfo'
                                },
                                icon: {
                                    url: iconBase + 'kml/shapes/man.png', // url
                                    scaledSize: new google.maps.Size(50, 50), // scaled size
                                }
                            });

                            //marker (rider)
                            var riderStartLocation = new google.maps.LatLng(parseFloat($("#inputRiderLat").val()),
                                parseFloat($("#inputRiderLng").val()));
                            marker = new google.maps.Marker({
                                position: riderStartLocation,
                                map: map,
                            @*title: "@riderInfo",
                            label: {
                                       color: 'Black',
                                       fontSize: '12px',
                                       fontWeight: '900',
                                       text: '@riderInfo'
                            }*@

                                icon: {
                                    url: iconBase + 'kml/shapes/motorcycling.png', // url
                                    scaledSize: new google.maps.Size(50, 50), // scaled size
                                }
                            });
                        }

                        function calculateAndDisplayRoute(directionsService, directionsRenderer) {
                            var restaurantAddress = new google.maps.LatLng(parseFloat($("#restourantLat").val()),
                                parseFloat($("#restourantLng").val()));
                            var customerAddress = new google.maps.LatLng(parseFloat($("#customerLat").val()),
                                parseFloat($("#customerLng").val()));

                            directionsService.route(
                                {
                                    origin: restaurantAddress, //restaurant address latlng
                                    destination: customerAddress, //customer address latlng
                                    travelMode: google.maps.TravelMode.DRIVING,
                                    unitSystem: google.maps.UnitSystem.IMPERIAL
                                },
                                (response, status) => {
                                    if (status === "OK") {
                                        directionsRenderer.setDirections(response);
                                    } else {
                                        window.alert("Directions request failed due to " + status);
                                    }
                                }
                            );
                        }

                         //=========================================
                         //+++++++++ Live tracking ++++++++++++
                         //=========================================

                        //set default vairables and values
                        var numDeltas = 100;
                        var delay = 10; //milliseconds
                        var i = 0;
                        var deltaLat;
                        var deltaLng;

                        function transition(result) {
                            i = 0;
                            deltaLat = (result[0] - position[0]) / numDeltas;
                            deltaLng = (result[1] - position[1]) / numDeltas;
                            moveMarker();
                        }

                        function moveMarker() {
                            position[0] += deltaLat;
                            position[1] += deltaLng;
                            var latlng = new google.maps.LatLng(position[0], position[1]);
                            //console.log('i= '+ i +' Moving.. Lat: ' + latlng.lat() + ' ,Lng: ' + latlng.lng());
                            marker.setPosition(latlng);
                            if (i != numDeltas) {
                                i++;
                                setTimeout(moveMarker, delay);
                            }
                        }

                        function liveTracking() {
                            var lat = parseFloat($("#inputRiderLat").val());
                            var long = parseFloat($("#inputRiderLng").val());
                            var result = [lat, long];
                            transition(result);
                        }

                        //=========================================
                        //---------- Live tracking -----------
                        //=========================================

                        //++++ SignalR ++++

                        connection.on("agentCoordinateRequest", (orderId, agentId, recivedLat, recivedLng) => {

                            //check if coordinates are for this order
                            if (@Model.OrderId == parseInt(orderId) && @Model.RiderTrakingInfo.RidertId == parseInt(agentId)) {

                                //move rider to ricived coordinates
                                console.log('Riders next location Lat: ' + recivedLat + ' long: ' + recivedLng);
                                if (recivedLat && recivedLng) {
                                    $("#inputRiderLat").val(parseFloat(recivedLat));
                                    $("#inputRiderLng").val(parseFloat(recivedLng));
                                    //move progress
                                    liveTracking();
                                }
                            }
                        });

                        //---- SignalR ----

                        google.maps.event.addDomListener(window, 'load', initMap());
                    }

                    isTrackingMapLoaded = true;
            </script>

            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <script src="https://maps.googleapis.com/maps/api/js?key=@(googleAccountKey)&callback=mapLocation&libraries=&v=weekly"
                    async>
            </script>
        </div>

        <style>
            /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                /* z-index: 1;  Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0, 0, 0); /* Fallback color */
                background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                border: 1px solid #888;
                width: 80%;
                height: 80%
            }

            /* The Close Button */
            .close {
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

                .close:hover,
                .close:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
        </style>
    }
    else
    {
        <div class="tracking_msg">
            @*error div*@
            @foreach (var error in Model.ErrorMessage)
            {
                <span class="error_msg"><i class="fa fa-exclamation-triangle"> </i> @error</span>

            }
        </div>
    }
</div>