﻿@model OrderDetailsModel
@{
    if (!Model.PrintMode)
    {
        Layout = "_ColumnsOne";
    }
    else
    {
        Layout = "_Print";
    }
    //title
    Html.AddTitleParts(T("Nb.PageTitle.OrderTracking").Text);
    //page class
    Html.AppendPageCssClassParts("html-order-details-page");

    //signalR js
    Html.AddScriptParts("~/lib/signalr/signalr.js");
}
@{
    var addressLine = "";
    //addressLine += address.FirstName;
    //addressLine += " " + address.LastName;
    var add1 = "";
    var add2 = "";

    var splitAddress = Model.BillingAddress.Address2.Split(",");
    add1 = splitAddress[0];
    if (splitAddress.Length >= 2)
    {
        add2 = splitAddress[1];
    }
    if (splitAddress.Length >= 3)
    {
        add2 = splitAddress[1] + splitAddress[2];
    }
    if (Model.BillingAddress.StreetAddressEnabled && !string.IsNullOrEmpty(Model.BillingAddress.Address2))
    {
        addressLine += "" + add1;
    }
    if (!string.IsNullOrEmpty(Model.BillingAddress.Address1))
    {
        addressLine += ", " + Model.BillingAddress.Address1 + "/";
    }
    if (!string.IsNullOrEmpty(Model.BillingAddress.HouseNumber))
    {
        addressLine += Model.BillingAddress.HouseNumber;
    }
    if (!string.IsNullOrEmpty(Model.BillingAddress.ZipPostalCode))
    {
        addressLine += ", " + Model.BillingAddress.ZipPostalCode;
    }
    if (!string.IsNullOrEmpty(add2))
    {
        addressLine += ", " + add2;
    }
    var addressTypeClass = "add_type_other";
    if (Model.BillingAddress.Landmark != null && Model.BillingAddress.Landmark.Equals(T("NB.Address.Home").ToString()))
    {
        addressTypeClass = "add_type_home";
    }
    else if (Model.BillingAddress.Landmark != null && Model.BillingAddress.Landmark.Equals(T("NB.Address.Office").ToString()))
    {
        addressTypeClass = "add_type_office";
    }
}
@if (Model.PrintMode)
{
    <script type="text/javascript" asp-location="Footer">
        $(document).ready(function () {
            window.print();
        });
    </script>
}

<script>
    var isTrackingMapLoaded = false;
</script>

<div class="page order-details-page">
    @if (!Model.PrintMode)
    {
        <div class="page-title">
            <h1>@T("Order.OrderInformation")</h1>
        </div>
    }
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = "orderdetails_page_top", additionalData = Model.Id })

        <section class="order-details-area">

            @*******Order status Area Starts****** *@
            <ul class="order_id_status">
                <li class="col-md-3">
                    <h3> @T("Nb.Order.Id") </h3>
                    <span class="order_id_details"><label>@T("Order.Order#"):</label>@Model.CustomOrderNumber</span>
                </li>
                <li class="col-md-3">
                    <h3>@T("Nb.Order.DateTime")</h3>
                    <span class="order_id_details order-date"> @Model.CreatedOn.ToString("D")</span>
                </li>
                <li class="col-md-3">
                    <h3>@T("Order.OrderStatus")</h3>
                    <span id="order_status" class="order_id_details order_status @Model.OrderStatus"> @Model.OrderStatus</span>
                </li>
                <li class="col-md-3">
                    <h3>@T("Order.OrderAmount")</h3>
                    <span class="order_id_details order_total">@Model.OrderTotal</span>
                </li>
            </ul>
            @* ******Order status Area Ends****** *@

            @*******Address Area Starts****** *@
            <div class="address_section">
                <ul class="billing-info col-md-6">
                    <li>
                        <h3>
                            @if (Model.OrderTypeId == 1)
                            {
                                @T("Nb.Order.Delivery.Address")
                            }
                            else
                            {
                                @T("Nb.Order.Billing.Address")
                            }
                        </h3>
                    </li>
                    <li class="title home_add @(addressTypeClass)">
                        <strong>@Model.BillingAddress.Landmark</strong>
                    </li>
                    <li class="name">
                        @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                    </li>
                    @if (!String.IsNullOrEmpty(addressLine))
                    {
                        <li class="address1">
                            @addressLine
                        </li>
                    }
                    @if (Model.BillingAddress.PhoneEnabled)
                    {
                        <li class="phone">
                            <span class="addressPhone">@T("Order.Phone"):</span> @Model.BillingAddress.PhoneNumber
                        </li>
                    }
                    @*  <li class="email">
            <span class="label">@T("Order.Email"):</span> @Model.BillingAddress.Email
        </li>*@

                    @*  @if (Model.BillingAddress.FaxEnabled)
        {
            <li class="fax">
                <span class="label">@T("Order.Fax"):</span> @Model.BillingAddress.FaxNumber
            </li>
        }
        @if (Model.BillingAddress.CompanyEnabled && !String.IsNullOrEmpty(Model.BillingAddress.Company))
        {
            <li class="company">
                @Model.BillingAddress.Company
            </li>
        }*@
                    @* @if (!String.IsNullOrEmpty(Model.BillingAddress.Address2))
        {
            <li class="address2">
                @Model.BillingAddress.Address2
            </li>
        }*@
                    @*@if (Model.BillingAddress.CityEnabled || Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled)
        {
            <li class="city-state-zip">
                @if (Model.BillingAddress.CityEnabled)
                {
                    @Model.BillingAddress.City
                }
                @if (Model.BillingAddress.CityEnabled && (Model.BillingAddress.StateProvinceEnabled || Model.BillingAddress.ZipPostalCodeEnabled))
                {
                    <text>,</text>
                }
                @if (Model.BillingAddress.StateProvinceEnabled)
                {
                    @Model.BillingAddress.StateProvinceName
                }
                @if (Model.BillingAddress.ZipPostalCodeEnabled)
                {
                    @Model.BillingAddress.ZipPostalCode
                }
            </li>
        }
        @if (Model.BillingAddress.CountryEnabled && !String.IsNullOrEmpty(Model.BillingAddress.CountryName))
        {
            <li class="country">
                @Model.BillingAddress.CountryName
            </li>
        }
        @if (!String.IsNullOrEmpty(Model.VatNumber))
        {
            <li class="vat">
                <span class="label">
                    @T("Order.VATNumber")
                </span>
                <span class="value">
                    @Model.VatNumber
                </span>
            </li>
        }*@
                    @if (!String.IsNullOrEmpty(Model.BillingAddress.FormattedCustomAddressAttributes))
                    {
                        <li class="custom-attributes-view">
                            @Html.Raw(Model.BillingAddress.FormattedCustomAddressAttributes)
                        </li>
                    }
                    @if (!String.IsNullOrEmpty(Model.PaymentMethod))
                    {
                        @* <li class="title">
                @T("Order.Payment")
            </li>
            <li class="payment-method">
                <span class="label">
                    @T("Order.Payment.Method"):
                </span>
                <span class="value">
                    @Model.PaymentMethod
                </span>
            </li>*@
                        @*  if (!Model.PrintMode)
            {
                <li class="payment-method-status">
                    <span class="label">
                        @T("Order.Payment.Status"):
                    </span>
                    <span class="value">
                        @Model.PaymentMethodStatus
                    </span>
                </li>
            }*@
                        if (!Model.PrintMode && Model.CanRePostProcessPayment)
                        {
                            @*Complete payment (for redirection payment methods)*@
                            <li class="repost">
                                <form asp-route="OrderDetails" method="post">
                                    <input type="submit" name="repost-payment" value="@T("Order.RetryPayment")" class="button-2 re-order-button" />
                                    <p class="hint">
                                        <em>@T("Order.RetryPayment.Hint")</em>
                                    </p>
                                </form>
                            </li>
                        }
                    }
                    @if (Model.CustomValues != null)
                    {
                        foreach (var item in Model.CustomValues)
                        {
                            <li class="custom-value">
                                <span class="label">
                                    @item.Key:
                                </span>
                                <span class="value">
                                    @(item.Value != null ? item.Value.ToString() : "")
                                </span>
                            </li>
                        }
                    }
                </ul>
                @*Restauran detail and addresss*@
                <ul class="billing-info col-md-6">
                    <li>
                        <h3>@T("NB.Order.RestaurantName")</h3>
                    </li>
                    <li class="title home_add">
                        @Model.MerchantName
                    </li>

                    <li>
                        @Model.MerchantAddress
                    </li>
                </ul>

            </div>
            @*******Address Area Ends****** *@
        </section>
        <div class="order_tracking_area">
            <h3>@T("NB.Order.LiveTracking")</h3>
            <div class="container">
                <div class="col-md-8 map_container">
                    @if (Model.ShowOrderTracking)
                    {
                        <!--Live tracking map-->
                        <div class="live_map">
                            <!-- OrderType: 1 = "Delivery", 2 = "Takeaway" --->
                            @if (Model.OrderTypeId == 1)
                            {

                                @await Html.PartialAsync("_NBRiderLiveTracking", Model.LiveTrackingModel)
                            }
                            else
                            {
                                <div class="tracking_msg">
                                    <span class="deliver orderTypeMsg"> <i class="la la-check-circle"> </i>@T("NB.Order.Tracking.OrderType.Takeaway.Title")</span>
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="col-md-4 tracking_steps">
                    <ul class="rider-tracking-details">
                        <li>
                            <!--Merchant info-->
                            <div id="tracking-merchant-info">
                                @await Html.PartialAsync("_TrackingRestaurantInfo", Model.LiveTrackingModel.RestauratTrakingInfo)
                            </div>
                        </li>
                        @if (Model.OrderTypeId == 1)
                        {
                            <li>
                                <!--Rider info-->
                                <div id="tracking-rider-info">
                                    @await Html.PartialAsync("_TrackingRiderInfo", Model.LiveTrackingModel.RiderTrakingInfo)
                                </div>
                            </li>
                        }
                        <li>
                            <!--Order status info-->
                            <div id="tracking-orderstatus-info">
                                @await Html.PartialAsync("_TrackingOrderStatusInfo", Model.OrderedTrackingStatuses)
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <script>

            //++++ SignalR ++++

            connection.on("updateTrackingProgress", (orderId) => {

                //check this order
                if (@Model.Id == parseInt(orderId)) {

                    //update riderInfo/orderStatusInfo panels
                     console.log('updateTrackingProgress: Invoked');
                     $.ajax({
                     cache: false,
                     type: "GET",
                     url: "@(Url.Action("UpdateTrackingProgress", "Order"))",
                     data: { orderId: orderId},
                     success: function (data) {
                              if (data.success) {
                                  //update panels
                                  $("#tracking-rider-info").html(data.riderInfoHtml);
                                  $("#tracking-rider-info").fadeIn(5000);
                                  $("#tracking-orderstatus-info").html("");
                                  $("#tracking-orderstatus-info").html(data.orderStatusInfoHtml);
                                  $("#tracking-orderstatus-info").fadeIn(5000);
                                  //update order status in detail section
                                  $("#order_status").html(data.orderStatus);
                                  $("#order_status").addClass(data.orderStatus);

                                  //when order type is 'delivery' & map is not yet loaded
                                  if (@Model.OrderTypeId == 1 && !isTrackingMapLoaded) {
                                      //now check if rider assigned in process, then referesh page to load map
                                      if ($('#riderId').length > 0) {
                                          location.reload();
                                      }
                                  }

                                  //if (data.isOrderDelivered) {
                                  //      displayBarNotification('Your order has been delivered!', 'success', 3500)
                                  //}
                              }else {
                                  console.log('Order Progress update Error: ' + data.message);
                              }

                         },
                         error: function () {
                             alert("Error while retrieving order progress!");
                         }
                     });
                }

            });

            //---- SignalR ----
            </script>
        </div>

        @*Items Summary*@
        @if (Model.Items.Count > 0)
        {
            <section class="products_section">
                <div class="title">
                    <h3>@T("Nb.Order.ItemSummary")</h3>
                </div>
                <div class="table-wrapper">
                    <table class="data-table item_summary_table">
                        @*<colgroup>
                                <col />
                                @if (Model.ShowSku)
                                {
                                    <col width="1" />
                                }
                                <col />
                                <col width="1" />
                                <col width="1" />
                                <col width="1" />
                            </colgroup>*@
                        <thead>
                            <tr>
                                <th></th>
                                @* @if (Model.ShowSku)
                                    {
                                        <th class="sku" data-hide="w410, w480, w580, w768">
                                            @T("Order.Product(s).SKU")
                                        </th>
                                    }*@
                                <th class="name" style="width:75%">
                                    <span class="productMobileName">@T("Order.ItemSummary")</span>
                                    <span class="productName">@T("Order.Product(s).Name")</span>
                                </th>
                                <th class="price" data-hide="w410, w480, w580">
                                    @T("Order.Product(s).Price")
                                </th>
                                @*<th class="quantity" data-hide="w410, w480, w580">
                                        @T("Order.Product(s).Quantity")
                                    </th>*@
                                <th class="total" data-hide="w410">
                                    @T("Order.Product(s).Total")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var counter = 0;}
                            @foreach (var item in Model.Items)
                            {
                                counter++;
                                <tr>
                                    <td style="display:none">
                                        <span class="item-count">@counter</span>
                                    </td>
                                    <td class="product">
                                        @if (!Model.PrintMode)
                                        {
                                            @*<em><a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a></em>*@
                                            <em>@item.ProductName</em>
                                        }
                                        else
                                        {
                                            @item.ProductName
                                        }
                                        @if (!String.IsNullOrEmpty(item.AttributeInfo))
                                        {
                                            <div class="attributes">
                                                @Html.Raw(item.AttributeInfo)
                                            </div>
                                        }
                                        @if (!String.IsNullOrEmpty(item.RentalInfo))
                                        {
                                            <div class="rental-info">
                                                @Html.Raw(item.RentalInfo)
                                            </div>
                                        }
                                        @if (item.DownloadId > 0)
                                        {
                                            <div class="download">
                                                <a href="@Url.RouteUrl("GetDownload", new { orderItemId = item.OrderItemGuid })">@T("DownloadableProducts.Fields.Download")</a>
                                            </div>
                                        }
                                        @if (item.LicenseId > 0)
                                        {
                                            <div class="download license">
                                                <a href="@Url.RouteUrl("GetLicense", new {orderItemId = item.OrderItemGuid})">@T("DownloadableProducts.Fields.DownloadLicense")</a>
                                            </div>
                                        }
                                        @await Component.InvokeAsync("Widget", new { widgetZone = "orderdetails_product_line", additionalData = item.Id })
                                    </td>
                                    <td class="unit-price">
                                        @item.UnitPrice X  @item.Quantity
                                    </td>
                                    <td class="total">
                                        @item.SubTotal
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                <div class="section totals">
                    <div class="total-info">
                        <table class="cart-total">
                            <tbody>
                                <tr>
                                    <td class="cart-total-left">
                                        <label>@T("nb.Order.SubTotal") </label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span>@Model.OrderSubtotal</span>
                                    </td>
                                </tr>
                                @if (Model.OrderTypeId == 1)
                                {
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@T("NB.Order.DeliveryAmount") </label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span><strong>@Model.DeliveryAmount</strong></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cart-total-left">
                                            <label>@T("NB.Order.TipAmount")</label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@Model.TipAmount</span>
                                        </td>
                                    </tr>
                                }
                                @if (!string.IsNullOrEmpty(Model.OrderTotalDiscount))
                                {
                                    <tr class="order_discount">
                                        <td class="cart-total-left">
                                            <label>@T("Order.TotalDiscount") </label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@Model.OrderTotalDiscount</span>
                                        </td>
                                    </tr>
                                }
                                @if (!string.IsNullOrEmpty(Model.OrderSubTotalDiscount))
                                {
                                    <tr class="order_discount">
                                        <td class="cart-total-left">
                                            <label>@T("Order.SubTotalDiscount") </label>
                                        </td>
                                        <td class="cart-total-right">
                                            <span>@Model.OrderSubTotalDiscount</span>
                                        </td>
                                    </tr>
                                }
                                @*@if (Model.IsShippable)
                                    {
                                        <tr>
                                            <td class="cart-total-left">
                                                <label>@T("Order.Shipping") </label>
                                            </td>
                                            <td class="cart-total-right">
                                                <span>@Model.OrderShipping</span>
                                            </td>
                                        </tr>
                                    }
                                      @if (!string.IsNullOrEmpty(Model.PaymentMethodAdditionalFee))
                                       {
                                           <tr>
                                               <td class="cart-total-left">
                                                   <label>@T("Order.PaymentMethodAdditionalFee") </label>
                                               </td>
                                               <td class="cart-total-right">
                                                   <span>@Model.PaymentMethodAdditionalFee</span>
                                               </td>
                                           </tr>
                                       }
                                       @if (Model.DisplayTaxRates && Model.TaxRates.Count > 0)
                                       {
                                           foreach (var taxRate in Model.TaxRates)
                                           {
                                               <tr style="display:none;">
                                                   <td class="cart-total-left">
                                                       <label>@string.Format(T("Order.TaxRateLine").Text, taxRate.Rate) </label>
                                                   </td>
                                                   <td class="cart-total-right">
                                                       <span>@taxRate.Value</span>
                                                   </td>
                                               </tr>
                                           }
                                       }
                                       @if (Model.DisplayTax)
                                       {
                                           <tr style="display:none;">
                                               <td class="cart-total-left">
                                                   <label>@T("Order.Tax"): @(Model.AppliedTaxRates)</label>
                                               </td>
                                               <td class="cart-total-right">
                                                   <span>@Model.Tax</span>
                                               </td>
                                           </tr>
                                       }
                                       @if (Model.GiftCards.Count > 0)
                                       {
                                           foreach (var gc in Model.GiftCards)
                                           {
                                               <tr>
                                                   <td class="cart-total-left">
                                                       <label>@string.Format(T("Order.GiftCardInfo").Text, gc.CouponCode) </label>
                                                   </td>
                                                   <td class="cart-total-right">
                                                       <span>@gc.Amount</span>
                                                   </td>
                                               </tr>
                                           }
                                       }
                                      <tr style="display:none;">
                                           <td class="cart-total-left">
                                               <label>@T("NB.Order.ServiceChargeAmountDukan")</label>
                                           </td>
                                           <td class="cart-total-right">
                                               <span>@Model.ServiceChargeAmount</span>
                                           </td>
                                       </tr>
                                       @if (Model.RedeemedRewardPoints > 0)
                                       {
                                           <tr>
                                               <td class="cart-total-left">
                                                   <label>@string.Format(T("Order.RewardPoints").Text, Model.RedeemedRewardPoints) </label>
                                               </td>
                                               <td class="cart-total-right">
                                                   <span>@Model.RedeemedRewardPointsAmount</span>
                                               </td>
                                           </tr>
                                       }*@
                                <tr class="order_subTotal">
                                    <td class="cart-total-left">
                                        <label><span class="total_txt">@T("Order.OrderTotal")</span> <span class="tax_include">@T("NB.Include.GST")</span></label>
                                    </td>
                                    <td class="cart-total-right">
                                        <span><strong>@Model.OrderTotal</strong></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

            <div class="section options" style="display:none;">
                @if (Model.Items.Count > 0 && Model.DisplayTaxShippingInfo)
                {
                    var inclTax = Model.PricesIncludeTax;
                    //tax info is already included in the price (incl/excl tax). that's why we display only shipping info here
                    //of course, you can modify appropriate locales to include VAT info there
                    <div class="tax-shipping-info">
                        @T(inclTax ? "Order.TaxShipping.InclTax" : "Order.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                    </div>
                }
                @if (!String.IsNullOrEmpty(Model.CheckoutAttributeInfo))
                {
                    <div class="selected-checkout-attributes">
                        @Html.Raw(Model.CheckoutAttributeInfo)
                    </div>
                }
                @if (!Model.PrintMode)
                {
                    <div class="actions">
                        @if (Model.IsReOrderAllowed)
                        {
                            <input type="button" value="@T("Order.Reorder")" class="button-1 re-order-button" onclick="setLocation('@Url.RouteUrl("ReOrder", new { orderId = Model.Id })    ')" />
                        }
                        @if (Model.IsReturnRequestAllowed)
                        {
                            <input type="button" value="@T("Order.ReturnItems")" class="button-2 return-items-button" onclick="setLocation('@Url.RouteUrl("ReturnRequest", new { orderId = Model.Id })    ')" />
                        }
                    </div>
                }
            </div>

        }
    </div>
</div>
