﻿@{
    Layout = "";
}
@model Nop.Plugin.Payments.WalletPay.Models.PaymentInfoModel

    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <strong style="font-weight:bold;">@Model.WalletBallance</strong> <h2> @T("Account.Wallet.CurrentWalletBalance")</h2>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    @Html.Raw(Model.DescriptionText)
                </p>
                <input type="hidden" name="OrderTotal" value="@Model.OrderTotal" />
            </td>
        </tr>
    </table>
