﻿@model IList<CategoryModel>

<input id="categoryId" type="hidden" value="-1" />
@if (Model.Count > 0)
{ 
    <div id="mySidenav" class="sidenav"> 
        <div class="leftTab">
            <div class="heading-leftTab cat ">
                <p class="merchant-left-Categories">@T("nb.category")</p>
            </div>
            <ul id="dataList" class="nav machentCategoryList">
                <li class="active"><a href="#bestsellers" idL="bestsellers">@T("NB.Admin.BestSeller")  (@Model.Select(x => x.NumberOfIsBestSellerProducts).FirstOrDefault())</a></li>
                @foreach (var item in Model)
                {
                    <li>
                        <a href="#@item.Id" idL="@item.Id">
                            @item.Name
                        </a>
                        @await Html.PartialAsync("_CategoryMenuMerchant", item.SubCategories)
                    </li>

                }
            </ul>
        </div>
    </div>
    <script>
        $(function () {
            //$(".machentCategoryList li a").each(function(){
            //    $(this).attr({"href":"#mId"+$(this).attr("id")});
            //});
            $(".machentCategoryList > li:first-child").addClass("active");
            $(".machentCategoryList li > .subCategory").slideDown();
            if (window.innerWidth < 992) {
                $(".machentCategoryList > li > a").click(function () {
                    $(".machentCategoryList > li").removeClass("active");
                    $(".subCategory li").removeClass("active");
                    $(".machentCategoryList li > .subCategory").slideUp();
                    $(this).parent("li").addClass("active");
                    $(this).siblings("ul").slideDown();
                    var scId = $(this).attr("idL");
                    if ($(".marchentTopFilter h2[cccatid=" + scId + "]").length > 0) {
                        $('html, body').animate({
                            scrollTop: $(".marchentTopFilter h2[cccatid=" + scId + "]").offset().top - 90
                        }, 1000)
                    }
                });
                $(".subCategory li a").click(function () {
                    $(".subCategory li").removeClass("active");
                    $(this).parent("li").addClass("active");
                    var scIdS = $(this).attr("idL");
                    if ($(".marchentTopFilter h2[cccatid=" + scIdS + "]").length > 0) {
                        $('html, body').animate({
                            scrollTop: $(".marchentTopFilter h2[cccatid=" + scIdS + "]").offset().top - 90
                        }, 1000)
                    }
                });
            } else {
                $(".machentCategoryList li a").click(function () {
                    $(".machentCategoryList li").removeClass("active");
                    $(".subCategory li").removeClass("active");
                    $(".machentCategoryList li > .subCategory").slideUp();
                    $(this).parent("li").addClass("active");
                    $(this).siblings("ul").slideDown();
                    var scId = $(this).attr("idL");
                    if ($(".marchentTopFilter h2[cccatid=" + scId + "]").length > 0) {
                        $('html, body').animate({
                            scrollTop: $(".marchentTopFilter h2[cccatid=" + scId + "]").offset().top - 260
                        }, 1000)
                    }
                });
                $(".subCategory li a").click(function () {
                    $(".subCategory li").removeClass("active");
                    $(this).parent("li").addClass("active");
                    var scIdS = $(this).attr("idL");
                    if ($(".marchentTopFilter h2[cccatid=" + scIdS + "]").length > 0) {
                        $('html, body').animate({
                            scrollTop: $(".marchentTopFilter h2[cccatid=" + scIdS + "]").offset().top - 260
                        }, 1000)
                    }
                });
            }

            $(document).ready(function () {
                $(document).on("scroll", onScroll);
                //smoothscroll
                $('.machentCategoryList li a[href^="#"]').on('click', function (e) {
                    e.preventDefault();
                    $('a').each(function () {
                        $(this).removeClass('active');
                    })
                    $(this).addClass('active');                    
                });
            });

            function onScroll(event) {
                var scrollPos = $(document).scrollTop();
                $('.machentCategoryList li a').each(function () {
                    var currLink = $(this);
                    var refElement = $(currLink.attr("href"));
                    if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
                        $('.machentCategoryList li a').removeClass("active");
                        currLink.addClass("active");
                        //$(".machentCategoryList li a").siblings().removeClass("active");
                    }
                    else {
                        currLink.removeClass("active");
                    }
                });
            }

        });
    </script>
    @*<script>


            $(function () {
                $(".machentCategoryList li a").click(function () {
                    $("#categoryId").val($(this).attr("idL"));
                    AjaxFilter.filterItems(1);
                })
            });
        </script>*@
    @*<script>

            $(document).ready(function () {
                $(document).on("scroll", onScroll);

                //smoothscroll
                $('a[href^="#"]').on('click', function (e) {
                    e.preventDefault();
                    $(document).off("scroll");

                    $('a').each(function () {
                        $(this).removeClass('active');
                    })
                    $(this).addClass('active');

                    var target = this.hash,
                        menu = target;
                    $target = $(target);
                    $('html, body').stop().animate({
                        'scrollTop': $target.offset().top + 2
                    }, 500, 'swing', function () {
                        window.location.hash = target;
                        $(document).on("scroll", onScroll);
                    });
                });
            });

            function onScroll(event) {
                var scrollPos = $(document).scrollTop();
                $('.machentCategoryList li a').each(function () {
                    var currLink = $(this);
                    var refElement = $(currLink.attr("href"));
                    if (refElement.position().top <= scrollPos && refElement.position().top + refElement.height() > scrollPos) {
                        $('.machentCategoryList li a').removeClass("active");
                        currLink.addClass("active");
                        //$(".machentCategoryList li a").siblings().removeClass("active");
                    }
                    else {
                        currLink.removeClass("active");
                    }
                });
            }
        </script>*@ 
      
}

