﻿@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;
<div class="footer">

    <div class="footer-upper">
        <div class="container">
            <div class="row">
                @*<div class="footer-block footer_logo col-md-4">
            <img src="/Themes/IndiaExpressV1/Content/img/logo.png" />
        </div>*@
                <div class="footer-block information col-md-3">
                    <div class="title">
                        <strong>@T("NB.Footer.About")</strong>
                    </div>
                    <ul class="list">
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                        {
                        <li>
                            <a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a>
                        </li>
                        } 
                    </ul>
                </div> 
                <div class="col-md-9">
                    @await Component.InvokeAsync("TopicBlock", new { systemName = "footerAddress" })
                </div>
                    @*<div class="footer-block footer_followUs col-md-3">
                <div class="social">
                    @await Component.InvokeAsync("SocialButtons")
                </div>
            </div>*@
                </div>
            </div>
    </div>
    <div class="footer-lower">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-info">
                        <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                        @if (Model.DisplayTaxShippingInfoFooter)
                        {
                            var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                            <span class="footer-tax-shipping">
                                @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                            </span>
                        }
                    </div>
                    @await Component.InvokeAsync("StoreThemeSelector")
                </div>
                <div class="col-md-6">
                    <span class="pow-footer">@T("NB.Powered.By")</span>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-riderseller">
        <div class="container">
            <div class="footer-block information col-md-12">
                <div class="title">
                    <strong>@T("NB.Footer.About")</strong>
                </div>
                <ul class="list">
                    @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                    {
                        <li>
                            <a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a>
                        </li>
                    }
                    <li>
                        <a href="@Url.RouteUrl("RegisterAgent")">@T("NB.Account.RegisterAgent")</a>
                    </li>
                    <li>
                        <a href="@Url.RouteUrl("RegisterSeller")">@T("NB.Account.RegisterSeller")</a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="footer-info col-md-6">
                    <span class="footer-disclaimer">@T("Content.CopyrightNotice", DateTime.Now.Year, Model.StoreName)</span>
                    @if (Model.DisplayTaxShippingInfoFooter)
                    {
                        var inclTax = workContext.TaxDisplayType == TaxDisplayType.IncludingTax;
                        <span class="footer-tax-shipping">
                            @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = Html.GetTopicSeName("shippinginfo") }))
                        </span>
                    }
                </div>
                <div class="footer-block col-md-6">
                    <div class="social">
                        @await Component.InvokeAsync("SocialButtons")
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer })
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 769) {
                $(this).siblings('.list').slideToggle('slow');
            }
        });
    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1001) {
                $(this).siblings('.listbox').slideToggle('slow');
            }
        });
    });
</script>