﻿@model Nop.Web.Areas.Admin.Models.NB.QRCodeModel

<div asp-validation-summary="ModelOnly"></div>
<input asp-for="Id" type="hidden" />

<div class="content qRCode-content">
    <div class="form-horizontal">
        <nop-panels id="product-qRCode-panels2">
            <nop-panel asp-name="product-qRCode-info" asp-icon="fa fa-info" asp-title="@T("NB.Admin.QRCode.Info")" asp-hide-block-attribute-name="product-qRCode-info" asp-hide="false" asp-advanced="false">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="VendorId" />
                        </div>
                        <div class="col-md-8">
                            <nop-select asp-for="VendorId" asp-items="Model.AvailableVendor" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="ResturantContent" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="ResturantContent" />
                            <span asp-validation-for="ResturantContent"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="QRCodeLogoId" />
                        </div>
                        <div class="col-md-8" id="logo-block">
                            <nop-editor asp-for="QRCodeLogoId" />
                            <span asp-validation-for="QRCodeLogoId"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="WebsiteURL" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="WebsiteURL" />
                            <span asp-validation-for="WebsiteURL"></span>
                        </div>
                    </div>

                    <div class="download-pdf-div">
                        @if (Model.Id > 0)
                        {
                            <a class="btn btn-default bg-blue" href="@Url.Action("CreatePDFFile", "NBQRCode", new { qrCodeId = Model.Id })">
                                @T("NB.QRCode.PDF.Download.Link")
                            </a>
                        }
                    </div>
                </div>
            </nop-panel>
        </nop-panels>
    </div>
</div>
