@model Nop.Web.Areas.Admin.Models.NB.QRCodeModel

@{
    //page title
    ViewBag.Title = T("NB.Admin.QRCode.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("QRCode");
}

<form asp-controller="NBQRCode" asp-action="CreateQRCode" method="post" id="qRCode-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.QRCode.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List" asp-controller="NBQRCode">@T("NB.Admin.QRCode.BackToQRCode")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdateQRCode", Model)
</form>
