﻿@model Nop.Web.Areas.Admin.Models.NB.QRCodeModel

<table>
    <tr>
        <td><div><img src="@Model.LogoURL" alt="logourl" width='200' height='100'></div><div>@Model.VendorName</div></td>
    </tr>
    <tr>
        <td>@Model.ResturantContent</td>
    </tr>
    <tr>
        <td>@T("NB.Admin.QRCode.PDF.Text1")</td>
    </tr>
    <tr>
        <td>@T("NB.Admin.QRCode.PDF.Text2")</td>
    </tr>
    <tr>
        <td>@T("NB.Admin.QRCode.PDF.Text3")</td>
    </tr>
    <tr>
        <td>@T("NB.Admin.QRCode.PDF.Text4")</td>
    </tr>
    <tr>
        <td><img src="@Model.QRCodeURL" alt="qrcodeurl" width='200' height='100'></td>
    </tr>
    <tr>
        <td><div>@T("NB.Admin.QRCode.PDF.Text5")</div><div>@Model.WebsiteURL</div></td>
    </tr>
    <tr>
        <td>@T("NB.Admin.QRCode.PDF.Text6")</td>
    </tr>
    <tr>
        <td>@T("NB.Admin.QRCode.PDF.Text7")</td>
    </tr>
</table>