﻿@model SMSMessageTemplateModel

@{
    Layout = Constants.AdminLayoutViewPath;

    Html.SetActiveMenuItemSystemName("Resanehlab.PhoneAuthentication.SMSMessageTemplate");

    ViewBag.Title = T("Resanehlab.Plugin.Authentication.PhoneNumber.EditDetails").Text;
}

<form method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Resanehlab.Plugin.Authentication.PhoneNumber.EditDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-route="Resanehlab.Plugin.Authentication.PhoneNumber.SMSMessageTemplate.List">@T("Resanehlab.Plugin.Authentication.PhoneNumber.SMSMessageTemplate.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="smsmessagetemplate-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Resanehlab.Authentication.PhoneAuthentication/Views/SMSMessageTemplateAdmin/_CreateOrUpdate.cshtml", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="smsmessagetemplate-delete" asp-route="Resanehlab.Plugin.Authentication.PhoneNumber.SMSMessageTemplate.Delete" />