@model ReviewTypeModel

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ProductReviewTypeTop, additionalData = Model })
            <div class="panel panel-default">
                <div class="panel-body">
                    @(Html.LocalizedEditor<ReviewTypeModel, ReviewTypeLocalizedModel>("review-type-localized",
                    @<div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="@Model.Locales[item].Name" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="@Model.Locales[item].Name" />
                                <span asp-validation-for="@Model.Locales[item].Name"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="@Model.Locales[item].Description" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="@Model.Locales[item].Description" asp-template="RichEditor" />
                                <span asp-validation-for="@Model.Locales[item].Description"></span>
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                    </div>
                    ,
                    @<div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="Name" asp-required="true" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="Description" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="Description" asp-required="true" asp-template="RichEditor" />
                                <span asp-validation-for="Description"></span>
                            </div>
                        </div>
                    </div>
                    ))
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="DisplayOrder" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="DisplayOrder" />
                            <span asp-validation-for="DisplayOrder"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="IsRequired" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="IsRequired" />
                            <span asp-validation-for="IsRequired"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <nop-label asp-for="VisibleToAllCustomers" />
                        </div>
                        <div class="col-md-8">
                            <nop-editor asp-for="VisibleToAllCustomers" />
                            <span asp-validation-for="VisibleToAllCustomers"></span>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ProductReviewTypeBottom, additionalData = Model })
        </div>
    </div>
</div>