@model OrderNotificationModel
@using Nop.Web.Areas.Admin.Models.NB.Common
@using Nop.Core.Domain.Tax

@{
    var orderEdit = Url.Action("Edit", "Order", new { Id = Model.Id });
}
<div class="modal orderPopupBox" id="modalDialog-@Model.Id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title modal-title-@Model.Id">@T("NB.WebFCMNotification.Fields.OrderTitle")</h5>
                <button type="button" class="close" onclick="closePopup()" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body-@Model.Id">
                <p>@T("NB.WebFCMNotification.Fields.OrderBody")</p>
                <br />

                <table>
                    <tr>
                        <td colspan='2' align='center'>
                            <span class='totalNum'>@Model.OrderTotal</span> <br /><span class='totalText'> @T("Account.CustomerOrders.OrderTotal")</span> <br />
                        </td>
                    </tr>
                    <tr>
                        <td><label>@T("NB.Admin.Notification.OrderNumber")</label></td>
                        <td>@Model.OrderNumber</td>
                    </tr>
                    <tr>
                        <td><label>@T("NB.Admin.Notification.CustomerName")</label></td>
                        <td>@Model.CustomerName</td>
                    </tr>
                    <tr>
                        <td><label>@T("NB.Admin.Notification.CreatedOn")</label></td>
                        <td>@Model.CreatedOn</td>
                    </tr>
                    <tr>
                        <td colspan="0"><a href="@orderEdit">@T("NB.Admin.Notification.OrderLink")</a></td>
                    </tr>
                </table>

                @*//product*@
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @T("Admin.Orders.Products.ProductName")
                            </th>
                            <th>
                                @T("Admin.Orders.Products.Price")
                            </th>
                            <th>
                                @T("Admin.Orders.Products.Quantity")
                            </th>
                            <th>
                                @T("Admin.Orders.Products.Total")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td style="width: 15%;" class="text-left">
                                    <em><a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId">@item.ProductName</a></em>
                                    @if (!string.IsNullOrEmpty(item.AttributeInfo))
                                    {
                                        <p>
                                            @Html.Raw(item.AttributeInfo)
                                        </p>
                                    }
                                </td>

                                <td style="width: 15%;" class="text-center">
                                    @if (Model.AllowCustomersToSelectTaxDisplayType)
                                    {
                                        <div>@item.UnitPriceInclTax</div>
                                        <div>@item.UnitPriceExclTax</div>
                                    }
                                    else
                                    {
                                        switch (Model.TaxDisplayType)
                                        {
                                            case TaxDisplayType.ExcludingTax:
                                                {
                                                    @item.UnitPriceExclTax
                                                }
                                                break;
                                            case TaxDisplayType.IncludingTax:
                                                {
                                                    @item.UnitPriceInclTax
                                                }
                                                break;
                                            default:
                                                break;
                                        }
                                    }
                                </td>
                                <td style="width: 10%;" class="text-center">
                                    <div>@item.Quantity</div>
                                </td>
                                <td style="width: 15%;" class="text-center">
                                    @if (Model.AllowCustomersToSelectTaxDisplayType)
                                    {
                                        <div>@item.SubTotalInclTax</div>
                                        <div>@item.SubTotalExclTax</div>
                                    }
                                    else
                                    {
                                        switch (Model.TaxDisplayType)
                                        {
                                            case TaxDisplayType.ExcludingTax:
                                                {
                                                    @item.SubTotalExclTax
                                                }
                                                break;
                                            case TaxDisplayType.IncludingTax:
                                                {
                                                    @item.SubTotalInclTax
                                                }
                                                break;
                                            default:
                                                break;
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" onclick="ChangeOrderStatus(false, @(Model.Id))">
                    @T("NB.Admin.Alert.Popup.Button.Order.Cancel")
                </button>
                <button class="btn btn-primary" data-dismiss="modal" onclick="ChangeOrderStatus(true, @(Model.Id))">
                    @T("NB.Admin.Alert.Popup.Button.Order.Confirm")
                </button>
            </div>
        </div>
    </div>
</div>