﻿@using Nop.Core.Domain.Orders;

<div id="orderPopupContainer">
    @*popup model html will append in this div*@
</div>

<audio id="notifyAudioPlayer" controls loop style="display:none">
    <source src="~/Audio/audio1.ogg" type="audio/ogg">
</audio>

<script>
    //++++ SignalR ++++

    //order placed notification
    connection.on("orderPlacedNotifyRequest", (orderId) => {

        console.log("InvokeOrderPlacedNotifySignalR OrderId: " + orderId)
        //check to show notification to current user (if user is merchant, and current order belongs to this merchant)

        showOrderNotificationToUser(orderId);
    });

    //---- SignalR ----

    function ChangeOrderStatus(status, orderId) {
        stopAudio();
        var statusId = 0;
        if (status == false)
            statusId =@((int)OrderStatus.Cancelled);
        else
            statusId =@((int)OrderStatus.Confirmed);

            var oId = orderId;
            var osId = statusId;

        $.ajax({
            cache: false,
            dataType: 'json',
            contentType: "application/json;charset=utf-8",
            type: "GET",
            url: "/Admin/Order/ChangeOrderStatus",
            data: {orderId: oId, orderStatusId: osId},
            success: function (data, textStatus, jqXHR) {
                //update order pending list async
                loadPendingOrders();
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        });
    }

    async function getOrderDetails(orderId, isOrderNotification) {

        //popup appends promise
        Promise.all([appendOrderPopup(orderId)]).then(() => {

            if (isOrderNotification) {
                //play notification sound
                playAudio();
            }

            //show model
            $('#modalDialog-' + orderId + '').modal('show');

            }).catch(() => {
                // all requests finished but one or more failed
                console.log('error while appending popup, OrderId: ' + orderId);
            })
    };

    //async js to append popup before loading it
    function appendOrderPopup(orderId) {
        return $.ajax({
            cache: false,
            type: "GET",
            url: "@(Url.Action("OrderNotificationPopup", "Order"))",
            data: { orderId: orderId },
            success: function (data) {
                if (data) {
                    //append model div
                    //check if model div already exist
                    if ($("#modalDialog-" + orderId).length == 0) {
                        $("#orderPopupContainer").append(data);
                    }
                }
                else {
                    alert('An error occurred');
                }
                },
                error: function () {
                    alert('An error occurred');
                }
            });
    }

    //async js to check current user is merchant and order belongs to him
    function showOrderNotificationToUser(orderId) {
        $.ajax({
        cache: false,
        type: "GET",
        url: "@(Url.Action("ShowOrderNotificationToUser", "Order"))",
        data: { orderId: orderId },
        success: function (data) {
            //alert(data);
            if (data) {
                orderPlacedNotifyProcess(orderId);
                }
            },
        
        error: function () {
            alert('An error occurred');
            }
        });
    }

    function orderPlacedNotifyProcess(orderId) {

        //get order dettail and show popup
        getOrderDetails(orderId, true);

        //update order pending list async
        loadPendingOrders();
    }

    function closePopup() {
        //stop notification sound
        stopAudio();
    }

    function stopAudio() {
        var audioFile = document.getElementById("notifyAudioPlayer");
        audioFile.pause();
    }

    function playAudio() {
        var playFile = document.getElementById("notifyAudioPlayer");
        //playFile.load();
        playFile.play();
    }

</script>