@model TopicModel

<div class="panel-body">
    @(Html.LocalizedEditor<TopicModel, TopicLocalizedModel>("topic-info-localized",
                                    @<div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <nop-label asp-for="@Model.Locales[item].Title" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="@Model.Locales[item].Title" />
                                                <span asp-validation-for="@Model.Locales[item].Title"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <nop-label asp-for="@Model.Locales[item].Body" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="@Model.Locales[item].Body" asp-template="RichEditor" />
                                                <span asp-validation-for="@Model.Locales[item].Body"></span>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                                    </div>
                                    ,
                                        @<div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <nop-label asp-for="Title" />
                                                </div>
                                                <div class="col-md-8">
                                                    <nop-editor asp-for="Title" />
                                                    <span asp-validation-for="Title"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <nop-label asp-for="Body" />
                                                </div>
                                                <div class="col-md-8">
                                                    <nop-editor asp-for="Body" asp-template="RichEditor" />
                                                    <span asp-validation-for="Body"></span>
                                                </div>
                                            </div>
                                        </div>
                                        ))
    @if (Model.Id > 0)
    {
        <div class="form-group">
            <div class="col-md-4">
                <nop-label asp-for="Url" />
            </div>
            <div class="col-md-8">
                <a href="@Model.Url">@Model.Url</a>
            </div>
        </div>
    }
</div>