﻿@model OrderDetailsModel
@{ 
    //signalR js
    Html.AddScriptParts("~/lib/signalr/signalr.js");
}
<div id="TrackLatestOrderBlock">
    <ul>
        <li id="alert_order_status" class="alert_order_status"> @Model.OrderStatus </li>
        <li class="alert_order_date">
            <span>@Model.CreatedOn.ToString("D")</span>
        </li>
        <li class="alert_order_track">
            <a href="javascript:void(0);" class="trackOrderBtn" onclick="setLocation('@Url.RouteUrl("OrderTracking", new { orderId = Model.Id })')">
                <i class="fa fa-angle-right"> </i>
            </a>
        </li>
        <li class="alert_order_close">
            <a href="javascript:void(0);" onclick="hideTrackBlock()">&times;</a>
        </li>
    </ul>
</div>
<script>
    function hideTrackBlock() {
        $('#TrackLatestOrderBlock').fadeOut();
    }

     //++++ SignalR ++++

     connection.on("updateTrackingProgress", (orderId) => {

         //check this order
         if (@Model.Id == parseInt(orderId)) {

              $.ajax({
              cache: false,
              type: "GET",
              url: "@(Url.Action("GetLatestTrackingOrderDetail", "Order"))",
              data: { orderId: orderId},
              success: function (data) {
                       if (data.success) {
                           //update order status
                           $("#alert_order_status").html(data.orderStatus);

                       }else {
                           console.log('Latest Order Progress update Error: ' + data.message);
                       }

                  },
                  error: function () {
                      console.log("Error while retrieving latest order progress!");
                  }
              });
         }

     });

     //---- SignalR ----
</script>