﻿@model int

@using Nop.Core;

@{
    //register CSS and JS
    Html.AddCssFileParts("~/lib/fineuploader/fine-uploader.min.css");

    //other variables
    var random = CommonHelper.GenerateRandomInteger();
    var clientId = "document" + random;
}
<style>
    .document-upload-error {
        color: red;
    }

    .document-upload-sucess {
        color: forestgreen;
    }
</style>

<div id="@(clientId + "value")">
    <input type="hidden" asp-for="@Model" />
</div>
<div>
    <div class="upload-button-container">
        <input id="@clientId" type="file" />
        <input type="button" id="@(clientId + "button")" class="btn btn-success" value="Upload" formnovalidate style="display:none" />
    </div>
</div>
<div>
    <span id="@(clientId + "process-bar")" class="qq-drop-processing-selector qq-drop-processing" style="display:none">
        <span>@T("NB.Common.FileUploader.Processing")</span>
        <span id="@(clientId + "process-spinners")" class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <span id="@(clientId + "upload-status")" class="qq-upload-status-text-selector qq-upload-status-text"></span>
</div>

<script>
    //upload document script, which will set uploaded documentId in Model on sucessfull document upload
    function upload@(clientId)(input) {
        var inputId = $(input).prop("id");
        var files = $(input).prop("files");
        var filePath = input.val();

        //check file is choosen
        if (filePath.length == 0) {
            alert('Choose file to upload');
            return false;
        }

        //validate choosen document
        //var allowedExtensions = /(\.doc|\.docx|\.odt|\.pdf|\.tex|\.txt|\.rtf|\.wps|\.wks|\.wpd)$/i;
        //if (!allowedExtensions.exec(filePath)) {
        //    alert('Invalid file type');
        //    return false;
        //}

        var url = "/Customer/UploadDocument";
        formData = new FormData();
        formData.append("uploadedFile", files[0]);
        formData.append("callFromPublicSide", true);

        jQuery.ajax({
            type: 'POST',
            url: url,
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            success: function (responseJSON) {
                if (responseJSON.success) {
                    $("#@(clientId + "value") input").val(responseJSON.uploadedFileId);
                    $("#@(clientId + "upload-status")").html("" + responseJSON.message + "");
                    $("#@(clientId + "upload-status")").removeClass("document-upload-error");
                    $("#@(clientId + "upload-status")").addClass("document-upload-sucess");
                    $("#@(clientId + "upload-status")").show();
                    $("#@(clientId + "button")").hide();
                } else {
                    $("#@(clientId + "value") input").val(0);
                    $("#@(clientId + "upload-status")").html("" + responseJSON.message + "");
                    $("#@(clientId + "upload-status")").removeClass("document-upload-sucess");
                    $("#@(clientId + "upload-status")").addClass("document-upload-error");
                    $("#@(clientId + "upload-status")").show();
                    $("#@(clientId + "button")").show();
                }
            },
            beforeSend: function () {
                 $("#@(clientId + "process-bar")").show();
            },
            complete: function () {
                $("#@(clientId + "process-bar")").fadeOut();
            },
            error: function () {
                alert("Error occurs while uploading file");
            }
        });
    };

    $(document).ready(function () {
        $("#@(clientId + "button")").on('click', function () {
            $("#@(clientId + "upload-status")").hide();
            upload@(clientId)($('#@(clientId)'));
        })

          $("#@(clientId)").on('click', function () {
              $("#@(clientId + "button")").show();
        })
    });
</script>
