﻿<script asp-location="Footer">
    $(document).ready(function () {
        $('#eu-cookie-bar-notification').show();

        $('#eu-cookie-ok').on('click', function () {
            $.ajax({
                cache: false,
                type: "POST",
                url: "@Url.RouteUrl("EuCookieLawAccept")",
                dataType: "json",
                data: {
                    analiticalpurpose: $("#analitical-purpose").prop('checked'),
                    marketingpurpose: $("#marketing-purpose").prop('checked'),
                    userssatisfaction: $("#users-satisfaction").prop('checked')
                },
                success: function (data, textStatus, jqXHR) {
                    $('#eu-cookie-bar-notification').hide();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Cannot store value');
                }
            });
        });
    });
</script>
<div id="eu-cookie-bar-notification" class="eu-cookie-bar-notification">
    <div class="content">
        <div class="text">@T("EUCookieLaw.Description2") </div>
        <div class="buttons-more">
            <button type="button" class="ok-button button-1" id="eu-cookie-ok">@T("Common.OK")</button>
        </div>
    </div>
</div>