﻿@model MerchantCategoryModel

@if (Model.Id > 0)
{
<div class="panel-body">
    @await Html.PartialAsync("Table", new DataTablesModel
{
    Name = "merchants-grid",
    UrlRead = new DataUrl("MerchantCategoryMerchantList", "NBMerchantCategory", new RouteValueDictionary { [nameof(Model.MerchantCategoryMerchantSearchModel.MerchantCategoryId)] = Model.MerchantCategoryMerchantSearchModel.MerchantCategoryId, [nameof(Model.MerchantCategoryMerchantSearchModel.StoreId)] = Model.MerchantCategoryMerchantSearchModel.StoreId }),
    UrlDelete = new DataUrl("MerchantCategoryMerchantDelete", "NBMerchantCategory", null),
    Length = Model.MerchantCategoryMerchantSearchModel.PageSize,
    LengthMenu = Model.MerchantCategoryMerchantSearchModel.AvailablePageSizes,
    ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty(nameof(MerchantCategoryMerchantModel.VendorName))
            {
                Title = T("NB.Admin.MerchantCategoryMerchant.Fields.VendorName").Text
            },
            new ColumnProperty(nameof(MerchantCategoryMerchantModel.DisplayOrder))
            {
                Title = T("NB.Admin.MerchantCategoryMerchant.Fields.DisplayOrder").Text,
                Width = "150",
                ClassName = NopColumnClassDefaults.CenterAll
            },
            new ColumnProperty(nameof(MerchantCategoryMerchantModel.Id))
            {
                Title = T("Admin.Common.Delete").Text,
                Width = "100",
                Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                ClassName = NopColumnClassDefaults.Button
            }
        }
})
</div>
    <div class="panel-footer">
        <button type="submit" id="btnAddNewMerchant"
                onclick="javascript:OpenWindow('@(Url.Action("MerchantCategoryMerchantAddPopup", "NBMerchantCategory", new { merchantCategoryId = Model.Id,storeId = Model.StoreId, btnId = "btnRefreshMerchants", formId = "merchantCategory-form" }))', 800, 800, true); return false;"
                class="btn btn-primary">
            @T("NB.Admin.MerchantCategoryMerchant.Merchants.AddNew")
        </button>
        <input type="submit" id="btnRefreshMerchants" style="display: none" />
        <script>
            $(document).ready(function () {
                $('#btnRefreshMerchants').click(function () {
                    //refresh grid
                    updateTable('#merchants-grid');

                    //return false to don't reload a page
                    return false;
                });
            });
    </script>
</div>
}
else
{
    <div class="panel-body">
        @T("NB.Admin.MerchantCategory.Merchants.SaveBeforeEdit")
    </div>
}

