@model MerchantCategoryModel

@{
    //page title
    ViewBag.Title = T("NB.Admin.MerchantCategory.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("MerchantCategory");
}

<form asp-controller="NBMerchantCategory" asp-action="CreateMerchantCategory" method="post" id="merchantCategory-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.MerchantCategory.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List" asp-controller="NBMerchantCategory">@T("NB.Admin.MerchantCategory.BackToMerchantCategory")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
