﻿.foo{}
/*.google-login-block{display:inline;float:left;margin:5px;}*/
.google-btn{display: inline-block;background-image:url('images/google-signing.png'); background-repeat:no-repeat;width:154px;height:24px;}
