@model ProductAttributeSearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Catalog.Attributes.ProductAttributes").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Product attributes");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Catalog.Attributes.ProductAttributes")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
        @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.ProductAttributeListButtons })
    </div>
</div>

<div class="content">
    <div class="panel-group">
        <div class="panel panel-default panel-search">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-7">
                        @*<div class="form-group" @(Model.AvailableStores == null || Model.AvailableStores.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                            <div class="col-md-4">
                                <nop-label asp-for="SearchStores" />
                            </div>
                            <div class="col-md-8">
                                <nop-select asp-for="SearchStores" asp-items="Model.AvailableStores" />
                            </div>
                        </div>*@

                        <div class="form-group" @(Model.AvailableVendors == null || Model.AvailableVendors.Count == 0 ? Html.Raw("style=\"display:none\"") : null)>
                            <div class="col-md-4">
                                <nop-label asp-for="SearchVendor" />
                            </div>
                            <div class="col-md-8">
                                <nop-select asp-for="SearchVendor" asp-items="Model.AvailableVendors" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="button" id="search-products" class="btn btn-primary btn-search">
                                    <i class="fa fa-search"></i>
                                    @T("Admin.Common.Search")
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    @T("Admin.Catalog.Attributes.ProductAttributes.Description")
                </p>
                @await Html.PartialAsync("Table", new DataTablesModel
                {
                    Name = "products-grid",
                    UrlRead = new DataUrl("List", "ProductAttribute", null),
                               SearchButtonId = "search-products",
                    Length = Model.PageSize,
                    LengthMenu = Model.AvailablePageSizes,
                               Filters = new List<FilterParameter>
                               {
                                   new FilterParameter(nameof(Model.SearchStores)),
                                   new FilterParameter(nameof(Model.SearchVendor)),
                               },
                    ColumnCollection = new List<ColumnProperty>
                    {
                        new ColumnProperty(nameof(ProductAttributeModel.Name))
                        {
                            Title = T("Admin.Catalog.Attributes.ProductAttributes.Fields.Name").Text,
                            Width = "400"
                        },
                        new ColumnProperty(nameof(ProductAttributeModel.Id))
                        {
                            Title = T("Admin.Common.Edit").Text,
                            Width = "100",
                            ClassName =  NopColumnClassDefaults.Button,
                            Render = new RenderButtonEdit(new DataUrl("Edit"))
                        }
                    }
                })
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.SearchStores)").change(function () {
                var selectedItem = $(this).val();
                var ddlStates = $("#@Html.IdFor(model => model.SearchVendor)");
                var vendorProgress = $("#Vendor-loading-progress");
                vendorProgress.show();
                $.ajax({
                    cache: false,
                    type: "Get",
                    url: "@(Url.Action("GetVendorByStoreId", "ProductAttribute"))",
                    data: { "storeId": selectedItem},
                    success: function (data) {
                        ddlStates.html('');
                        $.each(data, function (id, option) {
                            ddlStates.append($('<option></option>').val(option.Id).html(option.Name));
                        });
                        vendorProgress.hide();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve vendor.');
                        vendorProgress.hide();
                    }
                });
            });
        });
</script>