@model PackageModel
@{
    //page title
    ViewBag.Title = T("NB.Admin.Package.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Packages");
}

<form asp-controller="NBPackage" asp-action="Create" method="post" id="category-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.Package.AddNew")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="PackageList">@T("NB.Admin.Package.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CategoryDetailsButtons })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>