@model PackageModel
@{
    //page title
    ViewBag.Title = T("NB.Admin.Package.EditPackageDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Packages");
}

<form asp-controller="NBPackage" asp-action="Edit" method="post" id="package-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("NB.Admin.Package.EditPackageDetails") - @Model.Name
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="PackageList">@T("NB.Admin.Package.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
           
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="package-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = AdminWidgetZones.CategoryDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="package-delete" />