﻿@model FeedbackModel
@using Nop.Web.Areas.Admin.Models.RatingReview

<div class="form-horizontal">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Admin.RatingReview.Common.Feedback")
            </div>
            <div class="panel-body">
                @foreach (var feedback in Model.FeedBackList)
                {
                    <div class="form-group">
                        <div class="col-md-4">
                            <div class="label-wrapper">
                                <label class="control-label">
                                    @feedback.Name
                                </label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-text-row">
                                @Html.Raw(feedback.Value)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
