﻿@model Nop.Web.Areas.Admin.Models.RatingReview.AgentRatingModel

@{
    //page title
    ViewBag.Title = T("Admin.RatingReview.AgentReviews.EditAgentReviewDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Agent");
}

<form asp-controller="RatingReview" asp-action="AgentEdit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.RatingReview.AgentReviews.EditAgentReviewDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="AgentList">@T("Admin.RatingReview.AgentReviews.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @if (!Model.IsLoggedInAsVendor)
            {
                //this button is not visible to vendors
                <span id="agentreview-delete" class="btn bg-red">
                    <i class="fa fa-trash-o"></i>
                    @T("Admin.Common.Delete")
                </span>
            }
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_agent_review_details_buttons", additionalData = Model.Id })
        </div>
    </div>
    <div class="content">
        <div class="form-horizontal">
            @await Html.PartialAsync("_CreateOrUpdateAgent", Model)
            @await Html.PartialAsync("_CreateOrUpdateFeedbacks", Model.FeedbackModel)
        </div>
    </div>
</form>
@if (!Model.IsLoggedInAsVendor)
{
    //this button is not visible to vendors
    <nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="agentreview-delete" />
}
