﻿@model ContactUsModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);
    //page class
    Html.AppendPageCssClassParts("html-contact-page");
}
<section class="loginSection signupSection clearfix">

    <div class="loginBox signupBox">
        <div class="login-header">
            <h2>@T("PageTitle.ContactUs")</h2>
        </div>

        <div class="formDetails clearfix">

            @await Component.InvokeAsync("TopicBlock", new { systemName = "ContactUs" })
            @await Component.InvokeAsync("Widget", new { widgetZone = "contactus_top" })
            @if (Model.SuccessfullySent)
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            else
            {
                <form asp-route="ContactUs" method="post">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="fieldset">
                        <div class="form-fields">
                            <div class="fieldBar clearfix">
                                <label asp-for="FullName" asp-postfix=":"></label>
                                <input asp-for="FullName" placeholder="@T("ContactUs.FullName.Hint")" class="fullname" />
                                <nop-required />
                                <span asp-validation-for="FullName"></span>
                            </div>
                            <div class="fieldBar clearfix">
                                <label asp-for="Email" asp-postfix=":"></label>
                                <input asp-for="Email" placeholder="@T("ContactUs.Email.Hint")" class="email" />
                                <nop-required />
                                <span asp-validation-for="Email"></span>
                            </div>
                            @if (Model.SubjectEnabled)
                            {
                            <div class="fieldBar clearfix">
                                <label asp-for="Subject" asp-postfix=":"></label>
                                <input asp-for="Subject" placeholder="@T("ContactUs.Subject.Hint")" class="subject" />
                                <nop-required />
                                <span asp-validation-for="Subject"></span>
                            </div>
                            }
                            <div class="fieldBar clearfix">
                                <label asp-for="Enquiry" asp-postfix=":"></label>
                                <textarea asp-for="Enquiry" placeholder="@T("ContactUs.Enquiry.Hint")" class="enquiry"></textarea>
                                <nop-required />
                                <span asp-validation-for="Enquiry"></span>
                            </div>
                            @if (Model.DisplayCaptcha)
                            {
                                <div class="captcha-box">
                                    <nop-captcha />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="buttons">
                        <input type="submit" name="send-email" class="button-1 contact-us-button" value="@T("ContactUs.Button")" />
                    </div>
                </form>
            }
            @await Component.InvokeAsync("Widget", new { widgetZone = "contactus_bottom" })
        </div>
    </div>
 </section>
